/** GENERAL **/
$color_pink: #F04D98;
$color_blue: #0E549F;
$color_brown: #454545;
$font_bit: 'Bitter', serif;
$font_str: "stratos", sans-serif;
$font_str_light: "stratos-lights", sans-serif;

@mixin breakpoint_min($point) {
	@media (min-width: $point)  { @content; }
}

@mixin breakpoint_max($point) {
	@media (max-width: $point)  { @content; }
}

body {
	font-family: "stratos", sans-serif;
	font-size: 16px;
	color: $color_brown;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: $font_bit;
	font-weight: 700;
	color: $color_blue;
}

h1, .h1 {
	font-size: 72px;
	line-height: 86px;
}

h2, .h2 {
	font-size: 64px;
	line-height: 77px;
}

h3, .h3 {
	font-size: 32px;
	line-height: 38px;
}

h4, .h4 {
	font-size: 24px;
	line-height: 29px;
}

p {
	line-height: 19px;
}

ul:not([class]) li,
ol:not([class]) li {
	line-height: 19px;
}

ul:not([class]) {
	margin: 0 0;
	padding: 0;
	list-style: none;
	li {
		position: relative;
		padding: 0 0 5px 20px;
		&:before {
			content: '';
			width: 5px;
			height: 5px;
			position: absolute;
			top: 7px;
			left: 0;
			border-radius: 50%;
			background-color: $color_blue;
		}
	}
}

a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

a {
	color: $color_blue;
}

img {
	max-width: 100%;
	height: auto;
}

ul.menu,
ul.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.text-blue {
	color: $color_blue;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

@include breakpoint_min(1440px) {
	.container {
		max-width: 1400px;
	}
}

@include breakpoint_max(991px) {
	h1, .h1,
	h2, .h2 {
		font-size: 48px;
    	line-height: 58px;
	}
}
/** END GENERAL **/

/** WP DEFAULT **/
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

@media (max-width: 575px) {
	.aligncenter, .alignright, .alignleft, .alignnone {
		display: block;
		float: none;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
}
/** END WP DEFAULT **/

/** BUTTON **/
input, button {
	outline: none !important;
	box-shadow: none !important;
}

.btn {
	min-width: 200px;
	border: 0;
	border-radius: 25px;
	padding: 9px 20px;
	font-family: $font_bit;
	font-size: 24px;
	font-weight: 700;
	transition: .25s;
	&.btn {
		&--primary {
			background-color: $color_pink;
			color: #fff;
			&:hover {
				background-color: #fff;
				color: $color_pink;
			}
		}
		&--secondary {
			background-color: #fff;
			color: $color_blue;
			&:hover {
				background-color: #D5D5D5;
				color: #fff;
			}
		}
		&--blue {
			background-color: $color_blue;
			color: #fff;
			&:hover {
				background-color: $color_pink;
				color: #fff;
			}
		}
	}

	@include breakpoint_max(575px) {
		font-size: 18px;
	}
}
/** END BUTTON **/

/** FORM **/
div.gform_wrapper {
	margin: 0;

	::-webkit-input-placeholder {
		color: $color_brown;
	}

	::-moz-placeholder {
		color: $color_brown;
	}

	:-ms-input-placeholder {
		color: $color_brown;
	}

	:-moz-placeholder {
		color: $color_brown;
	}

	form {
		position: relative;
		margin: 0;

		input[type="text"],
		textarea,
		select {
			display: block;
			width: 100% !important;
			height: 53px !important;
			border: 1px solid #D5D5D5 !important;
			background-color: transparent !important;
			margin: 0 !important;
			padding: 0 20px !important;
		}

		textarea {
			height: 184px !important;
			padding: 10px 20px !important;
			resize: vertical;
		}
	}

	ul.gform_fields {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px !important;

		> li {
			width: 100% !important;
			max-width: 100% !important;
			padding: 0 8px !important;
			margin: 0 0 20px !important;
			border: 0 !important;
			background-color: transparent !important;
		}
	}

	div.ginput_container,
	div.gform_footer {
		margin: 0 !important;
		padding: 0 !important;
	}

	div.gfield_description {
		padding: 5px 0 0 !important;
	}

	div.validation_error {
		margin: 0 0 20px !important;
		padding: 0 !important;
		border: 0 !important;
	}

	@include breakpoint_min(768px) {
		ul.gform_fields {
			> li {
				&.gf_left_half,
				&.gf_right_half {
					width: 50% !important;
				}
			}
		}
	}
}
/** END FORM **/

/** SLICK SLIDE **/
.slick-slider {
	button.slick-arrow {
		position: absolute;
		top: 50%;
		width: 0;
		height: 0;
		border: 0;
		padding: 0;
		margin-top: -10px;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		background-color: transparent;
		text-indent: -999px;
		overflow: hidden;
		z-index: 100;
		
		&.slick-prev {
			left: 0;
			border-right: 16px solid #D5D5D5;
		}

		&.slick-next {
			right: 0;
			border-left: 16px solid #D5D5D5;
		}
	}

	.slick-slide {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&.equal-height {
		.slick-list,
		.slick-track {
			height: 100%;
		}

		.slick-track {
			display: flex;

			&:before,
			&:after {
				display: none;
			}

			.slick-slide {
				height: auto;
			}
		}
	}
}
/** END SLICK SLIDE **/

/** HEADER **/
#header {
	position: relative;
	background-color: #fff;
	border-top: 5px solid $color_pink;
	z-index: 200;

	.header {
		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			min-width: 150px;
			padding: 3px 10px 8px;
			border-bottom-left-radius: 10px;
			background-color: $color_pink;
			font-size: 18px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 500;
			z-index: 1;

			&:hover {
				background-color: $color_blue;
			}
		}

		&__topbar {
			padding-top: 4px;
			padding-right: 150px;

			ul.menu {
				li {
					margin-right: 25px;

					a {
						font-size: 18px;
						color: $color_brown;
						text-transform: uppercase;
						font-weight: 500;

						&:hover {
							color: $color_pink;
						}
					}
				}
			}
		}

		&__main {
			padding: 40px 0 5px;

			a.logo {
				position: absolute;
				top: 40px;
				left: 40px;
			}

			button.toogle-menu {
				position: relative;
				width: 30px;
				height: 18px;
				border: 0;
				padding: 0;
				background-color: transparent;

				span {
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					border-radius: 20px;
					background-color: $color_blue;
				}

				&.collapsed {
					span {
						&:nth-child(1) {
							top: 0;
						}

						&:nth-child(2) {
							top: 50%;
							margin-top: -1px;
						}

						&:nth-child(3) {
							bottom: 0;
						}
					}
				}
				&:not(.collapsed) {
					span {
						&:nth-child(1),
						&:nth-child(3) {
							top: 50%;
							margin-top: -1px;
						}

						&:nth-child(2) {
							opacity: 0;
						}

						&:nth-child(1) {
							transform: rotate(45deg);
						}

						&:nth-child(3) {
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
	}

	@include breakpoint_max(1199px) {
		.header__main {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			padding: 20px 20px 30px 0;

			a.logo {
				top: 30px;
				left: 20px;
			}
		}
	}

	@include breakpoint_max(575px) {
		.header__button {
			min-width: 120px;
			font-size: 16px;
		}

		.header__topbar {
			padding-right: 120px;

			ul.menu li a {
				font-size: 16px;
			}
		}

		.header__main {
			padding-top: 26px;
		}
	}
}

#menu {
	ul.menu {
		li {
			position: relative;

			a {
				display: inline-block;
				transition: all .25s;
				-webkit-transition: all .25s;
			}
		}

		> li {
			> a {
				font-family: $font_bit;
				font-size: 18px;
				font-weight: 700;
				color: $color_blue;
			}
		}
	}

	ul.sub-menu {
		li {
			a {
				color: $color_brown;
				text-transform: uppercase;
			}
		}
	}

	button.toggle-submenu {
		position: absolute;
		top: 12px;
		right: -11px;
		width: 12px;
		height: 12px;
		border: 0;
		padding: 0;
		background-color: transparent;
		display: none;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #454545;
		}

		&:after {
			transform: rotate(90deg);
		}

		&.active {
			&:after {
				opacity: 0;
			}
		}

		&:not(.active) {
			&:after {
				opacity: 1;
			}
		}
	}

	@include breakpoint_min(1200px) {
		ul.menu {
			> li {
				padding: 0 30px 7px 15px;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 5px;
					background-color: $color_pink;
					transition: width .25s;
					-webkit-transition: width .25s;
				}

				&:hover {
					&:after {
						width: 100%;
					}

					> a {
						color: $color_pink;
					}

					> ul.sub-menu {
						margin-top: 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		ul.sub-menu {
			position: absolute;
			min-width: 230px;
			background-color: #FFFFFF;
			top: 100%;
			left: 0;
			margin-top: 20px;
			opacity: 0;
			visibility: hidden;
			transition: all .25s;
			-webkit-transition: all .25s;

			li {
				a {
					display: block;
					padding: 0 15px;
					line-height: 42px;
					white-space: nowrap;
				}

				&:hover {
					> a {
						background-color: #D5D5D5;
					}
				}
			}
		}
	}

	@include breakpoint_min(1560px) {
		ul.menu {
			> li {
				padding-right: 30px;
			}
		}
	}

	@include breakpoint_min(1600px) {
		ul.menu {
			> li {
				padding-right: 50px;
			}
		}
	}

	@include breakpoint_max(1199px) {
		width: 100%;

		ul.menu {
			padding: 40px 20px 0;

			li {
				a {
					display: block;
					padding: 5px 0;
				}
			}
		}

		ul.sub-menu {
			display: none;
		}

		button.toggle-submenu {
			display: block;
		}
	}
}

.is-sticky {
	#header {
		.header__topbar {
			display: none !important;
		}
		
		@include breakpoint_min(1200px) {
			.header__button {
				height: 59px;
			}

			.header__main {
				padding: 15px 158px 10px 0;

				a.logo {
					top: 12px;

					img {
						width: auto;
						height: 35px;
					}
				}
			}
		}

		@include breakpoint_max(1199px) {
			.header__button {
				height: 68px;
			}

			.header__main {
				button.toogle-menu {
					right: 158px;
				}

				a.logo {
					top: 15px;

					img {
						width: auto;
						height: 38px;
					}
				}
			}
		}

		@include breakpoint_max(575px) {
			.header__button {
				height: 74px;
			}

			.header__main {
				button.toogle-menu {
					right: 120px;
				}

				a.logo {
					img {
						height: 44px;
					}
				}
			}
		}
	}
}
/** END HEADER **/

/** FOOTER **/
#footer {
	background-color: #fff;
	
	.footer {
		&__main {
			background-color: $color_pink;
			padding: 30px 0;
			ul.menu {
				li {
					a {
						display: inline-block;
						font-family: $font_bit;
						font-size: 18px;
						font-weight: 700;
						color: #fff;
						&:hover {
							color: $color_blue;
						}
					}
				}

				button.toggle-submenu,
				ul.sub-menu {
					display: none;
					visibility: hidden;
				}
			}

			@include breakpoint_min(768px) {
				ul.menu {
					li {
						&:not(:first-child) {
							margin-left: 20px;
						}
					}
				}
			}

			@include breakpoint_max(1199px) {
				ul.menu {
					padding-top: 20px;
				}
			}
		}

		&__copyright {
			padding: 10px 0;

			ul.menu {
				> li {
					&:after {
						content: '|';
						display: inline-block;
						margin: 0 8px;
					}
				}
			}

			strong {
				font-weight: 500;
			}

			p {
				margin-bottom: 0;

				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
		.footer__copyright {
			ul.menu {
				margin-bottom: 5px;

				> li:last-child:after {
					display: none;
				}
			}
		}
	}
}
/** END FOOTER **/

/** section **/
ul.fancy-list {
	background-color: $color_blue;
	border-radius: 25px;
	padding: 0 26px;
	li {
		position: relative;
		padding: 18px 0 18px 70px;
		font-size: 24px;
		line-height: 29px;
		color: $color_pink;
		font-weight: 700;
		text-transform: uppercase;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 44px;
			height: 32px;
			margin-top: -16px;
			background-image: url(../svg/logo-icon-white.svg);
			background-repeat: no-repeat;
			background-position: 0;
			background-size: contain;
		}
		a {
			color: inherit;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #D5D5D5;
		}
	}
}
section {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/** END section **/

/** welcome **/
#welcome {
	position: relative;
	min-height: 660px;
	margin-top: 15px;

	.welcome {
		&__text {
			padding: 100px 0 100px 140px;
			font-size: 32px;
			opacity: 0;

			h1 {
				font-size: 76px;
    			line-height: 92px;
				margin-bottom: 50px;
			}

			p {
				max-width: 390px;
				margin-bottom: 0;
				line-height: 38px;
				color: $color_pink;
				text-transform: uppercase;
				font-weight: 500;
			}
		}

		&__slider {
			height: 500px;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: -moz-linear-gradient(-45deg,  rgba(213,213,213,1) 0%, rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(-45deg,  rgba(213,213,213,1) 0%,rgba(255,255,255,0) 100%);
				background: linear-gradient(135deg,  rgba(213,213,213,1) 0%,rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#00ffffff',GradientType=1 );
				z-index: 10;
			}

			&:after {
				content: '';
				width: 84px;
				height: 61px;
				position: absolute;
				bottom: 30px;
				right: 26px;
				background-image: url(../svg/logo-icon-white.svg);
				background-repeat: no-repeat;
				background-position: 0;
				z-index: 15;
			}

			.slick-list,
			.slick-track,
			.slick-slide {
				height: 100%;
			}

			.slick-slide {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}

	@include breakpoint_min(992px) {
		margin-bottom: 65px;

		.welcome__slider {
			position: absolute;
			top: 0;
			right: 0;
			width: 70%;
			height: 100%;
			border-radius: 102px 0 0 102px;
			z-index: 5;
		}

		.welcome__text {
			position: relative;
			width: 75%;
			max-width: 1050px;
			z-index: 10;
		}
	}

	@include breakpoint_max(1199px) {
		.welcome__text {
			padding-left: 70px;
		}
	}

	@include breakpoint_max(991px) {
		.welcome__text {
			padding: 100px 40px;

			h1 {
				font-size: 66px;
    			line-height: 84px;
			}
		}
	}

	@include breakpoint_max(575px) {
		.welcome__text {
			font-size: 24px;

			h1 {
				font-size: 48px;
				line-height: 58px;
			}

			p {
				line-height: 29px;
			}
		}

		.welcome__slider {
			height: 400px;
		}
	}
}
/** END welcome **/

/** the-platform **/
#the-platform {
	position: relative;
	color: #fff;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-color: $color_blue;
		z-index: 1;
	}

	.the-platform {
		&__inner {
			position: relative;
			background-color: $color_blue;
			padding: 50px 0;
			z-index: 10;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -70px;
				width: 70px;
				height: 100%;
				border-radius: 0 102px  102px 0;
				background-color: $color_blue;
			}
		}

		&__button {
			padding-top: 40px;
		}

		&__video {
			border: 1px solid #000000;
			opacity: 0;

			.wp-video {
				width: 100% !important;
				height: auto !important;
			}
		}
	}

	h2 {
		margin-bottom: 40px;
		color: inherit;
	}

	ul:not([class]) {
		li:before {
			background-color: #fff;
		}
	}

	.btn {
		margin: 0 20px 10px 0;
	}

	@include breakpoint_min(1200px) {
		.the-platform__video {
			position: absolute;
			right: 15px;
			//bottom: -100px;
			top: 50px;
			left: 15px;
			z-index: 10;
		}
	}

	@include breakpoint_min(1720px) {
		.the-platform__inner:after {
			right: -140px;
			width: 140px;
		}
	}

	@include breakpoint_max(1199px) {
		.the-platform__video {
			top: 0;
			margin-top: 50px;
		}
	}

	@include breakpoint_max(767px) {
		background-color: $color_blue;

		.the-platform__inner:after {
			display: none;
		}
	}
}
/** END the-platform **/

/** for-whom **/
#for-whom {
	padding: 140px 0 140px;
	.for-whom {
		&__heading {
			max-width: 640px;
			margin: 0 auto 70px;
			font-family: $font_str_light;

			h2 {
				margin-bottom: 20px;
			}
		}

		&__item {
			position: relative;
			margin-bottom: 65px;

			img {
				position: absolute;
				bottom: -14px;
				opacity: 0;
			}

			.text {
				min-height: 221px;
				border-radius: 40px 40px 0 0;
				padding-top: 34px;
				padding-bottom: 34px;
				margin-bottom: 6px;
				font-size: 18px;
				color: #fff;

				p {
					margin-bottom: 20px;
					color: inherit;

					&:not([class]) {
						line-height: 22px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.more {
				display: block;
				background-color: $color_pink;
				border-radius: 0 0 40px 40px;
				font-family: $font_bit;
				font-size: 24px;
				font-weight: 700;
				color: #fff;
				line-height: 61px;
			}

			&--left {
				img {
					left: -30px;
				}

				.text,
				.more {
					padding-right: 40px;
					padding-left: 244px;
				}
			}

			&--right {
				img {
					right: -30px;
				}

				.text,
				.more {
					padding-right: 244px;
					padding-left: 40px;
				}
			}

			&--1 {
				.text {
					background-color: $color_blue;
				}
			}

			&--2 {
				.text {
					background-color: $color_brown;
				}
			}

			&--3 {
				.text {
					background-color: #3CBBD4;
				}
			}

			&--4 {
				img {
					bottom: -30px;
				}
				.text {
					background-color: #FA9421;
				}
			}
		}
	}

	@include breakpoint_min(1200px) {
		.row {
			margin-left: -40px;
			margin-right: -40px;

			> div {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}

	@include breakpoint_max(575px) {
		padding: 120px 0;

		.for-whom__item {
			.more {
				font-size: 20px;
			}

			&--left {
				.text, 
				.more {
					padding-left: 210px;
				}
			}

			&--right {
				.text, 
				.more {
					padding-right: 210px;
				}
			}
		}
	}
}
/** END for-whom **/

/** two-buttons **/
section.two-buttons {
	padding: 80px 0 0;

	ul.menu {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&:before {
			content: '';
			display: block;
			width: 60px;
			height: 44px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -30px;
			background-image: url(../svg/logo-icon-color.svg);
			background-repeat: no-repeat;
			background-position: 0;
			background-size: contain;
		}

		> li {
			width: calc(50% - 75px);
			padding: 50px 50px;
	
			> a {
				display: inline-block;
				min-width: 340px;
				border-radius: 50px;
				font-family: $font_bit;
				font-size: 32px;
				color: #fff;
				line-height: 72px;
				white-space: nowrap;
				text-align: center;
				transition: .25s;
			}
	
			&:nth-child(1) {
				background-color: $color_pink;
				border-radius: 0 102px 102px 0;
				text-align: right;
	
				> a {
					background-color: $color_blue;
	
					&:hover {
						background-color: #fff;
						color: $color_pink;
					}
				}
			}
	
			&:nth-child(2) {
				background-color: $color_blue;
				border-radius: 102px 0 0 102px;
	
				> a {
					background-color: $color_pink;
	
					&:hover {
						background-color: #fff;
						color: $color_blue;
					}
				}
			}
		}
	}

	@include breakpoint_max(991px) {
		ul.menu {
			> li {
				width: calc(50% - 40px);
				padding: 30px 30px;
	
				> a {
					min-width: 100%;
					font-size: 24px;
					line-height: 54px;
				}
			}
		}
	}

	@include breakpoint_max(575px) {
		ul.menu {
			&:before {
				width: 40px;
    			height: 30px;
				margin-left: -20px;
			}
			
			> li {
				width: calc(50% - 30px);
				padding: 20px 20px;
				
				> a {
					font-size: 18px;
				}
			}
		}
	}
}
/** END two-buttons **/

/** about **/
#about {
	position: relative;
	background-color: #D5D5D5;
	padding: 230px 0 140px;

	.about {
		&__text {
			font-family: $font_str_light;

			h2 {
				margin-bottom: 50px;
			}

			.btn {
				margin-top: 30px;
			}
		}

		&__member {
			margin-bottom: 30px;
			text-align: center;

			img {
				display: block;
				width: 180px;
				height: 180px;
				border: 8px solid $color_blue;
				border-radius: 50%;
				margin: 0 auto 26px;
				object-fit: cover;
			}

			p {
				&.name {
					position: relative;

					&:after {
						content: '';
						display: block;
						width: 30px;
						height: 22px;
						margin: 15px auto;
						background-image: url(../svg/logo-icon-color.svg);
						background-repeat: no-repeat;
						background-position: 0;
						background-size: contain;
					}
				}

				&.position {
					color: #000000;
					text-transform: uppercase;
				}
			}
		}
	}

	section.two-buttons {
		position: absolute;
		top: -86px;
		left: 0;
		width: 100%;
		padding: 0;
	}

	@include breakpoint_min(1200px) {
		.container > .row {
			margin-left: -30px;
			margin-right: -30px;

			> div {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	@media (min-width: 1200px) and (max-width: 1399px) {
		.about__member {
			img {
				width: 150px;
				height: 150px;
				border-width: 6px;
			}
		}
	}

	@include breakpoint_max(1199px) {
		.about__text {
			margin-bottom: 60px;
		}
	}

	@include breakpoint_max(991px) {
		section.two-buttons {
			top: -57px;
		}
	}

	@include breakpoint_max(575px) {
		padding: 120px 0;

		section.two-buttons {
			top: -47px;
		}
	}
}
/** END about **/

/** partners **/
#partners {
	padding: 100px 0 100px;

	h2 {
		margin-bottom: 40px;
		color: #D5D5D5;
	}

	.partners {
		&__slider {
			padding: 0 40px;

			.slick-track {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				&:before,
				&:after {
					display: none;
				}
			}

			.slick-slide {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 20px;

				img {
					width: auto;
					max-height: 120px;
				}
			}
		}
	}
}
/** END partners **/

/** insights **/
.insights-grid {
	> div {
		padding-bottom: 50px;
	}
}

.insights-item {
	position: relative;

	.insights-item {
		&__photo {
			position: relative;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.insights-item {
		&--stack {
			min-height: 100%;
			padding-bottom: 180px;
			font-size: 18px;

			.insights-item {
				&__photo {
					padding-bottom: 56.25%;
					height: 0;
				}

				&__text {
					padding: 60px 40px 0;

					p {
						margin-bottom: 40px;

						&:not([class]) {
							line-height: 22px;
						}
					}
		
					.btn {
						position: absolute;
						right: 40px;
						bottom: 106px;
						left: 40px;
					}
				}
			}

			@include breakpoint_max(575px) {
				padding-bottom: 100px;

				.insights-item__text {
					padding: 40px 20px 0;

					.btn {
						right: 20px;
						bottom: 40px;
						left: 20px;
					}
				}
			}
		}

		&--inline {
			background-color: rgba($color: #D5D5D5, $alpha: 0.5);
			border-radius: 25px;
			overflow: hidden;
			transition: background-color .25s;

			.insights-item {
				&__photo {
					min-height: 260px;
				}

				&__text {
					position: relative;
					padding: 30px 30px 109px;
					font-family: $font_str_light;

					p {
						line-height: 20px;

						&.title {
							margin-bottom: 35px;
							font-size: 30px;
							line-height: 36px;

							a {
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}

					.btn {
						position: absolute;
						right: 30px;
						bottom: 30px;
						left: 30px;
						background-color: $color_pink;
						font-size: 21px;

						&:hover {
							background-color: $color_blue;
						}
					}
				}
			}

			&:hover {
				background-color: rgba($color: #D5D5D5, $alpha: 0.16);
			}

			@include breakpoint_min(768px) {
				display: flex;
				height: 100%;
				min-height: 310px;

				.insights-item {
					&__photo {
						width: 276px;
						order: 13;
					}

					&__text {
						width: calc(100% - 276px);
						order: -1;
					}
				}
			}
		}
	}
}

#insights {
	position: relative;
	padding: 0 20px;
	overflow: hidden;

	.insights {
		&__text {
			position: relative;
			background-color: $color_blue;
			padding: 140px 40px 180px 0;
			font-family: $font_str_light;
			color: #fff;
			opacity: 0;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 100%;
				width: 1000px;
				height: 100%;
				background-color: $color_blue;
			}

			h2 {
				font-size: 48px;
				line-height: 54px;
				margin-bottom: 60px;
				color: inherit;
			}

			img {
				display: block;
				width: 60px;
				height: auto;
				margin-bottom: 30px;
			}

			.btn {
				display: block;
				position: absolute;
				left: 0;
				bottom: 106px;
				right: 40px;
			}
		}

		&__slider {
			button.slick-arrow {
				top: 17%;
				margin-top: 0;
				padding: 0 10px;
			}
		}
	}

	@include breakpoint_min(1200px) {
		padding-left: 70px;
		padding-right: 70px;
	}

	@include breakpoint_min(1400px) {
		padding-left: 140px;
		padding-right: 140px;
	}

	@include breakpoint_max(1199px) {
		padding-left: 0;
		padding-right: 0;

		.insights__text {
			background-color: $color_blue;
			padding-left: 20px;
			padding-right: 20px;

			&:before {
				display: none;
			}

			.btn {
				left: 20px;
				right: 20px;
			}
		}
	}
}
/** END insights **/

/** newsletter **/
#newsletter {
	position: relative;
	background-color: $color_brown;
	padding: 0 20px;
	color: #fff;
	overflow: hidden;

	::-webkit-input-placeholder {
		color: #fff;
	}

	::-moz-placeholder {
		color: #fff;
	}

	:-ms-input-placeholder {
		color: #fff;
	}

	:-moz-placeholder {
		color: #fff;
	}
	
	div.gform_wrapper {
		form {
			input[type="text"],
			textarea {
				color: #fff;
			}
		}

		button.btn {
			min-width: 212px;
		}

		div.gfield_description,
		div.validation_error {
			color: #fff;
		}
	}
	
	.newsletter {
		&__socials {
			ul.menu {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				background-color: $color_pink;
				margin-left: -1000px;
				padding: 30px 0 30px 1000px;

				li {
					margin-left: 10px;

					span {
						display: inline-block;
						font-family: $font_bit;
						font-size: 22px;
						font-weight: 700;
					}

					img {
						width: 70%;
						height: auto;
					}

					&:first-child {
						margin-left: 0;
						margin-right: 10px;
					}
				}
			}
		}

		&__text {
			min-height: 100%;
			background-color: #D5D5D5;
			padding: 80px 40px;
			color: #454545;

			h3 {
				color: inherit;
				margin-bottom: 25px;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}

		&__form {
			padding: 100px 0;
		}
	}

	@include breakpoint_min(768px) {
		div.gform_wrapper {
			ul.gform_fields {
				position: relative;
				padding-right: 228px !important;

				li#field_1_4 {
					margin: 0 !important;
					padding: 0 !important;
					width: auto !important;
					position: absolute;
					top: 0;
					right: -85px;
					transform: scale(0.7);
					-webkit-transform: scale(0.7);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
				}
			}

			div.gform_footer {
				position: absolute;
				bottom: 20px;
				right: 0;
				width: auto;
			}
		}
	}

	@include breakpoint_min(1200px) {
		padding-left: 70px;
		padding-right: 70px;

		&:before {
			content: '';
			position: absolute;
			width: 30%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0.08;
			background-image: url(../svg/logo-pattern-white.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 70% auto;
			z-index: 1;
		}

		> .row {
			position: relative;
			z-index: 10;
		}

		.newsletter__socials {
			ul.menu {
				justify-content: flex-end;
				padding-right: 30px;
				padding-left: 0;
			}
		}

		.newsletter__form {
			padding-left: 40px;
		}
	}

	@include breakpoint_min(1400px) {
		padding-left: 140px;
		padding-right: 140px;

		.newsletter__socials {
			ul.menu {
				li {
					margin-left: 20px;

					span {
						font-size: 24px;
					}

					img {
						width: auto;
					}

					&:first-child {
						margin-right: 20px;
					}
				}
			}
		}
	}

	@include breakpoint_max(1199px) {
		.newsletter__socials {
			ul.menu {
				margin-right: -1000px;
				padding-right: 1000px;
			}
		}

		.newsletter__text {
			margin-left: -1000px;
			padding-left: 1000px;
		}
	}

	@include breakpoint_max(991px) {
		.newsletter__text {
			margin-right: -1000px;
			padding-right: 1000px;
		}
	}
}
/** END newsletter **/

/** page-title **/
#page-title {
	position: relative;
	border-radius: 50px 0 0 50px;
	margin-left: 20px;
	margin-bottom: 100px;
	overflow: hidden;

	.page-title {
		&__slider {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;

			.slick-slide {
				background-color: rgba(69, 69, 69, 0.66);
				background-blend-mode: multiply;
			}
		}

		&__title {
			position: relative;
			height: 465px;
			display: flex;
			flex-wrap: wrap;
			flex-flow: column;
			justify-content: center;
			padding: 100px 250px 100px 100px;
			z-index: 10;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 140px;
				width: 84px;
				height: 61px;
				background-image: url(../svg/logo-icon-white.svg);
				background-repeat: no-repeat;
				background-position: 0;
				background-size: contain;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}

			h1 {
				margin-bottom: 5px;
				color: #fff;
			}

			p {
				font-size: 32px;
				line-height: 38px;
				color: $color_pink;
				text-transform: uppercase;
			}
		}
		&__breadcrumd {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 140px;
			background-color: $color_blue;
			padding: 16px 100px;
			border-top-right-radius: 50px;
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
			z-index: 15;

			span, a {
				display: inline-block;
				color: inherit;
			}

			span.separator {
				margin: 0 10px;
			}
		}
	}

	@include breakpoint_min(1200px) {
		margin-left: 70px;
	}

	@include breakpoint_min(1400px) {
		margin-left: 140px;
	}

	@include breakpoint_max(1199px) {
		.page-title {
			&__title {
				padding-left: 70px;
				padding-right: 180px;
	
				&:after {
					right: 70px;
				}
			}

			&__breadcrumd {
				right: 70px;
				padding-left: 70px;
				padding-right: 70px;
			}
		}
	}

	@include breakpoint_max(991px) {
		margin-left: 20px;

		.page-title {
			&__title {
				padding-left: 40px;
				padding-right: 140px;
	
				&:after {
					right: 40px;
				}
			}

			&__breadcrumd {
				right: 40px;
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}

	@include breakpoint_max(575px) {
		.page-title {
			&__title {
				padding-right: 100px;
				
				&:after {
					width: 40px;
				}
	
				p {
					font-size: 26px;
					line-height: 30px;
				}
			}

			&__breadcrumd {
				font-size: 16px;
			}
		}
	}
}
/** END page-title **/

/** page-content **/
#page-content {
	padding-bottom: 150px;
}

.entry-content {
	h2 {
		margin-bottom: 20px;
		font-size: 48px;
		line-height: 58px;
	}

	h3 {
		margin-bottom: 10px;
	}

	h4 {
		margin-bottom: 5px;
		font-family: $font_str;
		color: #F04D98;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 20px;
	}

	ul:not([class]) {
		margin-bottom: 20px;
	}
}
/** END page-content **/

/** block-quote **/
.block-quote {
	padding: 140px 0 140px;

	h3 {
		margin-bottom: 40px;
	}

	div.container {
		max-width: 1100px;
	}

	.block-quote {
		&__author {
			position: relative;
			height: 251px;
			display: flex;
			flex-wrap: wrap;
			flex-flow: column;
			justify-content: center;
			padding-left: 271px;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 251px;
				height: 251px;
				border-radius: 50%;
				border: 8px solid $color_blue;
				object-fit: cover;
			}

			p {
				margin-bottom: 0;
				
				&.position {
					text-transform: uppercase;
				}
			}
		}
	}

	@include breakpoint_max(991px) {
		.row {
			> div:nth-child(1) {
				margin-bottom: 30px;
			}
		}
	}

	@media (max-width: 575px) {
		.block-quote__author {
			height: 150px;
			padding-left: 170px;

			img {
				width: 150px;
				height: 150px;
				border-width: 5px;
			}
		}
	}
}
/** END block-quote **/

/** book-appointment **/
section.book-appointment {
	position: relative;
	background-color: #D5D5D5;
	padding: 45px 0 85px;
	overflow: hidden;
	
	&:before {
		content: '';
		position: absolute;
		width: 900px;
		height: 816px;
		left: 0;
		top: 0;
		opacity: 0.14;
		background-image: url(../svg/logo-pattern-white.svg);
		background-repeat: no-repeat;
		background-position: 0;
		background-size: contain;
		z-index: 1;
	}

	h2 {
		margin-bottom: 35px;
	}

	.book-appointment {
		&__embed {
			max-width: 1077px;
			margin: 0 auto;
		}
	}
}
/** END book-appointment **/

/** contact **/
#contact {
	padding: 140px 0 140px;

	.contact {
		&__text {
			font-family: $font_str_light;

			h2 {
				margin-bottom: 40px;
			}
		}
	}

	div.gform_wrapper {
		ul.gform_fields {
			position: relative;
		}

		div.gform_footer {
			padding-top: 10px !important;
		}

		.btn.btn--primary {
			&:hover {
				background-color: $color_blue;
				color: #fff;
			}
		}
	}

	@include breakpoint_min(768px) {
		div.gform_wrapper {
			ul.gform_fields {
				li#field_2_6 {
					position: absolute;
					bottom: -86px;
    				right: 160px;
					width: auto !important;
					padding: 0 !important;
					margin: 0 !important;
					transform: scale(0.77);
					-webkit-transform: scale(0.77);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
				}
			}

			div.gform_footer {
				text-align: right;
			}
		}
	}

	@include breakpoint_max(991px) {
		.contact__text {
			margin-bottom: 30px;
		}
	}
}
/** END contact **/

/** block-intro-content**/
.block-intro-content {
	padding-bottom: 110px;

	@include breakpoint_min(1200px) {
		.row {
			> div:nth-child(1) {
				padding-right: 100px;
			}
		}
	}

	@include breakpoint_max(991px) {
		.row {
			> div:nth-child(1) {
				margin-bottom: 40px;
			}
		}
	}
}
/** END block-intro-content **/

/** people **/
#people {
	position: relative;
	background-color: #D5D5D5;
	padding: 60px 0 60px;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		width: 1384px;
		height: 1248px;
		top: 40px;
		left: 50%;
		opacity: 0.14;
		background-image: url(../svg/logo-pattern-white.svg);
		background-repeat: no-repeat;
		background-position: 0;
		background-size: contain;
		z-index: 1;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}

	h2 {
		margin-bottom: 70px;
	}

	.container {
		position: relative;
		z-index: 10;
	}

	.people__item {
		max-width: 390px;
    	margin: 0 auto 100px;

		img {
			display: block;
			width: 251px;
			height: 251px;
			border: 8px solid $color_blue;
			border-radius: 50%;
			margin: 0 auto 25px;
			object-fit: cover;
		}

		p {
			&.name {
				margin-bottom: 10px;
				text-align: center;
			}

			&.position {
				margin-bottom: 25px;
				font-family: $font_str;
				color: $color_pink;
				font-weight: 500;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}

	@include breakpoint_max(991px) {
		&:before {
			width: 900px;
			height: 816px;
		}
	}
}
/** END people **/

/** faq template **/
.faq-search {
	margin-bottom: 100px;
	form {
		position: relative;
		max-width: 1088px;
		border-radius: 25px;
		margin: 0 auto 50px;
		overflow: hidden;
		::-webkit-input-placeholder {
			color: #fff;
		}
		::-moz-placeholder {
			color: #fff;
		}
		:-ms-input-placeholder {
			color: #fff;
		}
		:-moz-placeholder {
			color: #fff;
		}
		input[type="text"] {
			width: 100%;
			height: 114px;
			border: 0;
			background-color: #D5D5D5;
			padding: 0 96px 0 177px;
			font-family: $font_bit;
			font-size: 32px;
			font-weight: 700;
			color: $color_blue;
			outline: none;
		}
		button {
			border: 0;
			padding: 0;
		}
		button[type="submit"] {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 117px;
			height: 100%;
			background-color: $color_pink;
		}
		a.reset {
			position: absolute;
			top: 50%;
			right: 40px;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 3px solid $color_blue;
			background-color: transparent;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 16px;
				height: 3px;
				background-color: $color_blue;
				margin-top: -1.5px;
				margin-left: -8px;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
	p.note {
		font-family: $font_bit;
		font-size: 24px;
		font-weight: 700;
		color: $color_pink;
	}

	@include breakpoint_max(767px) {
		form {
			input[type="text"] {
				height: 80px;
				padding: 0 60px 0 110px;
				font-size: 20px;
			}
			button[type="submit"] {
				width: 80px;
				img {
					width: 40px;
					height: auto;
				}
			}
			button[type="reset"] {
				right: 20px;
			}
		}
		p.note {
			font-size: 20px;
		}
	}
}

.faq-category {
	margin-bottom: 140px;
	h3 {
		margin-bottom: 30px;
	}
	a.more {
		font-size: 20px;
		font-weight: 700;
		color: #454545;
		text-transform: uppercase;
	}
	ul.menu {
		margin-bottom: 30px;
		li {
			margin-bottom: 10px;
			a {
				font-size: 20px;
				line-height: 24px;
				color: #454545;
			}
		}
	}

	.row {
		> div {
			padding-bottom: 60px;
		}
	}

	@include breakpoint_min(992px) {
		.row {
			margin-left: -30px;
			margin-right: -30px;
			> div {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

.faq-list {
	max-width: 1088px;
	margin: 0 auto 100px;

	h3 {
		margin-bottom: 30px;
		font-size: 36px;
		color: $color_pink;
	}

	.accordion {
		border-top: 5px solid $color_pink;
	}

	.card {
		border: 0;

		.card-header {
			padding: 0;
			border: 0;
			margin: 0;
			background-color: transparent;

			button[data-toggle] {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%;
				min-height: 81px;
				border: 0;
				background-color: rgba($color: #D5D5D5, $alpha: 0.14);
				padding: 10px 10px 10px 68px;
				font-size: 24px;
				line-height: 29px;
				color: $color_blue;
				text-align: left;

				&:before,
				&:after {
					content: '';
					width: 13px;
					height: 22px;
					position: absolute;
					top: 50%;
					left: 28px;
					margin-top: -11px;
					background-repeat: no-repeat;
					background-position: 0;
				}

				&:before {
					background-image: url(../svg/chevron-right-blue.svg);
				}

				&:after {
					background-image: url(../svg/chevron-right-pink.svg);
					transform: rotate(90deg);
					opacity: 0;
				}

				&:not(.collapsed) {
					color: $color_pink;

					&:before {
						opacity: 0;	
					}

					&:after {
						opacity: 1;
					}
				}
			}
		}

		.card-body {
			padding: 40px 68px;
		}
		
		&:nth-child(even) {
			.card-header button[data-toggle] {
				background-color: rgba($color: #D5D5D5, $alpha: 0.25);
			}
		}
	}

	@include breakpoint_max(575px) {
		.card {
			.card-header button[data-toggle] {
				font-size: 20px;
				line-height: 24px;
			}

			.card-body {
				padding: 30px 0;
			}
		}
	}
}
/** END faq template **/

/** pagination **/
.pagination {
	display: block;
	border-radius: 0;
	padding: 50px 0 0;
	margin: 0;

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		font-size: 20px;
		color: $color_blue;

		a, span {
			display: inline-block;
			margin: 0 10px;
		}

		a {
			&.next,
			&.prev {
				position: absolute;
				margin: 0;
				color: $color_pink;
				text-transform: uppercase;
			}
	
			&.next {
				right: 0;
			}
	
			&.prev {
				left: 0;
			}
		}

		span {
			&.current {
				color: $color_pink;
			}
		}
	}
}
/** END pagination **/

/** post-title **/
#post-title {
	background-color: rgba($color: #454545, $alpha: 0.66);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;

	div.container {
		position: relative;
		min-height: 560px;
		padding-top: 80px;
		padding-bottom: 100px;
	}

	.post-title {
		&__title {
			position: relative;
			max-width: 960px;
			margin: 0 auto;
			
			&:before {
				content: '';
				display: block;
				width: 84px;
				height: 61px;
				margin: 0 auto 30px;
				background-image: url(../svg/logo-icon-white.svg);
				background-repeat: no-repeat;
				background-position: 0;
				background-size: contain;
			}

			h1 {
				margin-bottom: 0;
				color: #fff;
			}

			p {
				margin-bottom: 5px;
				font-size: 32px;
				line-height: 38px;
				color: $color_pink;
			}
		}

		&__breadcrumb {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 50px 50px 0 0;
			background-color: $color_blue;
			padding: 16px 60px;
			color: #fff;
			text-transform: uppercase;
			overflow: hidden;

			a, span {
				display: inline-block;
				color: inherit;
			}

			nav {
				a {
					text-decoration: underline;
				}

				span.separator {
					margin: 0 10px;
				}
			}

			ul.share {
				li {
					margin-right: 14px;

					span {
						font-size: 16px;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	@include breakpoint_min(1200px) {
		.post-title {
			&__breadcrumb {
				padding-right: 270px;
				font-size: 20px;

				p {
					line-height: 24px;
				}

				ul.share {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					background-color: $color_pink;
					padding: 0 60px 0 20px;
				}
			}
		}
	}

	@include breakpoint_max(1199px) {
		.post-title {
			&__breadcrumb {
				ul.share {
					margin-top: 15px;
				}
			}
		}
	}

	@include breakpoint_max(767px) {
		.post-title {
			&__title {
				&:before {
					width: 60px;
					height: 44px;
				}

				p {
					font-size: 20px;
					line-height: 24px;
				}
			}

			&__breadcrumb {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}
/** END post-title **/

/** post-content **/
#post-content {
	padding: 140px 0;

	div.entry-content {
		margin-bottom: 140px;
	}

	div.sharebar {
		position: relative;
		background-color: $color_blue;
		border-radius: 50px;
		overflow: hidden;

		ul.share {
			max-width: 270px;
			background-color: $color_pink;
			padding: 12px 30px;
			color: #fff;

			li {
				margin-right: 14px;

				span {
					font-size: 16px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
/** END post-content **/

/** related-posts **/
#related-posts {
	padding-bottom: 50px;

	h2 {
		margin-bottom: 50px;
		font-size: 48px;
		line-height: 58px;
	}
}
/** END related-posts **/

/** text-photo-one **/
section.text-photo {
	font-family: $font_str_light;
	font-size: 21px;

	h2, h3 {
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 30px;
		line-height: 26px;
	}

	ul:not([class]) {
		li {
			line-height: 26px;
		}
	}

	div.row > div {
		opacity: 0;
	}

	.text-photo {
		&__highlight-text {
			color: $color_pink;
			text-transform: uppercase;
		}

		&__keys {
			margin: 0 -10px;

			> li {
				position: relative;
				padding: 0 10px 25px 58px;
				color: $color_pink;
				line-height: 26px;
				text-transform: uppercase;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 10px;
					width: 32px;
					height: 32px;
					border-radius: 5px;
					background-color: $color_pink;
					background-image: url(../svg/tick-white.svg);
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}

	+ section.text-photo {
		margin-top: 100px;
	}

	@include breakpoint_min(1200px) {
		.text-photo {
			&__keys {
				&.d-xl-flex {
					> li {
						width: 50%;
					}
				}
			}
		}
	}

	@include breakpoint_max(991px) {
		.text-photo__photo  {
			margin-bottom: 40px;
		}
	}
}


section.text-photo-one {
	position: relative;
	padding: 80px 20px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		width: 70%;
		height: 100%;
		position: absolute;
		z-index: 1;
	}

	div.container {
		position: relative;
		z-index: 10;
	}

	.text-photo {
		&__photo {
			border-radius: 25px;
			overflow: hidden;

			&:not(.no-shadow) {
				box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.25);
			}
		}
	}

	&.text-photo-one {
		&--text-photo {
			&:before {
				left: 0;
				border-radius: 0 25px 25px 0;
			}
		}

		&--photo-text {
			&:before {
				right: 0;
				border-radius: 25px 0 0 25px;
			}
		}

		&--dark {
			color: #fff;

			h2, h3 {
				color: #fff;
			}

			&:before {
				background-color: $color_brown;
			}
		}

		&--gray {
			&:before {
				background-color: #D5D5D5;
			}
		}

		&--blue {
			color: #fff;

			h2, h3 {
				color: #fff;
			}

			&:before {
				background-color: $color_blue;
			}
		}
	}

	@include breakpoint_min(1200px) {
		.row {
			margin-left: -40px;
			margin-right: -40px;

			> div {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}

	@include breakpoint_max(991px) {
		&:before {
			width: calc(100% - 20px);
		}
	}
}
/** END text-photo-one **/

/** text-photo-two **/
section.text-photo-two {
	.text-photo-two {
		&__inner {
			padding: 90px;
			border-radius: 25px;
		}
	}

	&.text-photo-two {
		&--gray {
			.text-photo-two__inner {
				background-color: #D5D5D5;
			}
		}

		&--blue {
			color: #fff;

			h2, h3 {
				color: #fff;
			}

			.text-photo-two__inner {
				background-color: $color_blue;
			}
		}
	}

	@include breakpoint_min(1200px) {
		.text-photo__photo {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}

		&.text-photo-two {
			&--text-photo {
				.text-photo__photo {
					right: -140px;
				}
			}
			
			&--photo-text {
				.text-photo__photo {
					left: -140px;
				}
			}
		}
	}

	@include breakpoint_max(991px) {
		.text-photo-two__inner {
			padding: 40px;
		}
	}

	@include breakpoint_max(575px) {
		.text-photo-two__inner {
			padding: 20px;
		}
	}
}
/** END text-photo-two **/

/** block-features **/
section.block-features {
	padding: 80px 0 0;
	font-family: $font_str_light;

	h2, h3 {
		margin-bottom: 100px;
	}

	img {
		display: block;
		margin-bottom: 50px;
	}

	p {
		&.title {
			color: $color_pink;
		}
	}

	div.row {
		> div {
			padding-bottom: 80px;
			opacity: 0;

			&:nth-child(1) {
				animation-delay: .2s;
			}

			&:nth-child(2) {
				animation-delay: .4s;
			}
			
			&:nth-child(3) {
				animation-delay: .6s;
			}

			&:nth-child(4) {
				animation-delay: .8s;
			}

			&:nth-child(5) {
				animation-delay: 1s;
			}

			&:nth-child(6) {
				animation-delay: 1.2s;
			}

			&:nth-child(7) {
				animation-delay: 1.4s;
			}

			&:nth-child(8) {
				animation-delay: 1.6s;
			}

			&:nth-child(9) {
				animation-delay: 1.8s;
			}

			&:nth-child(10) {
				animation-delay: 2s;
			}
		}
	}

	@include breakpoint_min(1200px) {
		div.row {
			margin-left: -40px;
			margin-right: -40px;

			> div {
				padding-left: 40px;
				padding-right: 40px;
			}
		}

		&.block-features {
			&--column-5 {
				div.row {
					> div {
						-ms-flex: 0 0 20%;
						flex: 0 0 20%;
						max-width: 20%;
					}
				}
			}
		}
	}
}
/** END block-features **/

/** template flexible **/
body.page-template-page_flexible {
	#page-title {
	}

	#main {
	}
}
/** END template flexible **/

/** EXTRA **/
.mejs-container, 
.mejs-container .mejs-controls, 
.mejs-embed, 
.mejs-embed body {
	background: $color_brown;
}
/** END EXTRA **/