/** GENERAL **/
::-webkit-input-placeholder {
  color: #5C5C5C; }

::-moz-placeholder {
  color: #5C5C5C; }

:-ms-input-placeholder {
  color: #5C5C5C; }

:-moz-placeholder {
  color: #5C5C5C; }

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #5C5C5C; }

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Merriweather", serif; }

h2, .h2 {
  font-size: 32px; }

h3, .h3 {
  font-size: 28px; }

a, a:hover, a:focus {
  text-decoration: none; }

img {
  max-width: 100%; }

ul.menu,
ul.menu ul,
ul.socials {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-green {
  color: #B7D433; }

.text-blue {
  color: #2C2A6C; }

.text-gray {
  color: #5C5C5C; }

span.dots {
  display: flex;
  flex-wrap: wrap; }
  span.dots > span {
    display: inline-block;
    border-radius: 50%;
    background-color: #B7D433; }
    span.dots > span:last-child {
      margin-right: 0; }
  span.dots--white > span {
    background-color: #fff; }
  span.dots--gray > span {
    background-color: #5C5C5C; }
  span.dots--md > span {
    width: 14px;
    height: 14px;
    margin-right: 7px; }
  span.dots--sm > span {
    width: 8px;
    height: 8px;
    margin-right: 3px; }

/** END GENERAL **/
/** BUTTON **/
/** END BUTTON **/
/** FORM **/
input, button {
  outline: none; }

/** END FORM **/
/** HEADER **/
#header div.container {
  position: relative; }

#header .header__main {
  padding: 22px 0; }

#header .header__menu {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6; }
  #header .header__menu div.container {
    padding-right: calc(42px + 15px); }
  #header .header__menu .toggle > span {
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    color: #2C2A6C; }
  #header .header__menu .toggle > button {
    position: relative;
    display: block;
    width: 32px;
    height: 24px;
    border: 0;
    padding: 0;
    background-color: transparent; }
    #header .header__menu .toggle > button span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 100px;
      background-color: #2C2A6C; }
    #header .header__menu .toggle > button.collapsed span:nth-child(1) {
      top: 0; }
    #header .header__menu .toggle > button.collapsed span:nth-child(2) {
      top: 50%;
      margin-top: -2px; }
    #header .header__menu .toggle > button.collapsed span:nth-child(3) {
      bottom: 0; }
    #header .header__menu .toggle > button:not(.collapsed) span:nth-child(1), #header .header__menu .toggle > button:not(.collapsed) span:nth-child(3) {
      top: 50%;
      margin-top: -2px; }
    #header .header__menu .toggle > button:not(.collapsed) span:nth-child(1) {
      transform: rotate(45deg); }
    #header .header__menu .toggle > button:not(.collapsed) span:nth-child(2) {
      opacity: 0; }
    #header .header__menu .toggle > button:not(.collapsed) span:nth-child(3) {
      transform: rotate(-45deg); }
  #header .header__menu .search {
    position: absolute;
    top: 0;
    right: 15px;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6; }
    #header .header__menu .search form {
      position: relative; }
      #header .header__menu .search form input[type="search"] {
        width: 0;
        height: 42px;
        padding: 0 42px 0 0;
        border: 0;
        background-color: #fff;
        font-size: 14px;
        color: #5C5C5C;
        opacity: 0;
        visibility: hidden;
        transition: all .25s;
        -webkit-transition: all .25s; }
      #header .header__menu .search form button[type="button"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
        border: 0;
        padding: 0;
        background-color: transparent;
        background-image: url(../svg/search-blue.svg);
        background-repeat: no-repeat;
        background-position: center; }
    #header .header__menu .search:hover form input[type="search"] {
      width: 200px;
      padding-left: 20px;
      opacity: 1;
      visibility: visible; }

#menu ul.menu li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #5C5C5C;
  transition: all .25s;
  -webkit-transition: all .25s; }
  #menu ul.menu li a:hover {
    color: #2C2A6C; }

#menu ul.menu li.highlight > a {
  color: #B7D433; }

#menu ul.menu.primary-menu > li > a {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 700; }

#menu ul.menu.primary-menu li > span {
  display: block;
  font-size: 12px;
  color: #E6E6E6;
  text-transform: uppercase; }

#menu ul.menu.secondary-menu li a {
  font-size: 14px; }

@media (min-width: 992px) {
  #menu ul.menu > li > a {
    line-height: 42px;
    white-space: nowrap; }
  #menu ul.primary-menu > li {
    position: relative;
    padding-right: 36px; }
    #menu ul.primary-menu > li ul.sub-menu li {
      position: relative; }
      #menu ul.primary-menu > li ul.sub-menu li a {
        display: block; }
      #menu ul.primary-menu > li ul.sub-menu li:hover > a {
        color: #B7D433; }
    #menu ul.primary-menu > li > a {
      position: relative;
      padding-right: 25px; }
      #menu ul.primary-menu > li > a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: #B7D433;
        opacity: 0;
        transition: all .25s;
        -webkit-transition: all .25s; }
    #menu ul.primary-menu > li > ul.sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 215px;
      background-color: #fff;
      border: 1px solid #E6E6E6;
      border-bottom-color: transparent; }
      #menu ul.primary-menu > li > ul.sub-menu > li > a {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 6px 12px; }
      #menu ul.primary-menu > li > ul.sub-menu > li > ul.sub-menu {
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 440px;
        background-color: #FCFCFC;
        border: 1px solid #E6E6E6; }
        #menu ul.primary-menu > li > ul.sub-menu > li > ul.sub-menu > li {
          width: 50%;
          padding: 12px 18px 18px; }
          #menu ul.primary-menu > li > ul.sub-menu > li > ul.sub-menu > li > span {
            margin-bottom: 15px; }
          #menu ul.primary-menu > li > ul.sub-menu > li > ul.sub-menu > li li:not(:last-child) {
            margin-bottom: 8px; }
          #menu ul.primary-menu > li > ul.sub-menu > li > ul.sub-menu > li:not(:last-child) {
            border-right: 1px solid #E6E6E6; }
      #menu ul.primary-menu > li > ul.sub-menu > li:first-child > a {
        border-top-color: transparent !important; }
      #menu ul.primary-menu > li > ul.sub-menu > li:hover > a {
        background-color: #FCFCFC;
        border-top-color: #E6E6E6;
        border-bottom-color: #E6E6E6; }
    #menu ul.primary-menu > li:hover > a:after {
      width: 100%;
      opacity: 1; }
  #menu ul.secondary-menu > li > a {
    padding: 0 25px;
    border-left: 1px solid #E6E6E6; } }

/** END HEADER **/
/** FOOTER **/
/** END FOOTER **/
/** POST ITEM **/
.post-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.post-item .title a {
  color: inherit; }

/** END POST ITEM **/
/** POST ITEM OVERLAY **/
/** END POST ITEM OVERLAY **/
/** POST ITEM STACK **/
/** END POST ITEM STACK **/
