/** GENERAL **/
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-Light.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-LightItalic.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-Regular.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-RegularItalic.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-Medium.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-MediumItalic.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-Semibold.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-SemiboldItalic.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-Bold.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/sf-pro-text/SFProText-BoldItalic.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "SFProText";
  font-size: 15px;
  color: #212529;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 600;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a {
  color: inherit;
}

strong, b {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: #f08853;
}

ul.meta,
ul.contact,
ul.socials,
ul.menu,
ul.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/** END GENERAL **/
/** BUTTON **/
button, input {
  outline: none !important;
  box-shadow: none;
}

.btn {
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}
.btn.btn-primary {
  background-color: #f08853;
}

/** END BUTTON **/
/** FORMS **/
form.searchform input[type=text] {
  height: 36px;
  border: 1px solid #f1f3f5;
  padding: 0 15px;
}

.wpcf7 form input[type=submit],
form.comment-form input[type=submit],
form.searchform input[type=submit] {
  border: 0;
  background-color: #f08853;
  padding: 0px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  line-height: 36px;
}

.wpcf7 form {
  max-width: 500px;
}

.wpcf7 form input[type=text],
.wpcf7 form input[type=email],
.wpcf7 form textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 0 15px;
  outline: none;
}

.wpcf7 form textarea {
  height: 120px;
  padding: 10px 15px;
  resize: vertical;
}

/** END FORMS **/
/** SLICK SLIDER **/
/** END SLICK SLIDER **/
/** HEADER **/
#site-header {
  position: relative;
  border-bottom: 1px solid #F1F3F5;
  margin-bottom: 30px;
  z-index: 200;
}
#site-header button {
  border: 0;
  padding: 0;
  background-color: transparent;
}
#site-header .container {
  position: relative;
  min-height: 50px;
}
#site-header a.logo {
  display: inline-block;
}
#site-header a.logo img {
  display: block;
}
#site-header .action {
  position: absolute;
  top: 38px;
  right: 15px;
}
#site-header .action button.toggle-search svg {
  display: block;
}
#site-header .action button.toggle-search:hover svg path, #site-header .action button.toggle-search:focus svg path {
  stroke: #F08853;
}
#site-header .action button.toggle-menu {
  position: relative;
  width: 22px;
  height: 12px;
  margin-left: 15px;
}
#site-header .action button.toggle-menu > span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #212529;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
#site-header .action button.toggle-menu > span:nth-child(1) {
  top: 0;
}
#site-header .action button.toggle-menu > span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
#site-header .action button.toggle-menu > span:nth-child(3) {
  bottom: 0;
}
#site-header .action button.toggle-menu:hover span, #site-header .action button.toggle-menu:focus span {
  background-color: #F08853;
}
#site-header .action button.toggle-menu.active span:nth-child(1), #site-header .action button.toggle-menu.active span:nth-child(3) {
  top: 50%;
  margin-top: -1px;
}
#site-header .action button.toggle-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}
#site-header .action button.toggle-menu.active span:nth-child(2) {
  opacity: 0;
}
#site-header .action button.toggle-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}
#site-header .search {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 240px;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #F08853;
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
#site-header .search ::-webkit-input-placeholder {
  color: #212529;
}
#site-header .search ::-moz-placeholder {
  color: #212529;
}
#site-header .search :-ms-input-placeholder {
  color: #212529;
}
#site-header .search :-moz-placeholder {
  color: #212529;
}
#site-header .search:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #F08853;
}
#site-header .search form input {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: transparent;
  padding: 0 30px 0 0;
  font-size: 13px;
}
#site-header .search form button {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
}
#site-header .search form button svg {
  display: block;
}
#site-header .search form button:hover svg path, #site-header .search form button:focus svg path {
  stroke: #F08853;
}
#site-header.show-search .action button.toggle-search svg path {
  stroke: #F08853;
}
#site-header.show-search .search {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

#site-menu ul.menu li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #212529;
}
#site-menu ul.menu li a:hover {
  color: #F08853;
}
#site-menu ul.menu button.toggle {
  position: absolute;
  top: 10px;
  right: 0;
  width: 10px;
  height: 10px;
}
#site-menu ul.menu button.toggle:before, #site-menu ul.menu button.toggle:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5px;
  background-color: #212529;
}
#site-menu ul.menu button.toggle:after {
  transform: rotate(90deg);
}
#site-menu ul.menu button.toggle.active:after {
  opacity: 0;
}

@media (min-width: 992px) {
  #site-menu {
    display: block;
  }
  #site-menu ul.menu {
    padding-right: 50px;
  }
  #site-menu ul.menu > li {
    margin-left: 30px;
  }
  #site-menu ul.menu > li > a {
    line-height: 50px;
    white-space: nowrap;
  }
  #site-menu ul.menu > li:hover > a {
    color: #F08853;
  }
  #site-menu ul.menu > li:hover > ul.sub-menu {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
  #site-menu ul.menu ul.sub-menu {
    position: absolute;
    min-width: 220px;
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #F08853;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }
  #site-menu ul.menu ul.sub-menu li a {
    display: block;
    padding: 5px 15px;
  }
}
@media (max-width: 991px) {
  #site-menu ul.menu {
    padding: 12px 0;
  }
  #site-menu ul.menu li a {
    display: block;
    padding: 5px 0;
  }
  #site-menu ul.menu > li {
    position: relative;
  }
  #site-menu ul.menu ul.sub-menu {
    display: none;
    padding: 0 0 5px 15px;
  }
}
/** END HEADER **/
/** FOOTER **/
#site-footer nav {
  background-color: #F1F3F5;
  padding: 20px 0 0;
  font-size: 12px;
}
#site-footer nav a {
  display: inline-block;
  color: #212529;
}
#site-footer nav a:hover {
  color: #F08853;
}
#site-footer nav ul.menu > li {
  width: 50%;
  padding: 0 20px 20px 0;
}
#site-footer nav ul.menu > li > a {
  font-weight: 600;
}
#site-footer nav ul.menu ul {
  padding-top: 5px;
}
#site-footer nav ul.menu ul li {
  position: relative;
  padding: 0 0 4px 12px;
}
#site-footer nav ul.menu ul li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #868E96;
  border-radius: 50px;
}
#site-footer nav ul.menu ul li:last-child {
  padding-bottom: 0;
}
#site-footer .widgets {
  background-color: #212529;
  padding: 30px 0;
  color: #fff;
}
#site-footer .widgets a {
  color: inherit;
}
#site-footer .widgets p,
#site-footer .widgets ul li {
  line-height: 22px;
}
#site-footer .widgets h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 7px;
}
#site-footer .widgets a.logo {
  display: inline-block;
  margin: 10px 0 30px;
}
#site-footer .widgets ul.contact li {
  position: relative;
  padding-left: 26px;
  margin-bottom: 5px;
}
#site-footer .widgets ul.contact li:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
#site-footer .widgets ul.contact li:last-child {
  margin-bottom: 0;
}
#site-footer .widgets ul.contact li.address:before {
  background-image: url(../images/icon-location.svg);
}
#site-footer .widgets ul.contact li.phone:before {
  background-image: url(../images/icon-phone.svg);
}
#site-footer .widgets ul.contact li.email:before {
  background-image: url(../images/icon-email.svg);
}
#site-footer .widgets ul.bottom {
  padding-top: 40px;
}
#site-footer .widgets ul.bottom li a:hover {
  text-decoration: underline;
}
#site-footer .widgets .widget p:last-child {
  margin-bottom: 0;
}
#site-footer .widgets .widget.contact {
  margin-bottom: 40px;
}
#site-footer .widgets .widget.contact ul li:not(:last-child) {
  margin-bottom: 15px;
}
#site-footer .widgets .widget.claim {
  margin-bottom: 60px;
}
#site-footer .widgets .widget.claim p:not(:last-child) {
  margin-bottom: 8px;
}
#site-footer .widgets .widget.copyright {
  margin-bottom: 20px;
}
#site-footer .widgets .widget.copyright p:not(:last-child) {
  margin-bottom: 8px;
}
#site-footer .widgets .widget.contributor {
  border: 1px solid #FFFFFF;
  padding: 12px 20px;
}
#site-footer .widgets .widget.contributor ul {
  margin-bottom: 5px;
}
#site-footer .widgets .widget.contributor p.note {
  opacity: 0.6;
}
#site-footer .widgets .widget.facebook {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  #site-footer nav ul.menu > li {
    width: 33.333%;
  }

  #site-footer .widgets ul.bottom li {
    position: relative;
    padding: 0 20px;
  }

  #site-footer .widgets ul.bottom li:not(:last-child):before {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-color: #fff;
  }
}
@media (min-width: 1200px) {
  #site-footer nav ul.menu > li {
    width: auto;
    flex: 1;
  }
}
/** END FOOTER **/
/** POST ITEM **/
.post-item {
  color: #495057;
}
.post-item p {
  line-height: 22px;
}
.post-item p:last-child {
  margin-bottom: 0;
}
.post-item ul.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post-item ul.meta li {
  font-size: 12px;
  color: #868E96;
  line-height: 12px;
  white-space: nowrap;
}
.post-item ul.meta li a {
  color: inherit;
}
.post-item ul.meta li.category {
  text-transform: uppercase;
}
.post-item ul.meta li:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #868E96;
}
.post-item .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-item .title {
  font-weight: 700;
  color: #212529;
}
.post-item .title a {
  color: inherit;
  background-image: linear-gradient(rgba(240, 136, 83, 0), rgba(240, 136, 83, 0));
  background-repeat: no-repeat;
  background-position: center bottom;
  background-origin: padding-box;
}
.post-item .title a:hover {
  background-image: linear-gradient(rgba(240, 136, 83, 0.25), rgba(240, 136, 83, 0.25));
}
.post-item.stack ul.meta {
  padding: 2px 0 8px;
}
.post-item.stack .photo {
  height: 200px;
  margin-bottom: 10px;
}
.post-item.stack .title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
.post-item.stack .title a {
  background-size: 100% 9px;
}
.post-item.stack .title:last-child {
  margin-bottom: 0;
}
.post-item.inline {
  display: flex;
  flex-wrap: wrap;
}
.post-item.inline ul.meta {
  padding: 0 0 12px;
}
.post-item.inline ul.meta li.category {
  font-weight: 600;
}
.post-item.inline .photo {
  width: 270px;
  height: 180px;
}
.post-item.inline .text {
  width: calc(100% - 270px);
  padding-left: 20px;
}
.post-item.inline .text .title {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}
.post-item.inline .text .title a {
  background-size: 100% 12px;
}
.post-item.inline.small .photo {
  width: 100px;
  height: 67px;
}
.post-item.inline.small .text {
  width: calc(100% - 100px);
  padding-left: 12px;
}
.post-item.inline.small .text .title {
  font-size: 14px;
  line-height: 19px;
}
.post-item.inline.small .text .title a {
  background-size: 100% 5px;
}
.post-item.inline.small:not(:last-child) {
  margin-bottom: 20px;
}
.post-item.inline:not(:last-child):not(.small) {
  border-bottom: 1px solid #F1F3F5;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.post-item.overlay {
  position: relative;
}
.post-item.overlay:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 176px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 2;
}
.post-item.overlay .photo {
  height: 337px;
}
.post-item.overlay .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 24px;
  z-index: 10;
}
.post-item.overlay .text .title {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
}
.post-item.overlay .text .title a {
  background-size: 100% 12px;
}
.post-item.overlay .text .tag {
  display: inline-block;
  padding: 0 12px;
  border-radius: 100px;
  background-color: #F08853;
  margin-bottom: 12px;
  line-height: 28px;
  color: #fff;
  font-weight: 600;
}

.category-posts .post-item.stack .photo {
  height: 180px;
}
.category-posts .post-item.stack:not(:last-child) {
  border-bottom: 1px solid #E3E8ED;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.post-grid .col-sm-6:not(:first-child) {
  margin-top: 40px;
}

.post-overlay .col-md-6:not(:first-child) {
  margin-top: 30px;
}

.post-fancy-grid .post-item.stack:not(:last-child) {
  margin-bottom: 28px;
}
.post-fancy-grid .post-item.stack:not(.large) .photo {
  height: 164px;
}

@media (min-width: 576px) {
  .post-item.stack.large .photo {
    height: 366px;
  }
  .post-item.stack.large .title {
    font-size: 24px;
    line-height: 32px;
  }
  .post-item.stack.large .title a {
    background-size: 100% 12px;
  }

  .post-grid .col-lg-3:nth-child(2),
.post-grid .col-lg-4:nth-child(2) {
    margin-top: 0;
  }

  .post-fancy-grid-2 .col-lg-3 .post-item.stack .title {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .post-overlay .col-md-6:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .post-grid .col-lg-3:nth-child(3),
.post-grid .col-lg-3:nth-child(4),
.post-grid .col-lg-4:nth-child(3) {
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .post-fancy-grid .col-lg-6:first-child {
    margin-bottom: 28px;
  }

  .category-posts .col-lg-3:nth-child(1),
.category-posts .col-lg-3:nth-child(2) {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .post-item.inline:not(.small) {
    display: block;
  }
  .post-item.inline:not(.small) .photo {
    width: auto;
    margin-bottom: 12px;
  }
  .post-item.inline:not(.small) .text {
    width: auto;
    padding-left: 0;
  }

  .category-posts .col-lg-3:nth-child(3) {
    margin-bottom: 40px;
  }
}
/** END POST ITEM **/
/** PAGE SECTION **/
.page-section {
  margin-bottom: 52px;
}
.page-section .heading {
  margin-bottom: 24px;
}
.page-section .heading h2 {
  font-size: 32px;
  margin-bottom: 0;
}
.page-section .heading span {
  position: relative;
  display: block;
  padding-left: 68px;
  margin-bottom: 16px;
  color: #F08853;
  font-weight: 500;
}
.page-section .heading span:before {
  content: "";
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5px;
  background-color: #212529;
}
.page-section .subheading {
  margin-bottom: 16px;
}
.page-section .subheading h2 {
  position: relative;
  font-size: 22px;
  margin-bottom: 0;
  padding-left: 32px;
}
.page-section .subheading h2:before {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5px;
  background-color: #F08853;
}
.page-section.gray {
  background-color: #F8F9FA;
  padding: 64px 0;
}
.page-section.latest {
  border-bottom: 1px solid #F1F3F5;
  padding-bottom: 24px;
  margin-bottom: 30px;
}

/** END PAGE SECTION **/
/** SINGLE POST **/
body.single-post #breadcrumbs {
  margin-bottom: 26px;
}

.entry-content {
  font-size: 18px;
}
.entry-content h2 {
  font-size: 30px;
}
.entry-content p:last-child {
  margin-bottom: 0;
}
.entry-content a:not([class]) > span[style] {
  color: inherit !important;
}
.entry-content a:not([class])[style] {
  color: #f08853 !important;
}
.entry-content .wp-caption {
  max-width: 100%;
}

.post-container .post-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.post-container .post-meta {
  margin-bottom: 20px;
}
.post-container .post-meta ul.meta {
  font-size: 12px;
  color: #868E96;
  white-space: nowrap;
  line-height: 12px;
}
.post-container .post-meta ul.meta li a {
  display: inline-block;
  color: inherit;
}
.post-container .post-meta ul.meta li.author {
  font-size: 15px;
  font-weight: 600;
  color: #212529;
  margin-right: 15px;
}
.post-container .post-meta ul.meta li.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.post-container .post-meta ul.meta li.category {
  font-weight: 600;
}
.post-container .post-intro {
  margin-bottom: 15px;
}
.post-container .post-photo {
  height: 558px;
  margin-bottom: 30px;
}
.post-container .post-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-container .post-content {
  margin-bottom: 25px;
}
.post-container .post-tags {
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
}
.post-container .post-tags:before, .post-container .post-tags:after {
  content: "";
  position: absolute;
  left: 0;
}
.post-container .post-tags:before {
  width: 24px;
  height: 24px;
  top: 6px;
  background-image: url(../images/icon-tag.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.post-container .post-tags:after {
  width: 100%;
  height: 1px;
  top: 14px;
  background-color: #F1F3F5;
  z-index: 1;
}
.post-container .post-tags a {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  background-color: #E9ECEF;
  padding: 7px 17px;
  margin-right: 12px;
  color: #212529;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  z-index: 2;
}
.post-container .post-tags a:hover {
  background-color: #F08853;
  color: #fff;
}
.post-container .post-source {
  margin-bottom: 18px;
}
.post-container .post-source button.copy {
  position: relative;
  width: 105px;
  background-color: #F1F3F5;
  border: 0;
  padding: 0 29px 0 10px;
  border-radius: 100px;
  margin-left: 12px;
  line-height: 30px;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
.post-container .post-source button.copy:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  right: 8px;
  background-image: url(../images/icon-copy.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.post-container .post-source button.copy:hover {
  opacity: 0.8;
}
.post-container .block-sponsor {
  padding: 12px 12px;
  background-color: #F1F3F5;
  margin-bottom: 22px;
}
.post-container .block-sponsor .photo {
  width: 124px;
  height: 88px;
}
.post-container .block-sponsor .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-container .block-sponsor .text {
  width: calc(100% - 124px);
  padding-left: 12px;
}
.post-container .block-sponsor .text .title {
  font-weight: 600;
  margin-bottom: 12px;
}
.post-container .block-sponsor .text .title a {
  color: inherit;
}
.post-container .block-sponsor .text .meta {
  font-size: 12px;
  color: #868E96;
  margin-bottom: 0;
}
.post-container .block-sponsor .text .meta a {
  color: inherit;
}
.post-container .block-sponsor .text .meta span {
  display: inline-block;
  margin-left: 12px;
  text-transform: uppercase;
}
.post-container .block-links {
  margin-bottom: 28px;
}
.post-container .block-links ul li {
  position: relative;
  padding: 0 0 10px 15px;
}
.post-container .block-links ul li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 50%;
  background-color: #ADB5BD;
}
.post-container .block-links ul li a:hover {
  text-decoration: underline;
}
.post-container .block-links ul li:last-child {
  padding-bottom: 0;
}

@media (min-width: 1200px) {
  .post-container .post-meta ul.meta li:not(:first-child):not(:last-child) {
    border-right: 1px solid #868E96;
    padding-right: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 1199px) {
  .post-container .post-meta ul.meta li.category {
    display: none;
  }
}
@media (max-width: 575px) {
  .post-container .post-meta ul.meta li.date {
    display: none;
  }

  .post-container .block-sponsor .text .title {
    margin-bottom: 6px;
  }

  .post-container .block-sponsor .text .meta span {
    display: block;
    margin: 0;
  }
}
/** END SINGLE POST **/
/** COMMENTS **/
#comments .comments-title {
  margin-bottom: 30px;
}

#comments .comment-list,
#comments .comment-list ol.children {
  list-style: none;
  padding: 0;
  margin: 0;
}

#comments .comment-list {
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f3f5;
}

#comments .comment-list p:not([class]) {
  margin-bottom: 8px;
}

#comments .comment-list > li {
  margin: 0 0 24px;
}

#comments .comment-list li.comment {
  position: relative;
  margin-top: 16px;
  padding-left: 64px;
}

#comments .comment-list .comment-author {
  position: absolute;
  top: 0;
  left: 0;
}

#comments .comment-list .comment-author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#comments .comment-list .comment-meta {
  margin-bottom: 5px;
  font-size: 15px;
}

#comments .comment-list .comment-meta a {
  color: #868e96;
}

#comments .comment-list .comment-meta .fn {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  font-style: normal;
}

#comments .comment-list .comment-meta .fn a {
  color: #212529;
}

#comments .comment-list .comment-reply-link {
  position: relative;
  padding-left: 22px;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  color: #212529;
}

#comments .comment-list .comment-reply-link:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/icon-comment.svg);
  background-repeat: no-repeat;
  background-position: 0;
}

#comments .comment-list .comment-reply-link:hover {
  color: #868e96;
}

#respond {
  margin-bottom: 40px;
}
#respond .comment-reply-title {
  margin-bottom: 6px;
}
#respond span.required {
  color: #4263EB;
}
#respond form.comment-form input[type=text],
#respond form.comment-form input[type=email],
#respond form.comment-form textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #DEE2E6;
  border-radius: 5px;
  padding: 0 15px;
}
#respond form.comment-form textarea {
  height: 149px;
  padding: 10px 15px;
  resize: vertical;
}
#respond form.comment-form input[type=submit] {
  border: 0;
}
#respond form.comment-form label {
  display: block;
  margin: 0 0 5px;
  cursor: pointer;
}
#respond form.comment-form p {
  margin-bottom: 15px;
}
#respond form.comment-form p.form-submit, #respond form.comment-form p:last-child {
  margin-bottom: 0;
}
#respond form.comment-form p.comment-notes {
  margin-bottom: 20px;
  color: #868E96;
}
#respond form.comment-form p.comment-form-cookies-consent label {
  display: inline-block;
  margin: 0 0 0 5px;
}

@media (min-width: 576px) {
  #respond form.comment-form {
    display: flex;
    flex-wrap: wrap;
  }

  #respond form.comment-form p {
    width: 100%;
  }

  #respond form.comment-form p.comment-form-email,
#respond form.comment-form p.comment-form-url {
    width: 50%;
  }

  #respond form.comment-form p.comment-form-email {
    padding-right: 13px;
  }

  #respond form.comment-form p.comment-form-url {
    padding-left: 13px;
  }
}
/** END COMMENTS **/
/** BREADCRUMBS **/
#breadcrumbs {
  margin: -13px 0 10px;
  font-size: 12px;
  color: #868E96;
}
#breadcrumbs span,
#breadcrumbs a {
  display: inline-block;
  color: inherit;
}
#breadcrumbs a:hover {
  color: #212529;
}
#breadcrumbs span.separator {
  display: inline-block;
  width: 8px;
  height: 10px;
  margin: 0 3px;
  background-image: url(../images/arrow-breadcrumb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/** END BREADCRUMBS **/
/** SIDEBAR **/
.sidebar .widget {
  margin-bottom: 30px;
}
.sidebar .widget p:empty {
  display: none;
}
.sidebar .widget p:last-child {
  margin-bottom: 0;
}
.sidebar .widget .widget-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.sidebar .widget.widget_emoi_posts .post-item.stack {
  margin-bottom: 32px;
}
.sidebar .widget.widget_emoi_posts .post-item.stack .photo {
  height: 177px;
}
.sidebar .widget.widget_emoi_posts .post-item.inline:not(:last-child) {
  margin-bottom: 16px;
}

/** END SIDEBAR **/
/** DEFAULT TEMPLATE **/
.page-title {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}

/** END DEFAULT TEMPLATE **/
/** AUTHOR PAGE **/
body.author #breadcrumbs {
  margin-bottom: 0;
}

.author-container {
  margin-bottom: 52px;
}
.author-container .author-header {
  margin: 35px 0 40px;
}
.author-container .author-header .photo {
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.author-container .author-header .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-container .author-header .text {
  color: #495057;
}
.author-container .author-header .text p.name {
  font-size: 36px;
  font-weight: 600;
  color: #212529;
  line-height: 30px;
  margin-bottom: 12px;
}
.author-container .author-header .text p:last-child {
  margin-bottom: 0;
}
.author-container .author-posts .post-nav {
  position: relative;
  margin-bottom: 30px;
}
.author-container .author-posts .post-nav .inner {
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}
.author-container .author-posts .post-nav ul {
  border-bottom: 1px solid #DEE2E6;
}
.author-container .author-posts .post-nav ul li {
  margin-bottom: -1px;
}
.author-container .author-posts .post-nav ul li a {
  display: block;
  border-bottom: 1px solid transparent;
  padding: 0 16px 10px;
  font-size: 17px;
  font-weight: 600;
  color: #212529;
  white-space: nowrap;
}
.author-container .author-posts .post-nav ul li a:hover {
  color: #F08853;
}
.author-container .author-posts .post-nav ul li a.active {
  color: #F08853;
  border-bottom-color: #F08853;
}
.author-container .author-posts .post-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#ffffff",GradientType=1 );
  z-index: 5;
}

@media (min-width: 576px) {
  .author-container .author-header .text {
    width: calc(100% - 132px);
    padding: 0 0 0 24px;
  }
}
@media (max-width: 767px) {
  .author-container .author-posts .post-nav ul li a {
    padding: 0 10px 10px;
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .author-container .author-header {
    text-align: center;
  }
  .author-container .author-header .photo {
    margin: 0 auto 10px;
  }
}
/** END AUTHOR PAGE **/
/** error404 **/
body.error404 #site-content {
  padding: 0 0 30px;
}

/** END error404 **/
/** pagination **/
nav.pagination {
  display: block;
  border-radius: 0;
  padding: 40px 0 0;
}
nav.pagination .nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav.pagination .nav-links a,
nav.pagination .nav-links span {
  display: inline-block;
  font-size: 18px;
  color: #212529;
  font-weight: 500;
  padding: 0 10px;
}
nav.pagination .nav-links span.current,
nav.pagination .nav-links a:hover {
  color: #f08853;
}

/** END pagination **/
/** fb-loading **/
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.infinite-status {
  display: none;
}

.fb-loading {
  margin-top: 20px;
  padding-top: 20px;
  border: 0;
  border-top: 1px solid #f1f3f5;
}
.fb-loading .photo,
.fb-loading .text-line {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f1f3f5;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #f1f3f5), color-stop(18%, #F0F0F0), color-stop(33%, #f1f3f5));
  background: linear-gradient(to right, #f1f3f5 8%, #F0F0F0 18%, #f1f3f5 33%);
  background-size: 800px 104px;
}
.fb-loading .text-line {
  width: 100%;
  height: 16px;
  margin-bottom: 5px;
}
.fb-loading .text-line:nth-child(1), .fb-loading .text-line:nth-child(2) {
  height: 22px;
}
.fb-loading .text-line:nth-child(2) {
  width: 40%;
}
.fb-loading .text-line:nth-child(4) {
  width: 60%;
}

/** END fb-loading **/
/** TEMPLATE DEFAULT **/
body.page-template-default #site-content {
  padding: 20px 0 40px;
}

/** END TEMPLATE DEFAULT **/
/** EXTRA **/
.aiosrs-rating-wrap .aiosrs-star-rating-wrap span.aiosrs-star-rating {
  color: #f08853;
}

.search-block {
  background-color: #f8f9fa;
  padding: 20px 20px;
  margin-bottom: 40px;
}
#ez-toc-container {
  background-color: #f1f3f5;
  border: 0;
  padding: 20px 20px;
  margin-bottom: 30px;
}

#ez-toc-container a.ez-toc-toggle {
  background-image: none;
  background-color: #f08853;
  border: 0;
  box-shadow: none;
  color: #fff;
}

#ez-toc-container ul.ez-toc-list li {
  font-size: 15px;
  margin: 0 0 4px;
}

#ez-toc-container ul.ez-toc-list li:last-child {
  margin-bottom: 0;
}

/** END EXTRA **/
/** WOOCOMMERCE **/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  border-radius: 5px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #f08853;
}

.woocommerce .col2-set {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.woocommerce .col2-set:before,
.woocommerce .col2-set:after {
  display: none;
}

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2 {
  flex: 0 0 100%;
  max-width: 100%;
}

.woocommerce form .form-row {
  display: block;
  padding: 0;
  margin: 0 0 20px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  border: 1px solid #dee2e6;
  height: 40px;
  padding: 0 15px;
  border-radius: 5px;
}

.woocommerce form .form-row textarea {
  padding: 10px 15px;
  height: 200px;
  resize: vertical;
}

.woocommerce form .form-row label {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
}

div.woocommerce-billing-fields__field-wrapper,
div.woocommerce-shipping-fields__field-wrapper {
  display: block;
}

@media (min-width: 768px) {
  .woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/** END WOOCOMMERCE **/
/** LEARNPRESS **/
ul.learn-press-nav-tabs li.course-nav a {
  font-size: 15px;
  font-weight: 600;
}

ul.learn-press-nav-tabs li.course-nav.active:after,
ul.learn-press-nav-tabs li.course-nav:hover:after {
  background-color: #f08853;
}

/** END LEARNPRESS **/
