/** GENERAL **/
@font-face{
    font-family:"Univers LT W01_55 Roman1475956";
    src:url("../fonts/univers/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("../fonts/univers/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff");
}

@font-face{
    font-family:"Univers LT W01_55 Obliq1475962";
    src:url("../fonts/univers/5bfff3ac-e569-450d-918b-d564434e5e24.woff2") format("woff2"),url("../fonts/univers/05d2bfe7-45b3-4cf8-b313-290651409c59.woff") format("woff");
}

@font-face{
    font-family:"Univers LT W01_65 Bold1475968";
    src:url("../fonts/univers/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2") format("woff2"),url("../fonts/univers/05a79c4b-9e9d-46e4-9d4b-610be05371c4.woff") format("woff");
}

@font-face{
    font-family:"Univers LT W01_65 Bold_1475974";
    src:url("../fonts/univers/cc843e1a-cf1f-47e9-a03f-ef03d2b85d9a.woff2") format("woff2"),url("../fonts/univers/653a9f79-b3ad-444c-a6c4-6bf7f1112e6e.woff") format("woff");
}

$font_mu: 'museo-slab';
$color_orange: #FC8108;

*, ::after, ::before {
    box-sizing: border-box;
}

@-webkit-keyframes scroll {
    0% { top: 5px; opacity: 0; }
    30% { top: 10px; opacity: 1; }
    100% { top: 25px; opacity: 0; }
}

@keyframes scroll {
    0% { top: 5px; opacity: 0; }
    30% { top: 10px; opacity: 1; }
    100% { top: 25px; opacity: 0; }
}

body {
    font-family:"Univers LT W01_55 Roman1475956";
}

i, em {
    font-family:"Univers LT W01_55 Obliq1475962";
}

b, strong {
    font-family:"Univers LT W01_65 Bold1475968";
}

b i, strong i,
b em, strong em {
    font-family:"Univers LT W01_65 Bold_1475974";
}

h1, h2, h3, h4, h5,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
    font-family: $font_mu;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}
/** END GENERAL **/

/** BUTTON **/
div.button-primary-wrap a.vc_btn3.vc_btn3-style-classic,
.button-primary {
    display: inline-block;
    position: relative;
    padding: 15px 55px 15px 20px;
    border: 1px solid $color_orange;
    border-radius: 0;
    background: transparent;
    font-family: $font_mu;
    font-size: 22px;
    color: $color_orange;
    font-weight: 300;
    text-align: left;
    text-decoration: none !important;
    outline: none;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 10px solid $color_orange;
        margin-top: -7px;
        transition: right .25s;
        -webkit-transition: right .25s;
    }
    &:hover,
    &:focus {
        color: #000;
        border-color: #000;
        background: transparent;
        &:after {
            border-left-color: #000;
        }
    }
    &.black {
        border-color: #000;
        color: #000;
        &:after {
            border-left-color: #000;
        }
        &:hover,
        &:focus {
            border-color: #fff;
            color: #fff;
            &:after {
                border-left-color: #fff;
            }
        }
    }
}

div.button-primary-wrap a.vc_btn3.vc_btn3-style-classic {
    border-color: #000;
    color: #000;
    &:after {
        border-left-color: #000;
    }
    &:hover,
    &:focus {
        border-color: $color_orange;
        color: $color_orange;
        &:after {
            border-left-color: $color_orange;
        }
    }
}
/** END BUTTON **/

/** FORM **/
div.gform_wrapper {
    margin: 0;
    form {
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100% !important;
            height: 60px;
            border: 1px solid #000;
            padding: 0 25px !important;
            margin: 0 !important;
            background-color: transparent !important;
        }
        textarea {
            height: 196px;
            padding: 20px 25px !important;
            resize: vertical;
        }
    }
    ul.gform_fields {
        > li {
            width: 100% !important;
            max-width: 100% !important;
            margin: 0 0 18px !important;
            padding: 0 !important;
            border: 0 !important;
            background-color: transparent !important;
        }
    }
    div.gfield_description {
        padding: 5px 0 0 !important;
        font-size: 12px;
    }
    div.ginput_container,
    div.gform_footer {
        margin: 0 !important;
        padding: 0 !important;
    }
    div.gform_footer {
        padding-top: 30px !important;
        .button-primary {
            min-width: 240px;
            color: $color_orange !important;
            border-color: $color_orange !important;
            border-radius: 0;
            background-color: transparent !important;
            &:after {
                display: block;
                width: 0;
                left: auto;
                background: transparent;
            }
            &:hover {
                border-color: #fff !important;
                color: #fff !important;
                &:after {
                    border-left-color: #fff;
                }
            }
        }
    }
}
/** END FORM **/

/** HEADER **/
#site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    .inner {
        padding: 40px 0 0 40px;
    }
    #logo {
        img.logo-sticky, 
        img.logo-mobile, 
        img.logo-mobile-sticky {
            display: none;
        }
        img.logo-main {
            width: auto;
            height: 100px;
        }
    }
    .responsive-menu-toggle {
        display: none;
        position: absolute;
        top: 40px;
        right: 20px;
        font-size: 40px;
        color: #fff;
    }
}

#site-menu {
    display: none;
    ul.menu {
        li {
            position: relative;
            a {
                font-family: $font_mu;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 992px) {
    #site-menu {
        display: block;
        position: absolute;
        top: 47px;
        right: 0;
        ul.menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            > li {
                padding: 0 40px 15px 0;
                &:hover {
                    > ul.sub-menu {
                        margin-top: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        ul.sub-menu {
            position: absolute;
            top: 100%;
            right: 20px;
            min-width: 300px;
            background-color: rgba($color: #FFFFFF, $alpha: 0.8);
            padding: 30px 20px;
            margin-top: 20px;
            opacity: 0;
            visibility: hidden;
            transition: all .25s;
            -webkit-transition: all .25s;
            li {
                padding: 10px 0;
                a {
                    display: block;
                    position: relative;
                    padding-right: 25px;
                    color: #000000;
                    text-align: right;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -6px;
                        width: 0;
                        height: 0;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        border-left: 10px solid $color_orange;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #site-menu ul.menu > li:nth-last-child(1) > a, 
    #site-menu ul.menu > li:nth-last-child(2) > a, 
    #site-menu ul.menu > li:nth-last-child(3) > a {
        color: #000000;
    }
}

@media (max-width: 991px) {
    #site-header {
        .responsive-menu-toggle {
            display: block;
        }
    }
}
/** END HEADER **/

/** FOOTER **/
#Footer {
    position: relative;
    z-index: 500;
    .widgets_wrapper {
        padding: 40px 0 30px;
        div.column {
            width: 100%;
            float: none;
            margin: 0;
            &:nth-child(1) {
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #000;
            }
            &:nth-child(2) {
                ul.menu {
                    li {
                        &:not(:last-child) {
                            position: relative;
                            padding-right: 10px;
                            margin-right: 10px;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 9px;
                                right: 0;
                                width: 1px;
                                height: 10px;
                                background-color: #000000;
                            }
                        }
                    }
                }
            }
        }
        .widget {
            margin: 0;
            padding: 0;
            ul.menu {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                background-color: transparent;
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    a {
                        display: inline-block;
                        padding: 0;
                    }
                }
                ul {
                    padding: 0;
                    background-color: transparent;
                }
            }
            ul.partners {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                li {
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #Footer .widgets_wrapper div.column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:nth-child(1) {
            .widget_media_image {
                order: 2;
            }
            .widget_nav_menu {
                order: 1;
            }
        }
    }

    #Footer .widgets_wrapper .widget.widget_nav_menu ul.menu > li:not(:last-child) {
        padding-right: 70px;
    }

    #Footer .widgets_wrapper .widget ul.partners li {
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    #Footer .widgets_wrapper .widget.widget_nav_menu ul.menu {
        display: block;
        padding-top: 20px;
    }

    #Footer .widgets_wrapper .widget ul.partners {
        padding-top: 10px;
    }

    #Footer .widgets_wrapper .widget ul.partners li {
        margin-right: 20px;
    }
}
/** END FOOTER **/

/** WELCOME SLIDER **/
#welcome {
    position: relative;
    margin-bottom: 120px;
    .primary-slider {
        position: relative;
        z-index: 10;
        ul.slick-dots {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            bottom: 25px;
            left: 40px;
            z-index: 200;
            li {
                margin-right: 6px;
                button {
                    display: block;
                    width: 9px;
                    height: 9px;
                    padding: 0;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    background-color: transparent;
                    margin: 0;
                    text-indent: -999px;
                    overflow: hidden;
                    outline: none;
                }
                &.slick-active,
                &:hover {
                    button {
                        background-color: #fff !important;
                    }
                }
            }
        }
        .slick-slide {
            position: relative;
            height: 900px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.75);
                z-index: 1;
            }
            .inner {
                position: relative;
                width: 100%;
                padding: 0 40px;
                font-family: $font_mu;
                font-size: 25px;
                color: #fff;
                font-weight: 700;
                z-index: 2;
            }
            p.heading {
                font-size: 50px;
                line-height: 1.1;
                margin-bottom: 15px;
                span {
                    display: block;
                    margin-top: 15px;
                    font-size: 80px;
                    text-transform: uppercase;
                }
            }
            p.description {
                max-width: 650px;
                margin-bottom: 0;
                line-height: 1.1;
            }
            a.play-video {
                position: relative;
                max-width: 270px;
                height: 56px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-left: 95px;
                margin-top: 65px;
                font-family: $font_mu;
                font-size: 24px;
                color: $color_orange;
                font-weight: 300;
                text-decoration: none;
                &:before {
                    content: '';
                    width: 80px;
                    height: 56px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../images/icon-youtube.svg);
                    background-repeat: no-repeat;
                    background-position: 0;
                }
            }
        }
    }
    .secondary-slider {
        position: absolute;
        bottom: -120px;
        right: 104px;
        width: 700px;
        z-index: 20;
    }
    > div.container {
        position: relative;
        z-index: 30;
    }
    button.mouse {
        position: absolute;
        top: -28px;
        left: 15px;
        width: 24px;
        height: 40px;
        border: 2px solid #FC8108;
        padding: 0;
        background-color: transparent !important;
        border-radius: 20px;
        padding: 0;
        margin: 0;
        outline: none;
        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 50%;
            width: 2px;
            height: 8px;
            border-radius: 10px;
            background-color: #FC8108;
            margin-left: -1px;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: scroll;
        }
    }
    div.line {
        position: absolute;
        bottom: -410px;
        left: 40px;
        &:before {
            content: '';
            display: block;
            width: 3px;
            height: 300px;
            background-color: #000000;
            margin: 0 auto 6px;
        }
        span {
            display: block;
            width: 9px;
            height: 9px;
            background-color: #000000;
            border-radius: 50%;
            margin-bottom: 6px;
        }
    }
}

@media (min-width: 1200px) {
    #welcome .primary-slider {
        background-color: $color_orange;
        padding-right: 381px;
    }

    #welcome .primary-slider .slick-slide .inner {
        padding-right: 380px;
    }
    
}

@media (min-width: 1440px) {
    #welcome .primary-slider .slick-slide .inner {
        padding-left: 140px;
    }

    #welcome .primary-slider ul.slick-dots {
        left: 140px;
    }

    #welcome div.line {
        left: 70px;
    }
}

@media (max-width: 1199px) {
    #welcome .secondary-slider {
        display: none;
    }
}

@media (max-width: 767px) {
    #welcome div.line {
        left: 10px;
    }

    #welcome button.mouse {
        left: 50%;
        margin-left: -12px;
    }
}

@media (max-width: 575px) {
    #welcome .primary-slider .slick-slide {
        height: 620px;
    }

    #welcome .primary-slider .slick-slide .inner {
        font-size: 20px;
    }

    #welcome .primary-slider .slick-slide p.heading {
        font-size: 24px;
    }

    #welcome .primary-slider .slick-slide p.heading  span {
        font-size: 30px;
    }
}
/** END WELCOME SLIDER **/

/** ABOUT SECTION **/
#about {
    position: relative;
    margin-bottom: 120px;
    font-size: 18px;
    color: #707070;
    h2 {
        max-width: 370px;
        margin: 0 0 30px;
    }
    .button-primary {
        margin-top: 25px;
    }
}

@media (min-width: 1200px) {
    #about .container {
        padding-right: 300px;
    }
}
/** END ABOUT SECTION **/

/** CTA SECTION **/
#cta {
    position: relative;
    background-color: $color_orange;
    color: #000000;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        bottom: -38px;
        right: 80px;
        background-image: url(../images/shape-2.png);
        background-repeat: no-repeat;
        background-position: 0;
        background-size: contain;
        width: 145px;
        height: 144px;
    }
    .container {
        padding-top: 80px;
        padding-bottom: 60px;
        &:before {
            content: '';
            position: absolute;
            top: -65px;
            left: -290px;
            width: 500px;
            height: 338px;
            background-image: url(../images/shape-1.png);
            background-repeat: no-repeat;
            background-position: 0;
            background-size: contain;
        }
    }
    p.heading {
        font-family: $font_mu;
        font-size: 34px;
        line-height: 41px;
        margin: 0 0 30px;
    }
    .button-primary {
        margin: 0 30px 20px 0;
    }
}

@media (min-width: 992px) {
    #cta .container {
        padding-left: 300px;
    }
}

@media (max-width: 991px) {
    #cta:after {
        width: 100px;
        bottom: -50px;
    }

    #cta .container {
        padding-left: 60px;
    }

    #cta .container:before {
        left: -460px;
    }
}
/** END CTA SECTION **/

/** SERVICES SECTION **/
#services {
    padding: 80px 0;
    h2 {
        color: $color_orange;
        margin-bottom: 60px;
    }
    .service-grid {
        .item {
            text-align: center;
            a {
                text-decoration: none;
                outline: none;
            }
            span {
                display: block;
                &.icon {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &.title {
                    font-family:"Univers LT W01_55 Roman1475956";
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #services .service-grid {
        justify-content: center;
    }
    
    #services .service-grid .col-lg-2 {
        position: relative;
        padding: 20px;
        &:not(:last-child):after {
            content: '';
            width: 1px;
            position: absolute;
            top: 2px;
            bottom: 2px;
            right: 0;
            background-color: $color_orange;
        }
    }
}

@media (min-width: 1200px) {
    #services .service-grid .col-lg-2 {
        flex: 1;
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #services .service-grid .col-lg-2:nth-child(3):after {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #services .service-grid .col-lg-2:nth-child(2):after,
    #services .service-grid .col-lg-2:nth-child(4):after {
        display: none;
    }
}

@media (max-width: 575px) {
    #services .service-grid .col-lg-2:not(:last-child) {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color_orange;
    }
}
/** END SERVICES SECTION **/

/** CONTACT SECTION **/
#contact {
    background-color: #000000;
    padding: 120px 0;
    font-size: 18px;
    color: #fff;
    h2 {
        color: $color_orange;
        margin: 0 0 40px;
    }
    ul.socials {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 50px 0;
        li {
            margin: 0 25px 0 0;
        }
    }
    ul.contact {
        li {
            span {
                display: inline-block;
                color: $color_orange;
                margin-right: 5px;
            }
            a {
                color: inherit;
            }
            &.address {
                margin-bottom: 20px;
            }
        }
    }
    div.gform_wrapper {
        form {
            ::-webkit-input-placeholder {
                color: #fff;
            }
            ::-moz-placeholder {
                color: #fff;
            }
            :-ms-input-placeholder {
                color: #fff;
            }
            :-moz-placeholder {
                color: #fff;
            }
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 16px;
                color: #fff;
                border-color: #fff !important;
            }
        }
    }
}

@media (min-width: 992px) {
    #contact div.gform_wrapper {
        padding-right: 50px !important;
    }
}

@media (max-width: 767px) {
    #contact .row > div:nth-child(1) {
        margin-bottom: 30px;
    }
}
/** END CONTACT SECTION **/

/** PAGE TITLE **/
#page-title {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        z-index: 1;
    }
    .inner {
        position: relative;
        height: 390px;
        display: flex;
        align-items: center;
        padding: 0 40px;
        z-index: 10;
        h1 {
            position: relative;
            font-size: 58px;
            line-height: 1.1;
            color: #fff;
            margin: 0;
            z-index: 10;
        }
    }
}

@media (min-width: 1440px) {
    #page-title .inner {
        padding-left: 140px;
    }
}

@media (min-width: 992px) {
    #page-title:after {
        content: '';
        width: 381px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color_orange;
        z-index: 5;
    }

    #page-title .inner:before {
        content: '';
        position: absolute;
        right: 110px;
        bottom: -15px;
        width: 530px;
        height: 262px;
        background-image: url(../images/shape-3.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        z-index: 1;
    }
}

@media (max-width: 575px) {
    #page-title .inner {
        padding-top: 200px;
        align-items: flex-start;
    }

    #page-title .inner h1 {
        font-size: 34px;
    }
}
/** END PAGE TITLE **/

/** FAQ **/
div.wpb_wrapper div.faq .faq_wrapper {
    border-bottom: 1px solid #C4C4C4;
}

div.wpb_wrapper div.faq .faq_wrapper .question {
    border: 0;
    padding: 0;
}

div.wpb_wrapper div.faq .faq_wrapper .question .title {
    font-family: $font_mu;
    font-size: 20px;
    color: #000;
    > i {
        font-size: 24px;
        color: $color_orange;
    }
}

div.wpb_wrapper div.faq .faq_wrapper .question:after {
    display: none;
}

div.wpb_wrapper div.faq .faq_wrapper .answer,
div.wpb_wrapper div.faq .faq_wrapper .answer ul {
    color: #707070;
}

div.wpb_wrapper div.faq .faq_wrapper .answer {
    padding-bottom: 40px;
}

.wpb_text_column + .faq .faq_wrapper {
    border-top: 1px solid #C4C4C4;
}
/** END FAQ **/

/** SINGE POST **/
body.single-post {
    #page-title {
        margin-bottom: 80px;
    }
}
/** END SINGE POST **/

/** magnificPopup **/
.mfp-wrap button.mfp-close {
    top: -65px;
    width: 45px;
    height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    padding: 0;
    text-indent: 9999px;
    overflow: hidden;
    opacity: 1;
    &:before,
    &:after {
        content: '';
        width: 26px !important;
        height: 2px !important;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -13px;
        background-color: #fff !important;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
/** END magnificPopup **/

/** EXTRA **/
.wpb_wrapper > div {
    margin-bottom: 0;
}

.bg-orange {
    background: #F57E23;
}

.bg-orange h3 {
	color: #000;
}

.bg-orange p {
	color: #fff;
	font-weight: 600 !important;
}

.bg-gray {
	background: #AAAAAA;
}

.bg-gray h3 {
	color: #fff;
}

.bg-gray p {
	color: #000 !important;
}

.bg-black {
	background: #000;
    color: #fff;
}

.bg-black h2,
.bg-black h3,
.bg-black h4,
.bg-black p {
    color: #fff;
}

.color-black {
 color: #000 !important;
}

.color-white {
    color: #fff !important;
}

.color-orange {
    color: $color_orange;
}

.color-gray {
    color: #707070;
}
/** END EXTRA **/