/** GENERAL **/
::-webkit-input-placeholder {
  color: #78662A;
}

::-moz-placeholder {
  color: #78662A;
}

:-ms-input-placeholder {
  color: #78662A;
}

:-moz-placeholder {
  color: #78662A;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #78662A;
  background-color: #F8F0E5;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 50px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: #78662A;
}

a:hover, a:focus {
  color: #78662A;
}

img {
  max-width: 100%;
  height: auto;
}

ul.menu,
ul.menu ul,
ul.socials,
ul.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 575px) {
  body {
    font-size: 16px;
  }
  h2, .h2 {
    font-size: 28px;
  }
}

/** END GENERAL **/
/* WP DEFAULT */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

@media (max-width: 575px) {
  .aligncenter, .alignright, .alignleft, .alignnone,
.wp-caption.alignnone, .wp-caption.alignleft, .wp-caption.alignright,
a img.alignright, a img.alignnone, a img.alignleft {
    display: block;
    float: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* END WP DEFAULT */
/** BUTTON **/
.btn {
  border: 0;
  border-radius: 0;
  padding: 19px 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  letter-spacing: 0.06em;
}

.btn.btn-primary {
  min-width: 297px;
  border: 1px solid transparent;
  background-color: #FFFFFF;
  color: #000000;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  border-color: #000000;
  background-color: transparent;
  color: #000000;
}

.btn.btn-sm {
  min-width: 150px;
  padding: 7px 18px;
  font-size: 17px;
  letter-spacing: 0.04em;
}

@media (max-width: 991px) {
  .btn,
.btn.btn-sm {
    font-size: 16px;
  }
  .btn.btn-primary {
    min-width: 210px;
    padding: 13px 15px;
  }
}

/** END BUTTON **/
/** HEADER **/
#site-header {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid #78662A;
  background-color: #F8F0E5;
  z-index: 500;
}

#site-header a.logo {
  position: relative;
}

#site-header a.logo img.color {
  display: block;
}

#site-header a.logo img.white {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#site-header a.logo img.horizontal {
  display: none;
}

#site-header button.toggle-menu {
  position: relative;
  display: block;
  width: 32px;
  height: 18px;
  border: 0;
  padding: 0;
  margin: 0 0 0 45px;
  background-color: transparent;
  outline: none;
}

#site-header button.toggle-menu span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #78662A;
}

#site-header button.toggle-menu.collapsed span:nth-child(1) {
  top: 0;
}

#site-header button.toggle-menu.collapsed span:nth-child(2) {
  top: 50%;
  margin-top: -1.5px;
}

#site-header button.toggle-menu.collapsed span:nth-child(3) {
  bottom: 0;
}

#site-header button.toggle-menu:not(.collapsed) span:nth-child(1), #site-header button.toggle-menu:not(.collapsed) span:nth-child(3) {
  top: 50%;
  margin-top: -1.5px;
}

#site-header button.toggle-menu:not(.collapsed) span:nth-child(1) {
  transform: rotate(45deg);
}

#site-header button.toggle-menu:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

#site-header button.toggle-menu:not(.collapsed) span:nth-child(3) {
  transform: rotate(-45deg);
}

#site-header ul.menu li a {
  display: inline-block;
  font-size: 21px;
  text-transform: uppercase;
}

#site-header ul.menu li.current-menu-item > a {
  font-weight: 700;
}

#site-header ul.quick-links li a {
  text-decoration: underline;
}

body.transparent-header #site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body.transparent-header #site-header:not(.show-menu):not(.sticky) {
  border-bottom-color: #fff;
  background-color: transparent;
}

body.transparent-header #site-header:not(.show-menu):not(.sticky) a {
  color: #fff;
}

body.transparent-header #site-header:not(.show-menu):not(.sticky) a.logo img.stacked.color {
  opacity: 0;
}

body.transparent-header #site-header:not(.show-menu):not(.sticky) a.logo img.stacked.white {
  opacity: 1;
}

body.transparent-header #site-header:not(.show-menu):not(.sticky) button.toggle-menu span {
  background-color: #fff;
}

.is-sticky #site-header {
  border-bottom: 0;
}

.is-sticky #site-header a.logo img.stacked {
  display: none;
}

.is-sticky #site-header a.logo img.horizontal {
  display: block;
}

@media (min-width: 992px) {
  #site-header {
    padding: 25px 0 30px;
  }
  #site-header div.container {
    position: relative;
  }
  #site-header ul.quick-links {
    position: absolute;
    top: 90px;
    right: 15px;
    transition: top .25s;
    -webkit-transition: top .25s;
  }
  #site-menu {
    padding-top: 90px;
    padding-right: 85px;
    transition: padding .25s;
    -webkit-transition: padding .25s;
  }
  #site-menu ul.menu > li {
    margin-left: 35px;
  }
  .is-sticky #site-header ul.quick-links {
    top: 10px;
  }
  .is-sticky #site-menu {
    padding-top: 10px;
  }
}

@media (min-width: 1200px) {
  #site-menu {
    padding-right: 105px;
  }
  #site-menu ul.menu > li {
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  #site-header a.logo img {
    width: 162px;
    height: auto;
  }
  #site-menu ul.menu li {
    margin-top: 20px;
  }
  #site-menu ul.menu li a {
    display: block;
  }
}

@media (max-width: 767px) {
  #site-header a.logo img {
    width: 118px;
  }
}

@media (max-width: 575px) {
  #site-header ul.menu li a {
    font-size: 18px;
  }
}

/** END HEADER **/
/** FOOTER **/
#site-footer > div.container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 140px;
}

#site-footer > div.container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  height: 1px;
  background-color: #78662A;
}

#site-footer ul.socials li,
#site-footer ul.menu li {
  display: inline-block;
  text-transform: uppercase;
}

#site-footer ul.socials {
  margin-bottom: 70px;
}

#site-footer ul.socials li {
  margin: 0 15px;
}

#site-footer ul.footer-menu {
  margin-bottom: 60px;
}

#site-footer ul.footer-menu li {
  margin: 0 30px;
}

#site-footer ul.copyright li {
  position: relative;
  font-size: 13px;
}

#site-footer ul.copyright li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #78662A;
  margin: 0 10px;
}

@media (max-width: 991px) {
  #site-footer ul.footer-menu li {
    margin: 0 20px;
  }
}

@media (max-width: 575px) {
  #site-footer > div.container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  #site-footer ul.socials,
#site-footer ul.footer-menu {
    margin-bottom: 40px;
  }
  #site-footer ul.socials li img {
    width: auto;
    height: 30px;
  }
  #site-footer ul.footer-menu li {
    display: block;
    margin: 0;
  }
  #site-footer ul.footer-menu li:not(:last-child) {
    margin-bottom: 20px;
  }
  #site-footer ul.copyright li {
    font-size: 12px;
  }
  #site-footer ul.copyright li:not(:last-child):after {
    margin: 0 5px;
  }
}

/** END FOOTER **/
/** WELCOME SECTION **/
#welcome {
  position: relative;
  height: 100vh;
}

#welcome .welcome__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#welcome .welcome__text {
  position: relative;
  height: 100%;
  color: #fff;
  z-index: 10;
}

#welcome .welcome__text h1 {
  font-size: 120px;
  font-weight: 300;
  margin-bottom: 35px;
}

#welcome .welcome__text p {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 0;
}

#welcome .welcome__text a.btn {
  margin-bottom: 55px;
}

@media (max-width: 991px) {
  #welcome {
    height: 927px;
  }
  #welcome .welcome__text h1 {
    font-size: 80px;
  }
  #welcome .welcome__text p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  #welcome {
    height: 800px;
  }
}

/** END WELCOME SECTION **/
/** FEATURES SECTION **/
#features {
  padding: 115px 0 57px;
}

#features .features__item {
  position: relative;
  padding-left: 70px;
  margin-bottom: 57px;
}

#features .features__item:before {
  content: '';
  width: 11px;
  height: 11px;
  background-color: #78662A;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
}

#features .features__item p:last-child {
  margin-bottom: 0;
}

#features .features__item .title {
  margin-bottom: 15px;
  font-weight: 300;
}

@media (max-width: 575px) {
  #features {
    padding: 60px 0 30px;
  }
  #features .features__item {
    padding-left: 30px;
    margin-bottom: 30px;
  }
  #features .features__item:before {
    width: 9px;
    height: 9px;
  }
}

/** END FEATURES SECTION **/
/** TESTIMONIALS SECTION **/
#testimonials {
  padding-bottom: 100px;
}

#testimonials div.row {
  background-color: #fff;
  margin-bottom: 100px;
}

#testimonials .testimonials__photo {
  min-height: 325px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#testimonials .testimonials__slider {
  padding: 150px 120px;
}

#testimonials .testimonials__slider .slider {
  padding-bottom: 80px;
}

#testimonials .testimonials__slider .slick-slide p.name {
  margin-bottom: 0;
  font-size: 16px;
}

#testimonials .testimonials__slider button.slick-arrow {
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1.5px solid #78662A;
  background-color: transparent;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
  transition: background-color .2s;
  -webkit-transition: background-color .2s;
}

#testimonials .testimonials__slider button.slick-arrow:before, #testimonials .testimonials__slider button.slick-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
}

#testimonials .testimonials__slider button.slick-arrow:before {
  background-image: url(../svg/arrow-right-moss.svg);
}

#testimonials .testimonials__slider button.slick-arrow:after {
  background-image: url(../svg/arrow-right-white.svg);
  opacity: 0;
}

#testimonials .testimonials__slider button.slick-arrow.slick-prev {
  left: 0;
}

#testimonials .testimonials__slider button.slick-arrow.slick-prev:before, #testimonials .testimonials__slider button.slick-arrow.slick-prev:after {
  transform: rotate(180deg);
}

#testimonials .testimonials__slider button.slick-arrow.slick-next {
  left: 67px;
}

#testimonials .testimonials__slider button.slick-arrow:hover {
  background-color: #78662A;
}

#testimonials .testimonials__slider button.slick-arrow:hover:before {
  opacity: 0;
}

#testimonials .testimonials__slider button.slick-arrow:hover:after {
  opacity: 1;
}

@media (max-width: 1199px) {
  #testimonials .testimonials__slider {
    padding: 120px 60px;
  }
}

@media (max-width: 767px) {
  #testimonials {
    padding-bottom: 60px;
  }
  #testimonials div.row {
    margin-bottom: 60px;
  }
  #testimonials .testimonials__slider {
    padding: 60px 30px;
  }
  #testimonials .testimonials__slider button.slick-arrow.slick-prev {
    left: 50%;
    margin-left: -47px;
  }
  #testimonials .testimonials__slider button.slick-arrow.slick-next {
    left: auto;
    right: 50%;
    margin-right: -47px;
  }
}

/** END TESTIMONIALS SECTION **/
/** course-grid **/
.row.course-grid > div {
  padding-bottom: 60px;
}

.course-item {
  position: relative;
  height: 100%;
  background-color: #000000;
  padding-bottom: 160px;
}

.course-item .course-item__text {
  padding: 60px 50px 0;
  font-size: 16px;
  color: #fff;
}

.course-item .course-item__text p.h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.course-item .course-item__btn {
  position: absolute;
  right: 50px;
  bottom: 60px;
  left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.course-item .course-item__btn .btn:hover, .course-item .course-item__btn .btn:focus {
  border-color: #fff;
  color: #fff;
}

.course-item .course-item__btn .btn:not(:last-child) {
  margin-right: 25px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .row.course-grid {
    margin-left: -30px;
    margin-right: -30px;
  }
  .row.course-grid > div {
    padding: 0 30px 70px;
  }
}

@media (max-width: 575px) {
  .course-item .course-item__text {
    padding: 40px 20px 0;
  }
  .course-item .course-item__btn {
    right: 20px;
    left: 20px;
  }
  .course-item .course-item__btn .btn {
    display: block;
    width: 100%;
    margin-right: 0 !important;
  }
}

/** END course-grid **/
/** post-grid **/
.row.post-grid > div {
  padding-bottom: 60px;
}

.post-item {
  position: relative;
  height: 100%;
}

.post-item .post-item__text .date {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.post-item .post-item__text .title {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.post-item .post-item__text .btn {
  margin-top: 40px;
}

.post-item.post-item--inline {
  background-color: #000000;
  color: #fff;
}

.post-item.post-item--inline .post-item__text {
  padding: 40px 20px;
}

.post-item.post-item--inline .post-item__text .title a {
  color: #fff;
}

.post-item.post-item--inline .post-item__text .btn:hover, .post-item.post-item--inline .post-item__text .btn:focus {
  border-color: #fff;
  color: #fff;
}

.post-item.post-item--stack .post-item__photo {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .post-item.post-item--stack {
    padding-bottom: 80px;
  }
  .post-item.post-item--stack .post-item__text .btn {
    position: absolute;
    bottom: 0;
  }
  .post-item.post-item--inline {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .post-item.post-item--inline .post-item__photo {
    width: 40%;
    margin-bottom: 0;
  }
  .post-item.post-item--inline .post-item__text {
    width: 60%;
    padding: 70px 100px;
  }
  .post-item.post-item--inline .post-item__text .btn {
    position: relative;
    bottom: auto;
  }
}

@media (min-width: 1200px) {
  .row.post-grid {
    margin-left: -30px;
    margin-right: -30px;
  }
  .row.post-grid > div {
    padding: 0 30px 70px;
  }
}

/** END post-grid **/
/** faq-list **/
.faq-item {
  border-top: 1px solid #78662A;
}

.faq-item .faq-item__title {
  margin-bottom: 0;
}

.faq-item .faq-item__title a {
  display: block;
  position: relative;
  padding: 20px 30px 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.faq-item .faq-item__title a:before, .faq-item .faq-item__title a:after {
  content: '';
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  background-color: #78662A;
}

.faq-item .faq-item__title a:after {
  transform: rotate(90deg);
}

.faq-item .faq-item__title a:not(.collapsed):after {
  opacity: 0;
}

.faq-item .faq-item__text {
  padding: 10px 0 30px;
}

.faq-item:last-child {
  border-bottom: 1px solid #78662A;
}

/** END faq-list **/
/** post-template **/
.post-template div.container {
  max-width: 900px;
}

.post-template h1 {
  margin-bottom: 50px;
}

.post-template p.date {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.post-template .post-photo {
  margin-bottom: 45px;
}

.post-template .post-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.post-template .post-author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.post-template .post-author span {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

/** END post-template **/
/** CONTENT **/
#site-content {
  padding: 100px 0;
}

.page-title {
  margin-bottom: 70px;
}

.entry-content h2, .entry-content h3 {
  margin-bottom: 30px;
}

.entry-content p {
  margin-bottom: 30px;
}

.entry-content ul:not([class]) {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.entry-content ul:not([class]) li {
  position: relative;
  padding: 0 0 20px 30px;
}

.entry-content ul:not([class]) li:before {
  content: '';
  width: 11px;
  height: 11px;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #78662A;
  border-radius: 50%;
}

.entry-content ul:not([class]) li:last-child {
  padding-bottom: 0;
}

/** END CONTENT **/
/** EXTRA **/
.aspect-ratio {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.aspect-ratio img,
.aspect-ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aspect-ratio img {
  object-fit: cover;
}

.fl-bg-video {
  position: relative;
  overflow: hidden;
}

.fl-bg-video video {
  bottom: 0;
  left: 0px;
  max-width: none;
  position: absolute;
  right: 0;
  top: 0px;
}

.fl-bg-video iframe {
  pointer-events: none;
  width: 100vw;
  height: 56.25vw;
  max-width: none;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/** END EXTRA **/
