/** GENERAL **/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #565857;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: 'Merriweather', serif;
    color: #5A2C8E;
    font-weight: 700;
}

h1, .h1 {
    font-size: 56px;
    line-height: 60px;
}

h2, .h2 {
    font-size: 36px;
    line-height: 42px;
}

h3, .h3 {
    font-size: 27px;
    line-height: 33px;
}

h4, .h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

a, a:hover, a:focus {
    text-decoration: none;
}

a {
    color: #5A2C8E;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul.menu,
ul.menu ul,
ul.logos,
ul.socials {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-blue {
    color: #58C7DD;
}

.text-light-blue {
    color: #A5C6CD;
}

.text-green {
    color: #00AC89;
}

.text-orange {
    color: #F05860;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1330px) {
    .container {
        max-width: 1290px;
    }
}
/** END GENERAL **/

/** FORMS **/
button, input {
    outline: none !important;
}

div.gform_wrapper {
    margin: 0;
    form {
        ::-webkit-input-placeholder { color: #2E2E2E; }
        ::-moz-placeholder { color: #2E2E2E; }
        :-ms-input-placeholder { color: #2E2E2E; }
        :-moz-placeholder { color: #2E2E2E; }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            height: 42px;
            border: 2px solid #5A2C8E;
            padding: 0 15px !important;
            margin: 0;
            font-size: 15px !important;
            color: #2E2E2E;
            outline: none;
        }
        textarea {
            height: 100px;
            padding: 10px 15px !important;
            resize: vertical;
        }
        input[type="submit"] {
            min-width: 120px;
            background-color: #00AC89;
            padding: 0 20px;
            border: 0;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: #fff;
            line-height: 45px;
            font-weight: 700;
            text-align: center;
            outline: none;
        }
    }
    ul.gform_fields {
        display: flex;
        flex-wrap: wrap;
        > li {
            width: 100% !important;
            background-color: transparent !important;
            border: 0 !important;
            padding: 0 !important;
            margin: 0 0 15px !important;
        }
    }
    div.ginput_container,
    div.gform_footer {
        margin: 0 !important;
        padding: 0 !important;
    }
    div.validation_error {
        border: 0;
        padding: 0;
        margin: 0 0 20px;
    }
    div.gfield_description.validation_message {
        padding: 0;
        font-size: 12px;
        color: #5A2C8E;
        font-weight: 400;
    }
}

@media (min-width: 575px) {
    div.gform_wrapper ul.gform_fields > li.gf_left_half,
    div.gform_wrapper ul.gform_fields > li.gf_right_half {
        width: 50% !important;
    }

    div.gform_wrapper ul.gform_fields > li.gf_left_half {
        padding-right: 7.5px !important;
    }

    div.gform_wrapper ul.gform_fields > li.gf_right_half {
        padding-left: 7.5px !important;
    }
}
/** END FORMS **/

/** BUTTON **/
.btn {
    min-width: 200px;
    padding: 8px 20px;
    border: 3px solid transparent;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    box-shadow: none;
    &.btn-primary {
        background-color: #00AC89;
        color: #fff;
        &.blue {
            background-color: #58C7DD;
        }
        &.pink {
            background-color: #F05860;
        }
        &:hover,
        &:focus {
            border-color: transparent;
        }
    }
    &.btn-border {
        background-color: transparent;
        border-color: #00AC89;
        color: #00AC89;
        &.blue {
            border-color: #58C7DD;
            color: #58C7DD;
        }
        &.white {
            border-color: #fff;
            color: #fff;
            &:hover,
            &:focus {
                background-color: #fff;
                color: #5a2c8e;
            }
        }
    }
}

.btn-link {
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    text-decoration: underline;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
/** END BUTTON **/

/** SLICK SLIDER **/
.slick-slider {
    ul.slick-dots {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            button {
                display: block;
                width: 19px;
                height: 19px;
                border: 4px solid #fff;
                border-radius: 50%;
                padding: 0;
                background-color: #fff;
                text-indent: -90px;
                overflow: hidden;
            }
            &.slick-active {
                button {
                    background-color: transparent;
                }
            }
        }
    }
    button.slick-arrow {
        position: relative;
        width: 38px;
        height: 56px;
        border: 0;
        padding: 0;
        border-radius: 8px;
        background-color: rgba($color: #58585B, $alpha: 0.3);
        text-indent: -999px;
        overflow: hidden;
        &:before {
            content: "";
            background-image: url(../images/arrow/right-white-3.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            width: 17px;
            height: 28px;
            margin: -14px 0 0 -8.5px;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &.slick-prev {
            &:before {
                transform: rotate(180deg);
            }
        }
        &:hover {
            background-color: rgba($color: #58585B, $alpha: 1);
        }
    }
    &.equal-height {
        .slick-track {
            display: flex;
            .slick-slide {
                height: auto;
                min-height: auto;
            }
        }
    }
}
/** END SLICK SLIDER **/

/** BACKGROUND VIDEO **/
div.fl-bg-video {
    position: relative;
    overflow: hidden;
}

div.fl-bg-video video {
    bottom: 0;
    left: 0px;
    max-width: none;
    position: absolute;
    right: 0;
    top: 0px;
}

div.fl-bg-video iframe {
    pointer-events: none;
    width: 100vw;
    height: 56.25vw;
    max-width: none;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
/** END BACKGROUND VIDEO **/

/** CTA BLOCK **/
.cta-global {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    margin-bottom: 85px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    font-size: 15px;
    color: #fff;
    h3 {
        font-size: 21px;
        color: #fff;
    }
    p:last-child {
        margin-bottom: 0;
    }
    div.inner {
        position: relative;
        padding: 10px 20px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(top,  rgba(18,18,18,0.4) 0%, rgba(88,88,91,0.8) 100%);
            background: -webkit-linear-gradient(top,  rgba(18,18,18,0.4) 0%,rgba(88,88,91,0.8) 100%);
            background: linear-gradient(to bottom,  rgba(18,18,18,0.4) 0%,rgba(88,88,91,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66121212', endColorstr='#cc58585b',GradientType=0 );
            z-index: 1;
        }
    }
    div.row {
        position: relative;
        z-index: 2;
    }
    a.btn {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 49px;
        border-radius: 0;
        padding: 0 35px 0 20px;
        text-align: left;
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            width: 16px;
            height: 27px;
            margin-top: -13.5px;
            background-image: url(../images/arrow/right-white-3.svg);
            background-repeat: no-repeat;
            background-position: 0;
            background-size: contain;
        }
    }
}

@media (min-width: 768px) {
    .cta-global div.inner {
        padding-right: 220px;
    }

    .cta-global a.btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 767px) {
    .cta-global div.row {
        margin-bottom: 20px;
    }
}
/** END CTA BLOCK **/

/** HEADER **/
#site-header {
    position: relative;
    background-color: #fff;
    transition: all .25s;
    -webkit-transition: all .25s;
    z-index: 200;

    ::-webkit-input-placeholder { color: #A5C6CD; }
    ::-moz-placeholder { color: #A5C6CD; }
    :-ms-input-placeholder { color: #A5C6CD; }
    :-moz-placeholder { color: #A5C6CD; }

    button {
        border: 0;
        padding: 0;
        background-color: transparent;
    }
    a.logo {
        position: absolute;
        top: 15px;
        left: 20px;
        z-index: 100;
    }
    .search {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 240px;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        z-index: 20;
        transition: all .25s;
        -webkit-transition: all .25s;
        form {
            input[type="search"] {
                width: 100%;
                height: 40px;
                background-color: #fff;
                border-radius: 15px;
                border: 2px solid #5A2C8E;
                padding: 0 45px 0 15px;
                color: #5A2C8E;
                font-size: 15px;
                outline: none;
            }
            button[type="submit"] {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
        }
    }
    .action {
        button {
            &.toggle-search {
                img {
                    display: block;
                }
            }
            &.toggle-menu {
                position: relative;
                width: 30px;
                height: 20px;
                margin-left: 20px;
                span {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #5A2C8E;
                    border-radius: 20px;
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 50%;
                        margin-top: -2px;
                    }
                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
            }
        }
    }
    &.show-search {
        .action button.toggle-search {
            opacity: 0;
            visibility: hidden;
        }
        .search {
            opacity: 1;
            visibility: visible;
        }
    }
}

#site-menu {
    position: relative;
    z-index: 50;
    ul.menu {
        li {
            a {
                display: inline-block;
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: #5A2C8E;
                transition: all .25s;
                -webkit-transition: all .25s;
            }
        }
        > li {
            > a {
                font-size: 18px;
            }
        }
    }
    div.mega-menu {
        p.title {
            position: absolute;
            top: 50%;
            left: 20px;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        ul {
            > li {
                a {
                    display: block;
                    border-radius: 8px;
                    padding: 5px 15px;
                }
            }
        }
        &.lv-1 {
            background-color: #fff;
            box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.16);
            > div > ul {
                > li {
                    min-width: 200px;
                    > a {
                        color: #5A2C8E;
                    }
                    &:hover {
                        > a {
                            background-color: rgba($color: #00AC89, $alpha: 0.1);
                            color: #00AC89;
                        }
                    }
                    &.active,
                    &.current-menu-item {
                        > a {
                            background-color: #00AC89;
                            color: #fff;
                        }
                    }
                }
            }
        }
        &.lv-2 {
            background-color: #00AC89;
            box-shadow: inset 0 5px 5px rgba(0,0,0,.16), 0 5px 5px rgba(0,0,0,.16);
            div.container {
                position: relative;
            }
            > div > ul {
                > li {
                    > a {
                        color: #fff;
                        font-weight: 600;
                    }
                    &:hover {
                        > a {
                            background-color: rgba($color: #FFFFFF, $alpha: 0.25);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #site-header > div.container {
        position: relative;
        z-index: 5;
    }

    #site-header .action {
        position: absolute;
        top: 18px;
        right: 40px;
        z-index: 10;
    }

    #site-menu {
        display: block;
        padding: 10px 0 0 230px;
    }

    #site-menu ul.menu > li > a {
        border-radius: 15px 15px 0 0;
        line-height: 50px;
    }

    #site-menu ul.menu > li:hover > a,
    #site-menu ul.menu > li.current-menu-item > a {
        background-color: #fff;
        color: #5A2C8E;
    }

    #site-menu ul.menu > li:hover > div.mega-menu,
    #site-menu ul.menu li.active > div.mega-menu {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }

    #site-menu div.mega-menu {
        position: absolute;
        margin-top: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all .25s;
        -webkit-transition: all .25s;
    }

    #site-menu div.mega-menu ul {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0 20px 233px;
    }

    #site-menu div.mega-menu.lv-1 {
        position: absolute;
        top: 60px;
    }

    #site-menu div.mega-menu.lv-1 > div > ul {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #site-menu div.mega-menu.lv-2 {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    #site-menu div.mega-menu.lv-2 > div > ul > li {
        margin-right: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #site-menu ul.menu > li > a {
        padding: 0 20px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    #site-menu ul.menu > li > a {
        padding: 0 35px;
    }
}

@media (max-width: 991px) {
    #site-header > div.container {
        max-width: 100%;
        padding: 0;
    }

    #site-header a.logo img {
        width: 120px;
        height: auto;
        transition: all .2s;
        -webkit-transition: all .2s;
    }

    #site-header .action {
        min-height: 60px;
        padding: 0 20px;
    }

    #site-menu ul.menu {
        padding: 35px 0 10px;
    }

    #site-menu ul.menu li {
        position: relative;
    }

    #site-menu ul.menu li a {
        display: block;
        padding: 5px 20px !important;
    }

    #site-menu ul.menu > li > a {
        color: #fff !important;
    }

    #site-menu ul.menu li button.toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 16px;
        height: 16px;
        padding: 0;
        background-color: transparent;
        outline: none;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 100%;
            height: 3px;
            border-radius: 6px;
            background-color: #fff;
            margin-top: -1.5px;
            transition: all .2s;
            -webkit-transition: all .2s;
        }
        &:after {
            transform: rotate(90deg);
        }
    }

    #site-menu ul.menu li button.toggle.active,
    #site-menu ul.menu li.active > button.toggle:after {
        transform: rotate(0);
        opacity: 0;
    }

    #site-menu ul.menu li.menu-item-has-children > a {
        position: relative;
        padding-right: 40px !important;
    }

    #site-menu div.mega-menu {
        display: none;
    }
    
    #site-menu div.mega-menu div.container {
        max-width: 100%;
        padding: 5px;
    }

    #site-menu div.mega-menu.lv-1 button.toggle {
        width: 14px;
        top: 7px;
        right: 16px;
    }

    #site-menu div.mega-menu.lv-1 button.toggle:before,
    #site-menu div.mega-menu.lv-1 button.toggle:after {
        background-color: #5a2c8e;
    }

    #site-menu div.mega-menu.lv-2 {
        margin: 5px -5px;
    }

    #site-menu ul.menu li.active > div.mega-menu {
        display: block;
    }

    #site-header.show-menu a.logo img  {
        width: 60px;
    }
}

@media (max-width: 575px) {
    #site-header .search {
        width: 200px;
    }
}
/** END HEADER **/

/** HEADER HOVER **/
#site-header:hover,
#site-header.show-menu {
    background-color: #5A2C8E;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.16);
    
    .action button.toggle-search svg path {
        fill: #fff;
    }

    .action button.toggle-menu span {
        background-color: #fff;
    }

    #site-menu ul.menu > li:not(:hover) > a {
        color: #fff;
    }
}
/** END HEADER HOVER **/

/** HEADER TRANSPARENT **/
body.transparent-header {
    #site-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &:not(:hover):not(.show-menu) {
            background-color: transparent;
        }
    }
}
/** END HEADER TRANSPARENT **/

/** FOOTER **/
#site-footer {
    position: relative;
    background-color: #A5C6CD;
    padding: 0.5px 0 30px;
    z-index: 200;
    .widgets {
        padding-top: 60px;
        font-size: 14px;
        color: #414042;
        > div {
            padding-bottom: 20px;
        }
        nav.primary {
            ul.menu {
                > li {
                    margin-bottom: 10px;
                    > a {
                        font-size: 18px;
                        font-weight: 700;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        nav.secondary {
            ul.menu {
                display: flex;
                flex-wrap: wrap;
                li {
                    margin-bottom: 4px;
                    a {
                        display: block;
                        color: #414042;
                        line-height: 18px;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    ul {
                        padding-top: 6px;
                    }
                }
                > li {
                    width: 50%;
                    margin-bottom: 6px;
                    > a {
                        font-size: 15px;
                        font-weight: 700;
                        color: #414042;
                    }
                }
            }
        }
        .contact {
            p {
                margin-bottom: 0;
            }
        }
    }
    .logos {
        li {
            margin-right: 20px;
        }
    }
}

@media (min-width: 768px) {
    #site-footer .widgets nav.secondary ul.menu > li {
        width: 33.333%;
    }
}

@media (max-width: 480px) {
    #site-footer .widgets nav.secondary ul.menu {
        display: block;
    }

    #site-footer .widgets nav.secondary ul.menu > li {
        width: auto;
        margin-bottom: 10px;
    }
}
/** END FOOTER **/

/** SECTION **/
.heading {
    margin-bottom: 30px;
    span {
        display: block;
        margin-bottom: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    h1, h2, h3 {
        margin-bottom: 0;
    }
}

section {
    img.logo-center {
        display: block;
        margin: 0 auto 30px;
    }
}
/** END SECTION **/

/** SECTION SLIDER **/
section.section-slider {
    position: relative;
    margin-bottom: 200px;
    div.container {
        position: relative;
        padding-top: 30px;
    }
    div.background {
        position: absolute;
        top: 0;
        bottom: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
        &:before {
            content: '';
            height: 6px;
            position: absolute;
            bottom: 34px;
            background-color: #00AC89;
        }
    }
    div.text {
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0.42);
        padding: 40px 40px 160px;
        color: #fff;
        z-index: 2;
        .heading {
            span {
                color: #00AC89;
            }
            h2 {
                color: inherit;
            }
            + p {
                font-size: 18px;
            }
        }
        .btn-link {
            position: relative;
            padding-right: 25px;
            font-weight: 700;
            text-decoration: none;
            &:after {
                content: '';
                position: absolute;
                top: -1px;
                right: 0;
                width: 11px;
                height: 18px;
                background-image: url(../images/arrow/right-white-4.svg);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
                transition: right .2s;
                -webkit-transition: right .2s;
            }
            &:hover:after {
                right: -3px;
            }
        }
        .btn {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #00AC89;
            border-radius: 0;
            border: 0;
            padding: 0 40px;
            font-size: 24px;
            line-height: 80px;
            color: #fff;
            text-align: left;
            white-space: nowrap;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 25px;
                width: 16px;
                height: 26px;
                background-image: url(../images/arrow/right-white-4.svg);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
                transition: right .2s;
                -webkit-transition: right .2s;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
            &:hover:after {
                right: 22px;
            }
        }
        ul.menu {
            padding-top: 30px;
            > li:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    div.slider {
        position: relative;
        z-index: 3;
        button.slick-arrow {
            position: absolute;
            top: -66px;
        }
        ul.slick-dots {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: -48px;
            > li {
                margin: 0 6px;
            }
        }
        div.slick-slide {
            padding-bottom: 20px;
        }
        .item {
            position: relative;
            width: 340px;
            height: 100%;
            background-color: #fff;
            border-radius: 22px;
            padding: 20px 20px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
            color: #58585B;
            p {
                margin-bottom: 0;
            }
            div.photo {
                position: relative;
                height: 210px;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .title {
                color: #5A2C8E;
                font-weight: 700;
                text-transform: uppercase;
                a {
                    color: inherit;
                }
            }
            .subtitle {
                font-size: 21px;
                font-weight: 700;
                a {
                    color: inherit;
                }
            }
            .description {
                position: absolute;
                bottom: 20px;
                left: 20px;
                right: 40px;
            }
            a.more {                    
                position: absolute;
                right: 20px;
                bottom: 20px;
                width: 14px;
                height: 23px;
                text-indent: 999px;
                background-image: url(../images/arrow/right-orange-3.svg);
                background-repeat: no-repeat;
                background-size: contain;
                overflow: hidden;
            }
            &.video {
                &:after {
                    content: '';
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    background-image: url(../images/logo-shape-small-blue.svg);
                    background-repeat: no-repeat;
                    background-position: 0;
                    background-size: contain;
                }
                div.photo {
                    height: 360px;
                    &:before {
                        content: '';
                        width: 0; 
                        height: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        border-top: 30px solid transparent;
                        border-bottom: 30px solid transparent;
                        border-left: 30px solid #fff;
                        z-index: 1;
                        transform: translateX(-50%) translateY(-50%);
                        -webkit-transform: translateX(-50%) translateY(-50%);
                    }
                    a.play-video {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                }
            }
            &.post {
                padding-bottom: 100px;
            }
        }
    }
    &.slider-right {
        div.container {
            padding-left: 60px;
        }
        div.background {
            right: 0;
            left: 0;
            &:before {
                right: 0;
                left: 60px;
            }
        }
        div.slider {
            button.slick-arrow {
                left: 0;
                &.slick-next {
                    left: 48px;
                }
            }
            ul.slick-dots {
                right: 110px;
            }
            .item {
                margin-right: 25px;
            }
        }
    }
    &.slider-left {
        div.container {
            padding-right: 60px;
        }
        div.background {
            right: 0;
            left: 0;
            &:before {
                right: 60px;
                left: 0;
            }
        }
        div.slider {
            button.slick-arrow {
                right: 0;
                &.slick-prev {
                    right: 48px;
                }
            }
            ul.slick-dots {
                left: 110px;
            }
            .item {
                margin-left: 25px;
            }
        }
    }
}

@media (min-width: 992px) {
    section.section-slider div.text {
        max-width: 40%;
    }

    section.section-slider div.slider {
        position: absolute;
        bottom: -114px;
    }

    section.section-slider.slider-left div.slider {
        right: 50%;
        left: 0;
    }

    section.section-slider.slider-right div.slider {
        right: 0;
        left: 50%;
    }
}

@media (max-width: 991px) {
    section.section-slider div.container {
        max-width: 100%;
        padding: 20px 20px 80px !important;
    }

    section.section-slider div.background {
        bottom: -80px;
        right: 0 !important;
        left: 0 !important;
    }

    section.section-slider.slider-left div.slider {
        margin-right: 20px;
    }

    section.section-slider.slider-right div.slider {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    section.section-slider {
        margin-bottom: 100px;
    }

    section.section-slider.slider-left div.slider ul.slick-dots {
        left: 20px;
    }

    section.section-slider.slider-right div.slider ul.slick-dots {
        right: 20px;
    }
}

@media (max-width: 575px) {
    section.section-slider div.text {
        padding: 20px 20px 120px;
    }
}
/** END SECTION SLIDER **/

/** CONTACT SECTION **/
#contact {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 15px;
    margin-top: -140px;
    .row {
        margin: 0 -10px;
        > div {
            padding: 0 10px;
        }
    }
    .intro {
        position: relative;
        height: 100%;
        min-height: 300px;
        padding: 20px 30px 30px;
        background-color: #A5C6CD;
        background-image: url(../images/photo-cp-brain-teaser.png);
        background-size: 220px auto;
        background-repeat: no-repeat;
        background-position: center;
        p.subtitle {
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #5A2C8E;
        }
        p.title {
            position: absolute;
            bottom: 30px;
            left: 30px;
            padding-top: 44px;
            color: #fff;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 48px;
                height: 44px;
                background-image: url(../images/icon-listening.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: contain;
            }
        }
    }
    .primary {
        padding: 30px 30px;
        color: #fff;
        background-image: url(../images/photo-abstract-red.png);
        background-repeat: no-repeat;
        background-position: 0;
        ul.menu {
            li {
                font-size: 21px;
                font-weight: 700;
                margin-bottom: 35px;
                strong {
                    display: block;
                    margin-bottom: 5px;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                a:not([class]) {
                    display: inline-block;
                    color: #fff;
                }
                &.social {
                    a {
                        font-size: 40px;
                        margin-right: 15px;
                        transition: opacity .2s;
                        -webkit-transition: opacity .2s;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    div.gform_wrapper {
        div.validation_error {
            display: none;
        }
        div.gfield_description.validation_message {
            color: #fff;
        }
    }
}

@media (min-width: 992px) {
    #contact .primary {
        padding-left: 60px;
    }
}

@media (min-width: 1200px) {
    #contact {
        margin-left: -20px;
        margin-right: -20px;
    }
}
/** END CONTACT SECTION **/

/** WELCOME SECTION **/
.video-frame {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 5;
    > img.shape {
        display: block;
        position: relative;
        z-index: 10;
    }
    > img:not(.shape) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    div.fl-bg-video {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        z-index: 1;
    }
}

#welcome {
    background-color: #A5C6CD;
    padding: 200px 0 120px;
    .slider {
        position: relative;
        z-index: 10;
        .subheading {
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 10px;
        }
        .heading {
            font-size: 56px;
            font-weight: 700;
            line-height: 56px;
            color: #5A2C8E;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    #welcome .slider .slick-track {
        display: flex;
    }

    #welcome .slider .slick-slide {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
        height: auto;
        padding: 40px 40px 40px 120px;
    }

    #welcome .slider ul.slick-dots {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        > li {
            display: block;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    #welcome {
        padding-top: 160px;
    }

    #welcome .slider .slick-slide {
        padding: 40px 0;
    }

    #welcome .slider ul.slick-dots {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > li {
            margin: 0 5px;
        }
    }
}
/** END WELCOME SECTION **/

/** FEATURED LINKS SECTION **/
#featured-links {
    position: relative;
    background-color: #FAFAFA;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 257px;
        background-color: #5A2C8E;
        z-index: 1;
    }
    div.nav-tabs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 0;
        div.container {
            position: relative;
        }
        ul.nav {
            position: absolute;
            bottom: 0;
            overflow: hidden;
            li {
                a {
                    display: block;
                    position: relative;
                    background-color: #FAFAFA;
                    border-radius: 8px 8px 0 0;
                    padding: 0 60px 0 25px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 21px;
                    color: #5A2C8E;
                    font-weight: 700;
                    line-height: 45px;
                    white-space: nowrap;
                    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0);
                    transition: all .2s;
                    -webkit-transition: all .2s;
                    &:after {
                        content: '';
                        width: 14px;
                        height: 21px;
                        position: absolute;
                        top: 50%;
                        right: 25px;
                        margin-top: -10px;
                        background-image: url(../images/arrow/right-blue-1.svg);
                        background-repeat: no-repeat;
                        background-position: 0;
                        background-size: contain;
                    }
                    &:not(.active):hover {
                        line-height: 55px;
                        box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.16);
                    }
                    &.active {
                        background-color: #5A2C8E;
                        color: #fff;
                        &:after {
                            background-image: url(../images/arrow/right-white-1.svg);
                            transform: rotate(90deg);
                        }
                    }
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    div.tab-content {
        position: relative;
        padding: 40px 0 50px;
        z-index: 10;
        h2 {
            color: #fff;
            margin-bottom: 40px;
        }
        div.note {
            font-family: 'Montserrat', sans-serif;
            margin-top: 35px;
            a {
                color: inherit;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        div.row {
            margin: 0 -7.5px;
            > div {
                padding: 0 7.5px 15px;
                > a.btn-link {
                    margin-bottom: 14px;
                }
                &.note {
                    margin: 0;
                    padding-left: 15px;
                    padding-bottom: 30px;
                }
            }
        }
        div.item {
            height: 100%;
            > a {
                position: relative;
                display: block;
                height: 100%;
                background-color: #fff;
                padding: 15px 15px 48px 15px;
                border-radius: 22px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16);
                color: #5A2C8E;
                overflow: hidden;
                transition: box-shadow .2s;
                -webkit-transition: box-shadow .2s;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 14px;
                    right: 15px;
                    width: 12px;
                    height: 23px;
                    background-repeat: no-repeat;
                    background-position: 0;
                    background-size: contain;
                    transition: opacity .2s;
                    -webkit-transition: opacity .2s;
                }
                &:before {
                    background-image: url(../images/arrow/right-blue-2.svg);
                }
                &:after {
                    background-image: url(../images/arrow/right-green-2.svg);
                    opacity: 0;
                }
                &:hover {
                    box-shadow: 0 6px 12px rgba(0,0,0,0.16);
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
            img {
                display: block;
                width: 100%;
                height: 110px;
                object-fit: cover;
                margin-bottom: 10px;
            }
            span {
                display: block;
                font-family: 'Montserrat', sans-serif;
                &.title {
                }
                &.subtitle {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    right: 30px;
                    font-size: 15px;
                    color: #58585b;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #featured-links div.nav-tabs ul.nav {
        padding-left: 150px;
    }

    #featured-links div.nav-tabs ul.nav li a {
        min-width: 310px;
    }
}

@media (max-width: 575px) {
    #featured-links div.nav-tabs ul.nav li a {
        padding: 0 50px 0 20px;
        font-size: 16px;
        line-height: 40px;
    }

    #featured-links div.nav-tabs ul.nav li a:after {
        width: 11px;
        height: 17px;
    }

    #featured-links div.nav-tabs ul.nav li:not(:last-child) {
        margin-right: 10px;
    }

    #featured-links div.nav-tabs ul.nav li a:not(.active):hover {
        line-height: 45px;
    }
}
/** END FEATURED LINKS SECTION **/

/** ABOUT SECTION **/
#about {
    position: relative;
    padding: 60px 0;
    &:after {
        content: '';
        width: 50%;
        height: 60%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url(../images/bg-architecture.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        z-index: 1;
    }
    .container {
        position: relative;
        max-width: 860px;
        z-index: 10;
    }
    .btn {
        margin: 0 7.5px 15px;
    }
    p:last-of-type {
        margin-bottom: 60px;
    }
}
/** END ABOUT SECTION **/

/** OUR TEAM SECTION **/
#our-team {
    padding: 200px 0;
    .text {
        max-width: 400px;
        p:last-of-type {
            margin-bottom: 40px;
        }
    }
}
/** END OUR TEAM SECTION **/

/** SUCCESS STORIES SECTION **/
#success-stories {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 200px;
        bottom: -400px;
        left: 0;
        width: 100%;
        background-color: #A5C6CD;
        z-index: 1;
    }
    .section-inner {
        position: relative;
        z-index: 10;
    }
}
/** END SUCCESS STORIES SECTION **/

/** NEWSROOM SECTION **/
#newsroom {
    position: relative;
    margin-bottom: 340px;
    &:after {
        content: '';
        position: absolute;
        top: 200px;
        bottom: -400px;
        left: 0;
        width: 100%;
        background-image: url(../images/bg-newsroom.jpg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        z-index: 1;
    }
    .section-inner {
        position: relative;
        z-index: 10;
    }
    div.background:before {
        background-color: #F05860;
    }
    .heading span {
        color: #F05860;
    }
    div.text .btn {
        background-color: #F05860;
    }
}

@media (max-width: 767px) {
    #newsroom {
        margin-bottom: 240px;
    }
}
/** END NEWSROOM SECTION **/

/** PAGE HEADER **/
#page-header {
    background-color: #FAFAFA;
    padding-bottom: 80px;
    div.main {
        padding-top: 40px;
        padding-bottom: 40px;
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 27px;
            line-height: 33px;
            font-weight: 700;
            color: #A5C6CD;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .heading {
            margin-bottom: 60px;
        }
    }
    div.breadcrumb {
        position: relative;
        border-radius: 0;
        border-bottom: 4px solid #A5C6CD;
        background-color: transparent;
        padding: 0 0 6px;
        margin: 0 0 85px;
        > span {
            display: inline-block;
            font-size: 15px;
            color: #58585B;
            font-weight: 700;
            a, span {
                display: inline-block;
                color: inherit;
            }
            a:hover {
                color: #5A2C8E;
            }
            &.separator {
                margin: 0 5px;
            }
        }
    }
    ul.links {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 100%;
        right: 0;
        li {
            margin-left: 5px;
            a {
                position: relative;
                display: inline-block;
                min-width: 170px;
                border: 4px solid #A5C6CD;
                border-radius: 10px;
                padding: 0 20px 0 35px;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                color: #A5C6CD;
                font-weight: 700;
                line-height: 34px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    width: 12px;
                    height: 20px;
                    margin-top: -10px;
                    background-image: url(../images/arrow/right-light-blue-3.svg);
                    background-repeat: no-repeat;
                    background-position: 0;
                    background-size: contain;
                    transition: left .2s;
                    -webkit-transition: left .2s;
                }
                &:hover:before {
                    left: 15px;
                }
            }
            &:last-child a {
                border-top-right-radius: 0;
            }
        }
    }
    div.cta-global:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    #page-header div.main {
        min-height: 600px;
    }
}

@media (min-width: 1200px) {
    #page-header div.container {
        padding-left: 140px;
    }
}

@media (max-width: 991px) {
    #page-header div.main {
        padding-top: 80px;
    }

    #page-header .video-frame {
        max-width: 80%;
        margin: 0 auto 40px;
    }
}

@media (max-width: 767px) {
    #page-header ul.links li a {
        min-width: 140px;
        padding: 0 15px 0 25px;
        font-size: 16px;
    }

    #page-header ul.links li a:before {
        width: 10px;
        height: 17px;
        left: 7px;
        margin-top: -8.5px;
    }
}
/** END PAGE HEADER **/