/** GENERAL **/
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #000;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-weight: 700;
}

h1, .h1 {
  font-size: 75px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 20px;
}

p {
  line-height: 21px;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul.logos,
ul.slick-dots,
ul.menu,
ul.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-blue {
  color: #1B9BC5;
}

/** END GENERAL **/
/** BUTTONS **/
button, input {
  outline: none;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 7px 15px;
  border: 2px solid transparent;
  border-radius: 0;
}
.btn.btn-primary {
  border-color: transparent;
  background-color: #1B9BC5;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: #000000;
}
.btn.btn-border {
  border-color: #1B9BC5;
  background-color: transparent;
  color: #1B9BC5;
}
.btn.btn-border.white {
  border-color: #fff;
  color: #fff;
}
.btn.btn-lg {
  font-size: 20px;
  padding: 10px 25px;
}
.btn.btn-lg.btn {
  border-width: 4px;
}

/** END BUTTONS **/
/** FORMS **/
/** END FORMS **/
/** HEADER **/
#site-header {
  background-color: #000000;
  padding: 84px 0 30px;
  color: #fff;
}
#site-header button.toggle-nav {
  position: relative;
  width: 40px;
  height: 25px;
  border: 0;
  padding: 0;
  background-color: transparent;
}
#site-header button.toggle-nav span {
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 4px;
  background-color: #1B9BC5;
  border-radius: 10px;
}
#site-header button.toggle-nav span:nth-child(1) {
  top: 0;
}
#site-header button.toggle-nav span:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}
#site-header button.toggle-nav span:nth-child(3) {
  bottom: 0;
}
#site-header a.logo {
  display: inline-block;
  padding: 10px 30px 0 0;
}
#site-header nav ul.menu li a {
  display: inline-block;
  color: #FFFFFF;
  font-weight: 700;
}

@media (min-width: 992px) {
  #site-header nav ul.menu > li {
    position: relative;
    padding: 0 15px 15px;
    margin-right: 8px;
  }
  #site-header nav ul.menu > li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #1B9BC5;
    border-radius: 10px;
  }
}
/** END HEADER **/
/** slick slide **/
.slick-slider ul.slick-dots {
  display: flex;
  flex-wrap: wrap;
}
.slick-slider ul.slick-dots li {
  margin: 0 2px;
}
.slick-slider ul.slick-dots li button {
  position: relative;
  width: 14px;
  height: 14px;
  background-color: #AAAAAA;
  border-radius: 50%;
  border: 0;
  padding: 0;
  text-indent: -999px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}
.slick-slider ul.slick-dots li button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: #2B2B2B;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.slick-slider ul.slick-dots li.slick-active button:before {
  opacity: 1;
}
.slick-slider button.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 40px;
  height: 80px;
  border: 0;
  padding: 0;
  background-color: transparent;
  text-indent: -999px;
  overflow: hidden;
  outline: none;
  z-index: 10;
}
.slick-slider button.slick-arrow:before, .slick-slider button.slick-arrow:after {
  content: "";
  position: absolute;
}
.slick-slider button.slick-arrow:before {
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2B2B2B;
  z-index: 1;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
}
.slick-slider button.slick-arrow:after {
  background-image: url(../images/icon-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  width: 20px;
  height: 21px;
  top: 50%;
  margin-top: -10px;
  z-index: 2;
}
.slick-slider button.slick-arrow.slick-prev {
  left: 0;
}
.slick-slider button.slick-arrow.slick-prev:before {
  right: 0;
}
.slick-slider button.slick-arrow.slick-prev:after {
  right: 13px;
}
.slick-slider button.slick-arrow.slick-next {
  right: 0;
}
.slick-slider button.slick-arrow.slick-next:before {
  left: 0;
}
.slick-slider button.slick-arrow.slick-next:after {
  left: 13px;
  transform: rotate(180deg);
}
.slick-slider button.slick-arrow:hover:before {
  background-color: #1B9BC5;
}
.slick-slider button.slick-arrow:hover:after {
  background-image: url(../images/icon-arrow-left-white.svg);
}

/** END slick slide **/
/** post-item **/
.post-item {
  position: relative;
  min-height: 310px;
  border-bottom: 4px solid #1B9BC5;
}
.post-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #2b2b2b 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #2b2b2b 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #2b2b2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#2b2b2b",GradientType=0 );
  z-index: 1;
}
.post-item p {
  margin-bottom: 10px;
}
.post-item .inner {
  position: relative;
  padding: 20px 20px 30px;
  z-index: 10;
}
.post-item img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  height: 40px;
  z-index: 2;
}
.post-item .btn {
  margin-top: 5px;
}
.post-item span.category {
  position: absolute;
  left: 20px;
  bottom: 15px;
  padding-left: 32px;
  font-size: 14px;
  line-height: 15px;
}
.post-item span.category:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 30px;
  height: 12px;
  background-image: url(../images/icon-tag.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
}
.post-item:hover:after {
  background: rgba(27, 155, 197, 0.66);
}
.post-item:hover .btn {
  background-color: #000000;
}

/** END post-item **/
/** WELCOME SECTION **/
#welcome {
  min-height: 590px;
  padding: 90px 0 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#welcome h1 {
  font-size: 80px;
  line-height: 80px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}
#welcome h1 strong {
  display: block;
  font-weight: 700;
}
#welcome .container {
  max-width: 740px;
}
#welcome .btn {
  margin-right: 10px;
}

/** END WELCOME SECTION **/
/** QUOTE SECTION **/
#quote {
  position: relative;
  padding: 60px 0 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
#quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, black 20%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, black 20%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, black 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#00000000",GradientType=0 );
  z-index: 1;
}
#quote p:last-child {
  margin-bottom: 0;
}
#quote .container {
  position: relative;
  max-width: 740px;
  z-index: 10;
}
#quote img.logo-fmg {
  position: absolute;
  top: 40px;
  right: -190px;
}
#quote .text {
  font-size: 30px;
  margin-bottom: 60px;
}
#quote .text p {
  line-height: 40px;
}
#quote .author span {
  display: block;
  font-weight: 400;
}

/** END QUOTE SECTION **/
/** NEWS SECTION **/
#news {
  background-color: #2B2B2B;
  padding: 80px 0 80px;
  color: #fff;
}
#news .row {
  margin-left: -5px;
  margin-right: -5px;
}
#news .row .col-md-4 {
  padding-left: 5px;
  padding-right: 5px;
}
#news .logo-slider {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 80px;
}
#news .logo-slider .title {
  width: 90px;
}
#news .logo-slider .slider {
  position: relative;
  width: calc(100% - 95px);
}
#news .logo-slider .slider:after {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #2b2b2b 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #2b2b2b 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #2b2b2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#cc2b2b2b",GradientType=1 );
}
#news .logo-slider .slick-slide {
  padding: 0 10px;
}
#news .logo-slider .slick-slide img {
  width: auto;
  height: 36px;
  filter: grayscale(100%);
}

/** END NEWS SECTION **/
/** VEHICLE SECTION **/
#vehicle {
  background-color: #000000;
  padding: 50px 0 80px 0;
  color: #fff;
}
#vehicle h2 {
  margin-bottom: 50px;
}
#vehicle .primary-slider .slick-slide {
  position: relative;
}
#vehicle .primary-slider .slick-slide:before, #vehicle .primary-slider .slick-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}
#vehicle .primary-slider .slick-slide:before {
  height: 20px;
  top: 0;
  background-color: #000;
  z-index: 10;
}
#vehicle .primary-slider .slick-slide:after {
  height: 0;
  bottom: 0;
  opacity: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(27, 155, 197, 0.75) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(27, 155, 197, 0.75) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 155, 197, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#bf1b9bc5",GradientType=0 );
  z-index: 15;
}
#vehicle .primary-slider .slick-slide .photo {
  position: relative;
  z-index: 5;
}
#vehicle .primary-slider .slick-slide .photo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a8000000", endColorstr="#00000000",GradientType=1 );
  z-index: 2;
}
#vehicle .primary-slider .slick-slide .photo img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}
#vehicle .primary-slider .slick-slide.slick-current:before {
  height: 0;
}
#vehicle .primary-slider .slick-slide.slick-current:after {
  height: 110px;
  opacity: 1;
}
#vehicle .secondary-slider h3 {
  font-weight: 300;
  margin-bottom: 20px;
}
#vehicle .secondary-slider p.note {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 14px;
  color: #aaa;
  z-index: 10;
}
#vehicle .secondary-slider ul.menu {
  position: relative;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#00000000",GradientType=0 );
  background-color: #2B2B2B;
  z-index: 5;
}
#vehicle .secondary-slider ul.menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(27, 155, 197, 0.3) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(27, 155, 197, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 155, 197, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#4d1b9bc5",GradientType=0 );
  z-index: 1;
}
#vehicle .secondary-slider ul.menu li {
  position: relative;
  padding: 40px 45px 20px 20px;
  z-index: 10;
}
#vehicle .secondary-slider ul.menu li:after {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#2e000000", endColorstr="#00000000",GradientType=1 );
}
#vehicle .secondary-slider ul.menu li strong,
#vehicle .secondary-slider ul.menu li span {
  display: block;
}
#vehicle .secondary-slider ul.menu li strong {
  font-size: 14px;
  line-height: 14px;
  color: #1B9BC5;
  margin-bottom: 2px;
}
#vehicle .secondary-slider ul.menu li span {
  line-height: 16px;
}
#vehicle .secondary-slider ul.menu li .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#vehicle .secondary-slider .buttons {
  padding-top: 80px;
}
#vehicle .secondary-slider .image-slider {
  z-index: 10;
}
#vehicle .secondary-slider .image-slider .slick-slide {
  height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#vehicle .secondary-slider .image-slider ul.slick-dots {
  position: absolute;
  top: -30px;
  right: 20px;
}
#vehicle .secondary-slider .image-slider ul.slick-dots li {
  margin: 0 0 0 4px;
}
#vehicle .secondary-slider .col-image {
  position: relative;
}
#vehicle .secondary-slider .progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 8px;
  background-color: #707070;
  border-radius: 0;
  z-index: 20;
  overflow: visible;
}
#vehicle .secondary-slider .progress > span {
  position: absolute;
  top: -5px;
  left: 0;
  width: 0;
  height: 18px;
  background-color: #1B9BC5;
}

@media (min-width: 992px) {
  #vehicle .secondary-slider .col-text {
    padding-right: 40px;
  }
}
/** END VEHICLE SECTION **/
/** PEOPLE SECTION **/
#people {
  background-color: #000000;
  color: #fff;
}
#people .menu {
  width: 60%;
}
#people .menu li {
  width: 25%;
}
#people .menu li img {
  width: 100%;
  height: auto;
}
#people .text {
  width: 40%;
  max-width: 680px;
  padding: 50px 100px;
  font-size: 25px;
  line-height: 30px;
}
#people .text p {
  line-height: 30px;
}

/** END PEOPLE SECTION **/
/** PARTNERS SECTION **/
#partners {
  background-color: #1B9BC5;
  padding: 80px 0;
  font-size: 25px;
  color: #fff;
}
#partners h2 {
  margin-bottom: 50px;
}
#partners p {
  line-height: 30px;
}
#partners ul.logos li {
  margin: 0 15px 10px 0;
}
#partners ul.logos li img {
  width: auto;
  max-height: 45px;
  filter: grayscale(100%);
}

/** END PARTNERS SECTION **/
/** technologies section **/
#technologies {
  background-color: #000000;
  color: #fff;
}
#technologies p.h3 {
  font-size: 25px;
  margin-bottom: 0;
}
#technologies .col-image {
  min-height: 100%;
  padding: 80px 40px;
}
#technologies .col-image img {
  display: block;
  margin: 70px auto 70px;
}
#technologies .col-text {
  padding: 80px 40px;
}
#technologies .col-text h2 {
  margin-bottom: 80px;
}
#technologies .col-text p.h3 {
  margin-bottom: 20px;
}
#technologies .col-text .buttons {
  padding-top: 80px;
}

/** END technologies section **/
/** zero-carbon section **/
#zero-carbon {
  color: #fff;
  padding: 100px 0 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
#zero-carbon h2 {
  margin-bottom: 40px;
}
#zero-carbon p.h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
#zero-carbon ul.menu li {
  position: relative;
  text-align: center;
}
#zero-carbon ul.menu li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #fff;
}
#zero-carbon ul.menu li .title {
  position: absolute;
  bottom: -37px;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 700;
}
#zero-carbon ul.menu li.last {
  margin-left: 65px;
}
#zero-carbon ul.menu li.last .icon {
  width: 200px;
  height: 200px;
  justify-content: flex-start;
  border: 12px solid #fff;
  background-color: #1B9BC5;
}
#zero-carbon ul.menu li.last:before {
  content: "";
  background-image: url(../images/icon-arrow-right-white.svg);
  background-repeat: no-repeat;
  background-position: right center;
  width: 50px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: -65px;
  background-size: auto 100%;
  margin-top: -17.5px;
}
#zero-carbon .col-image {
  padding-top: 40px;
  padding-left: 40px;
}

/** END zero-carbon section **/
/** worldwide section **/
#worldwide {
  color: #fff;
  padding: 160px 0 60px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#worldwide h2 {
  margin-bottom: 100px;
}
#worldwide .row {
  margin-left: -5px;
  margin-right: -5px;
}
#worldwide .row .col-md-2 {
  padding-left: 5px;
  padding-right: 5px;
}
#worldwide .locations .item .name {
  background-color: #2B2B2B;
  padding: 20px 30px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
#worldwide .locations .item .photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (min-width: 992px) {
  #worldwide .row .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
/** END worldwide section **/
/** local-focus section **/
#local-focus {
  background-color: #000000;
  padding: 50px 0 0;
  color: #fff;
}
#local-focus h2 {
  margin-bottom: 50px;
}
#local-focus .item {
  position: relative;
  height: 300px;
  font-size: 20px;
}
#local-focus .item p {
  line-height: 20px;
}
#local-focus .item p.h3 {
  line-height: 30px;
  margin-bottom: 30px;
}
#local-focus .item .inner {
  position: relative;
  height: 100%;
  padding: 35px 35px 75px;
  text-align: center;
  z-index: 10;
}
#local-focus .item .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
#local-focus .item:before, #local-focus .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#local-focus .item:before {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#local-focus .item:after {
  width: 20px;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a8000000", endColorstr="#00000000",GradientType=1 );
  z-index: 5;
}
#local-focus .col-md-4:nth-child(1) .item:after {
  display: none;
}

/** END local-focus section **/
/** cta section **/
#cta {
  position: relative;
  padding: 120px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 155, 197, 0.85);
  z-index: 1;
}
#cta .container {
  position: relative;
  z-index: 10;
}
#cta .item {
  max-width: 240px;
  margin: 0 auto;
}
#cta .item img {
  display: block;
  margin: 0 auto 10px;
}
#cta .item .icon {
  height: 100px;
  margin-bottom: 10px;
}
#cta .item .title {
  color: #fff;
  margin-bottom: 20px;
}
#cta .item .btn {
  margin-top: 20px;
}

/** END cta section **/
/** FOOTER **/
#site-footer {
  background-color: #000000;
  padding: 50px 0 20px;
  color: #fff;
}
#site-footer a {
  display: inline-block;
  color: inherit;
}
#site-footer a.logo {
  display: inline-block;
  padding: 10px 30px 0 0;
}
#site-footer ul.footer-menu > li {
  position: relative;
  padding: 0 15px 15px;
  margin-right: 8px;
}
#site-footer ul.footer-menu > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1B9BC5;
  border-radius: 10px;
}
#site-footer .copyright {
  padding-top: 200px;
}
#site-footer .copyright ul.menu > li {
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
}
#site-footer .copyright ul.menu > li:before {
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #fff;
}

/** END FOOTER **/
