/** GENERAL **/
$font_do: 'Dosis', sans-serif;

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

@keyframes float {
	0% { transform: translatey(0); }
	50% { transform: translatey(-20px); }
	100% { transform: translatey(0); }
}

@keyframes float1 {
	0% { transform: translatey(0); }
	50% { transform: translatey(-25px); }
	100% { transform: translatey(0); }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #193445;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}

p {
    line-height: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

ul.menu,
ul.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 575px) {
    body {
        font-size: 16px;
    }

    p {
        line-height: 20px;
    }
}
/** END GENERAL **/

/** BUTTON **/
.btn {
    min-width: 205px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px 20px;
    font-family: $font_do;
    font-size: 25px;
    font-weight: 500;
    &.btn-border {
        border-color: #65B9A5;
        color: #65B9A5;
        &:hover {
            background-color: #65B9A5;
            color: #fff;
        }
    }
}

.btn-download {
    display: flex;
    align-items: center;
    position: relative;
    height: 86px;
    padding: 0 92px 0 30px;
    background-color: #100F9A;
    border-radius: 5px;
    font-family: $font_do;
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 82px;
        height: 100%;
        background-color: #65B9A5;
        background-image: url(../images/icon-download.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color .2s;
        -webkit-transition: background-color .2s;
    }
    &:hover,
    &:focus {
        color: #fff;
        &:after {
            background-color: #100F9A;
        }
    }
}

.dropdown-links {
    position: relative;
    .btn-download:before {
        content: '';
        width: 21px;
        height: 23px;
        position: absolute;
        top: 50%;
        right: 31px;
        margin-top: -11.5px;
        background-image: url(../images/icon-arrow-download.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;
        transition: transform .2s;
        -webkit-transition: transform .2s;
    }
    .btn-download:after {
        background-image: none;
    }
    ul.menu {
        position: absolute;
        margin-top: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all .25s;
        -webkit-transition: all .25s;
        li {
            padding-bottom: 1px;
            &:first-child {
                padding-top: 3px;
            }
            a {
                position: relative;
                display: flex;
                align-items: center;
                min-height: 56px;
                padding: 5px 70px 5px 15px;
                background-color: #FFFFFF;
                border-radius: 3px;
                font-family: $font_do;
                font-size: 16px;
                font-weight: 500;
                color: #100F9A;
                line-height: 18px;
                transition: background-color .25s;
                -webkit-transition: background-color .25s;
                &:after {
                    content: '';
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    margin-top: -9px;
                    background-image: url(../images/icon-link.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:hover {
                    background-color: #EBE8E8;
                }
            }
        }
    }
    &:hover {
        .btn-download:before {
            transform: rotate(180deg);
        }
        .btn-download:after {
            background-color: #100F9A;
        }
        ul.menu {
            margin-top: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 575px) {
    .btn-download {
        height: 60px;
        padding: 0 88px 0 20px;
        font-size: 18px;
        line-height: 20px;
    }

    .btn-download:before {
        background-size: 17px auto;
    }

    .btn-download:after {
        width: 78px;
        background-size: 20px auto;
    }
}
/** END BUTTON **/

/** FORMS **/
button, input {
    outline: none !important;
}
/** END FORMS **/

/** SLICK SLIDER **/
/** END SLICK SLIDER **/

/** HEADER **/
#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #152C3B;
    z-index: 500;
    .inner {
        width: 100%;
        height: 100%;
        min-height: 77px;
        padding: 14.5px 35px 0px;
    }
    button {
        border: 0;
        padding: 0;
        background-color: transparent;
    }
    a.logo {
        display: inline-block;
        color: #fff;
        text-align: center;
        img {
            display: inline-block;
        }
        span {
            display: block;
            margin-top: 6px;
            font-family: 'Dosis', sans-serif;
            font-size: 9px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }
    button.toggle-menu {
        position: absolute;
        top: 30.5px;
        right: 35px;
        width: 21px;
        height: 16px;
        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #FFFFFF;
            transition: all .2s;
            -webkit-transition: all .2s;
        }
        &:not(.collapsed) {
            span {
                &:nth-child(1),
                &:nth-child(3) {
                    top: 50%;
                    margin-top: -2px;
                }
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
        &.collapsed {
            span {
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                    margin-top: -2px;
                }
                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }
    }
    button.scroll {
        position: absolute;
        bottom: 100px;
        left: 55px;
        width: 28px;
        height: 48px;
        border: 1px solid #FCFCFC;
        border-radius: 20px;
        > span {
            display: inline-block;    
            width: 4px;
            height: 10px;
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -2px;
            background-color: #FFFFFF;
            border-radius: 10px;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: scroll;
        }
    }
    nav {
        ul.menu {
            li {
                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
                padding-bottom: 18px;
                margin-bottom: 18px;
                a {
                    display: inline-block;
                    font-family: 'Dosis', sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #fff;
                    transition: color .25s;
                    -webkit-transition: color .25s;
                    &.active,
                    &:hover {
                        color: #65B9A5;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    #site-header {
        width: 140px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
    }

    #site-header .inner {
        padding: 150px 25px 200px;
    }

    #site-header a.logo {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    #site-header button.toggle-menu {
        display: none;
    }

    #site-header nav {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 1439px) {
    #site-header a.logo img {
        max-width: 60px;
        height: auto;
    }

    #site-header nav ul.menu {
        padding-top: 20px;
    }

    #site-header button.scroll {
        display: none !important;
    }
}
/** END HEADER **/

/** FOOTER **/
#site-footer {
    padding: 50px 0 100px;
    font-size: 16px;
    color: #707070;
    a {
        color: #707070;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        line-height: 19px;
    }
    ul.menu {
        li {
            display: inline-block;
            margin-left: 20px;
        }
    }
}

@media (min-width: 1200px) {
    #site-footer {
        padding: 80px 0 120px;
    }
}

@media (max-width: 767px) {
    #site-footer ul.menu {
        padding-top: 20px;
    }
    #site-footer ul.menu li {
        margin: 5px 20px 0 0;
    }
}

@media (max-width: 575px) {
    #site-footer ul.menu li {
        display: block;
    }
}
/** END FOOTER **/

/** WELCOME SECTION **/
#welcome {
    position: relative;
    ul.taglines {
        position: absolute;
        bottom: 100px;
        left: 40px;
        right: 40px;
        text-align: center;
        z-index: 50;
        li {
            position: relative;
            padding: 0 20px;
            font-family: 'Dosis', sans-serif;
            font-size: 24px;
            line-height: 29px;
            font-weight: 400;
            color: #65B9A5;
        }
    }
    .slider {
        z-index: 10;
        .slick-slide {
            position: relative;
            height: 100vh;
            min-height: 990px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            span.overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #193445;
                z-index: 1;
            }
            .center {
                position: relative;
                z-index: 10;
                &.logo {
                    text-align: center;
                    opacity: 0;
                    img {
                        display: block;
                        margin: 0 auto 20px;
                    }
                    p {
                        font-family: 'Dosis', sans-serif;
                        font-size: 40px;
                        color: #FFFFFF;
                        font-weight: 300;
                        letter-spacing: 0.1em;
                    }
                }
                &.circle {
                    .photo {
                        position: relative;
                        width: 500px;
                        height: 500px;
                        border-radius: 50%;
                        overflow: hidden;
                        z-index: 1;
                        &:before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 50%;
                            border: 30px solid #193445;
                            opacity: 0.6;
                            z-index: 2;
                        }
                        img {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                        }
                    }
                    .text {
                        position: absolute;
                        top: 140px;
                        left: 380px;
                        z-index: 10;
                        p {
                            margin-bottom: 0;
                            font-family: 'Dosis', sans-serif;
                            font-size: 40px;
                            color: #fff;
                            font-weight: 500;
                            line-height: 42px;
                            text-transform: uppercase;
                            white-space: nowrap;
                            opacity: 0.8;
                            &.ln-2 {
                                padding-left: 32px;
                            }
                            &.ln-3 {
                                padding-left: 5px;
                            }
                            &.ln-4 {
                                padding-left: 96px;
                            }
                        }
                    }
                }
            }
            &[data-slick-index="1"] {
                .center.circle .photo:before {
                    opacity: 0.2;
                }
            }
            &[data-slick-index="3"] {
                .center.circle .photo:before {
                    opacity: 0.3;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #welcome ul.taglines li:not(:last-child):after {
        content: '';
        width: 1px;
        height: 30px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    #welcome .slider .slick-slide .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
    }
}

@media (min-width: 1200px) {
    #welcome ul.taglines li {
        font-size: 36px;
        line-height: 42px;
        padding: 0 30px;
    }
    
    #welcome ul.taglines li:not(:last-child):after {
        height: 42px;
    }
}

@media (min-width: 1440px) {
    #welcome ul.taglines {
        left: 140px;
        right: 140px;
        opacity: 0;
        visibility: hidden;
    }

    #welcome .slider .slick-slide .center.circle .photo {
        width: 775px;
        height: 775px;
    }

    #welcome .slider .slick-slide .center.circle .photo:before {
        border-width: 60px;
    }

    #welcome .slider .slick-slide .center.circle .text {
        top: 200px;
        left: 460px;
    }

    #welcome .slider .slick-slide .center.circle .text p {
        font-size: 100px;
        line-height: 95px;
        &.ln-2 {
            padding-left: 80px;
        }
        &.ln-3 {
            padding-left: 15px;
        }
        &.ln-4 {
            padding-left: 218px;
        }
    }
}

@media (max-width: 991px) {
    #welcome ul.taglines {
        max-width: 240px;
        margin: 0 auto;
    }
    
    #welcome ul.taglines li:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
    }

    #welcome .slider .slick-slide .center {
        max-width: 500px;
        margin: 0 auto;
    }

    #welcome .slider .slick-slide .center.logo {
        padding-top: 150px;
    }

    #welcome .slider .slick-slide .center.circle .text {
        top: 68%;
        left: 18%;
    }
}

@media (max-width: 575px) {
    #welcome .slider .slick-slide {
        min-height: 800px;
    }

    #welcome .slider .slick-slide .center {
        max-width: 300px;
    }

    #welcome .slider .slick-slide .center.circle .photo {
        width: 300px;
        height: 300px;
    }

    #welcome .slider .slick-slide .center.circle .photo:before {
        border-width: 20px;
    }
}
/** END WELCOME SECTION **/

/** meat-journey SECTION **/
#meat-journey {
    padding: 70px 0 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 40px;
    }
    .points {
        position: relative;
        text-align: center;
        > div {
            > * {
                opacity: 0;
                visibility: hidden;
            }
            img {
                display: block;
            }
            .text {
                font-family: $font_do;
                font-size: 24px;
                line-height: 29px;
                font-weight: 500;
                white-space: nowrap;
                a {
                    color: inherit;
                    text-decoration: underline;
                    opacity: 0;
                }
                span {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #meat-journey {
        padding: 150px 0 400px;
    }

    #meat-journey h2 {
        font-size: 55px;
        line-height: 60px;
        margin-bottom: 200px;
    }

    #meat-journey .points > div {
        position: absolute;
        .text {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
        }
        &.point-3,
        &.point-5 {
            .text {
                top: 0;
                bottom: auto;
            }
        }
    }
}

@media (min-width: 1440px) {
    #meat-journey .points > div {
        &.point-1 {
            top: 30px;
            left: -120px;
            padding-bottom: 10px;
        }
        &.point-2 {
            top: -25px;
            left: 75px;
            padding-bottom: 28px;
            padding-left: 18px;
        }
        &.point-3 {
            top: -65px;
            left: 250px;
            padding-top: 32px;
        }
        &.point-4 {
            top: -65px;
            left: 415px;
            padding-bottom: 18px;
        }
        &.point-5 {
            top: -62px;
            right: 155px;
            padding-top: 42px;
        }
        &.point-6 {
            top: -94px;
            right: -120px;
            padding-bottom: 16px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    #meat-journey .points > div {
        span {
            font-size: 20px;
            line-height: 24px;
        }
        &.point-1 {
            top: 0;
            left: -65px;
            padding-bottom: 8px;
            img {
                width: 160px;
            }
        }
        &.point-2 {
            top: -30px;
            left: 125px;
            padding-bottom: 22px;
            padding-left: 20px;
        }
        &.point-3 {
            top: -50px;
            left: 280px;
            padding-top: 26px;
            img {
                width: 120px;
            }
        }
        &.point-4 {
            top: -72px;
            left: 415px;
            padding-bottom: 15px;
            img {
                width: 300px;
            }
        }
        &.point-5 {
            top: -35px;
            right: 215px;
            padding-top: 38px;
            img {
                width: 90px;
            }
        }
        &.point-6 {
            top: 25px;
            right: -10px;
            padding-bottom: 18px;
            img {
                width: 100px;
            }
        }
    }
}

@media (max-width: 1199px) {
    #meat-journey .points {
        text-align: center;
    }

    #meat-journey .points > img {
        display: none;
    }

    #meat-journey .points > div:not(:last-child) {
        position: relative;
        padding-bottom: 66px;
    }

    #meat-journey .points > div:not(:last-child):after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -2.5px;
        width: 5px;
        height: 56px;
        border-radius: 10px;
        background-color: rgba($color: #FFFFFF, $alpha: 0.3);
    }

    #meat-journey .points > div img {
        margin: 0 auto;
    }

    #meat-journey .points > div.point-1 .text {
        margin-top: -20px;
    }

    #meat-journey .points > div.point-4 .text {
        margin-top: -34px;
    }

    #meat-journey .points > div.point-5 .text {
        margin-top: 10px;
    }

    #meat-journey .points > div.point-6 .text {
        margin-top: -12px;
    }
}
/** END meat-journey SECTION **/

/** about SECTION **/
#about {
    h2 {
        font-size: 40px;
        line-height: 45px;
        color: #100F9A;
        margin-bottom: 50px;
    }
    .container {
        position: relative;
        padding-top: 120px;
        padding-bottom: 60px;
        .bg {
            position: absolute;
            top: -60px;
            left: -30px;
            z-index: 1;
        }
    }
    .text {
        position: relative;
        max-width: 600px;
        margin: 0 auto 80px;
        z-index: 10;
        p {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .circle {
            width: 215px;
            height: 215px;
            border-radius: 50%;
            overflow: hidden;
	        transform: translatey(0px);
	        animation: float 6s ease-in-out infinite;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .col-md-2 {
        flex: 1;
        max-width: 20%;
        .icon {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        .title {
            font-family: $font_do;
            font-size: 24px;
            color: #65B9A5;
            font-weight: 500;
            margin-bottom: 0;
        }
        &:nth-child(1) {
            .icon {
                animation: float 6s ease-in-out infinite;
            }
        }
        &:nth-child(2) {
            .icon {
                animation: float1 6s ease-in-out infinite;
            }
        }
        &:nth-child(3) {
            .icon {
                animation: float 6s ease-in-out infinite;
            }
        }
        &:nth-child(4) {
            .icon {
                animation: float1 6s ease-in-out infinite;
            }
        }
        &:nth-child(5) {
            .icon {
                animation: float 6s ease-in-out infinite;
            }
        }
    }
}

@media (min-width: 1200px) {
    #about h2 {
        font-size: 55px;
        line-height: 60px;
    }

    #about .container {
        padding-top: 260px;
        padding-bottom: 200px;
    }

    #about .text .circle {
        position: absolute;
        top: -130px;
        right: -260px;
    }
}

@media (max-width: 1199px) {
    #about .container .bg {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    #about .text .circle {
        margin: 50px auto 0;
    }

    #about .col-md-2 .title {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
}
/** END about SECTION **/

/** products SECTION **/
#products {
    background-color: #DBDBDB;
    padding: 80px 0;
    .inner {
        position: relative;
    }
    
    .item {
        min-height: 100%;
        button.close {
            display: block;
            float: none;
            width: 36px;
            height: 36px;
            border: 3px solid #100F9A;
            border-radius: 50%;
            text-shadow: none;
            background-image: url(../images/icon-close.svg);
            background-repeat: no-repeat;
            background-position: center;
            opacity: 1;
        }
        .front {
            height: 100%;
            background-color: #100F9A;
            border-radius: 10px;
            overflow: hidden;
        }
        .title {
            position: relative;
            margin-bottom: 100px;
            font-family: $font_do;
            font-size: 32px;
            font-weight: 500;
            line-height: 32px;
            color: #fff;
            white-space: nowrap;
            > span {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 95px;
                cursor: pointer;
                z-index: 5;
            }
            button.close {
                position: absolute;
                top: 50%;
                right: 30px;
                margin-top: -18px;
                opacity: 0;
                visibility: hidden;
                z-index: 10;
            }
        }
        .intro {
            position: relative;
            background-color: #193445;
            padding: 0.5px 25px 70px;
            color: #fff;
            z-index: 5;
            img {
                display: block;
                width: 192px;
                height: 192px;
                object-fit: cover;
                border-radius: 50%;
                margin: -75px auto 35px;
                transition: transform .25s;
                -webkit-transition: transform .25s;
            }
            p {
                &:last-of-type {
                    margin-bottom: 50px;
                }
            }
        }
        .content {
            background-color: #fff;
            p:last-of-type {
                margin-bottom: 0;
            }
            .container {
                padding-top: 45px;
                padding-bottom: 45px;
            }
            .col-md-8 {
                padding-left: 60px;
            }
            .btn-download {
                margin-top: 60px;
            }
            button.close {
                margin: 60px auto 0;
            }
            .product-media {
                margin-left: -10px;
                margin-right: -10px;
                > div {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        &:hover {
            .intro img {
                transform: scale(1.1);
            }
        }
        &.active {
            .title {
                background-color: #fff;
                color: #100F9A;
                button.close {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #products .product-media .col-md-5 > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-width: 992px) {
    #products .product-grid {
        margin-left: -6px;
        margin-right: -6px;
        > div.col-lg-4 {
            position: static;
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    #products .item .content {
        position: absolute;
        top: 95px;
        right: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all .25s;
        -webkit-transition: all .25s;
    }

    #products .item.active {
        .content {
            opacity: 1;
            visibility: visible;
            z-index: 10;
        }
    }
}

@media (min-width: 1200px) {
    #products {
        padding: 110px 0 210px;
    }

    #products .item .title > span {
        height: 120px;
    }

    #products .item .intro p {
        font-size: 21px;
        line-height: 30px;
    }

    #products .item .content {
        top: 120px;
    }

    #products .item .content .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 991px) {
    #products {
        overflow: hidden;
    }

    #products .product-grid > div:not(:last-child) {
        margin-bottom: 40px;
    }

    #products .item .content {
        display: none;
        margin: 0 -900px;
        padding: 0 900px;
        .col-lg-4 {
            text-align: center;
            margin-bottom: 45px;
        }
    }

    #products .item.active {
        .front {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .title {
            margin-bottom: 0;
        }
        .intro {
            display: none;
        }
        .content {
            display: block;
        }
    }
}

@media (max-width: 767px) {
    #products .product-media .col-md-5 {
        padding-top: 20px;
    }
}
/** END products SECTION **/

/** investor SECTION **/
#investor {
    position: relative;
    background-color: #193445;
    color: #fff;
    //overflow: hidden;
    h2 {
        font-size: 40px;
        line-height: 45px;
        color: #65B9A5;
        margin-bottom: 40px;
    }
    .container {
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .row {
        position: relative;
        z-index: 10;
    }
    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #1677C1, $alpha: 0.13);
        opacity: 0;
        z-index: 1;
    }
    .video {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    #investor .circle {
        top: -100px;
        left: -210px;
        width: 920px;
        height: 920px;
        border-radius: 50%;
        border: 65px solid #fff;
        opacity: 0.05;
    }
}

@media (min-width: 1200px) {
    #investor .container {
        padding-top: 160px;
        padding-bottom: 260px;
    }
}

@media (max-width: 991px) {
    #investor .row .col-lg-6:first-child {
        text-align: center;
        margin-bottom: 60px;
    }
}

@media (max-width: 991px) {
    #investor .row .col-lg-6 .col-md-6:first-child {
        margin-bottom: 15px;
    }
}
/** END investor SECTION **/