/** PAGE DASHBOARD **/
body.page-dashboard #page-title {
    margin-bottom: 0;
}
/** END PAGE DASHBOARD **/

/** class-status **/
.class-status .open {
    color: #92c86f;
}

.class-status .nearly-closed {
    color: #ec9722;
}

.class-status .closed {
    color: #e20d0d;
}

ul.class-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
    > li {
        margin-left: 15px;
        font-size: 14px;
    }
}
/** END class-status **/

/** enrol-branch **/
.enrol-branch {
    margin-bottom: 40px;
    p:last-child {
        margin-bottom: 0;
    }
    .map-canvas {
        background-color: #ECEBE2;
        height: 197px;
    }
}

@media (max-width: 767px) {
    .enrol-branch .map-canvas {
        margin-top: 20px;
    }
}
/** END enrol-branch **/

/** enrol-class **/
.enrol-class {
    background-color: #ECEBE2;
    padding: 20px 20px;
    margin-bottom: 20px;
    .title {
        margin-bottom: 20px;
    }
}
/** END enrol-class **/

/** dashboard-nav **/
.dashboard-nav {
    background-color: #ecebe2;
    margin-bottom: 40px;
    p {
        font-weight: 400;
    }
    ul.nav {
        border: 0;
        > li {
            margin: 0;
            > a.nav-link {
                background-color: transparent;
                padding: 0 20px;
                border: 0;
                border-radius: 0;
                font-weight: 700;
                line-height: 50px;
                white-space: nowrap;
                &:hover {
                    color: #183c47;
                }
                &.active {
                    background-color: #fff;
                    color: #183c47;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .dashboard-nav p {
        padding-right: 20px;
        border-right: 1px solid rgb(255, 255, 255);
    }
}

@media (max-width: 767px) {
    .dashboard-nav p {
        padding: 10px 0;
    }
}

@media (max-width: 575px) {
    .dashboard-nav ul.nav > li > a.nav-link {
        font-size: 14px;
        line-height: 40px;
        padding: 0 12px;
    }
}
/** END dashboard-nav **/

/** dashboard-content **/
.dashboard-content {
    div.timetable {
        margin-bottom: 20px;
        h3 {
            font-size: 20px;
        }
    }
    div.gform_wrapper {
        margin-bottom: 20px;
    }
}

#enrol-filter {
    border-bottom: 1px solid #ecebe2;
    padding-bottom: 40px;
    margin-bottom: 40px;
    div.row {
        margin-left: -10px;
        margin-right: -10px;
        > div{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .form-control {
        font-size: 16px;
    }
    .class-description {
        padding: 30px 20px;
		background: #fbfbfb;
		margin: 20px 0 0 0;
    }
}

@media (min-width: 992px) {
    .dashboard-content div.timetable ul.page-files>li {
        width: 50%;
    }
}

@media (max-width: 767px) {
    #enrol-filter div.row > div:not(:last-child) {
        padding-bottom: 20px;
    }
}
/** END dashboard-content **/

/** confirm-class **/
#confirm-class {
    margin-bottom: 40px;

    h3 {
        margin-bottom: 20px;
    }

    .btn.back-enrol {
        min-width: 200px;
    }

    .class-list{
        div.total {
            padding-top: 20px;
        }
    }

    &.loading {
        opacity: 0.85;
        cursor: wait;
    }
}

#coupon-form {
    input[type="text"] {
        width: 140px;
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
    }
    button[type="submit"] {
        border: 0;
        padding: 0 10px;
        font-size: 14px;
        line-height: 35px;
    }
    p.valid,
    p.invalid {
        flex: none;
        width: 100%;
        margin-bottom: 0;
        font-size: 12px;
        font-style: italic;
    }
}

#related-classes {
    padding: 20px 0 0;
}

@media (max-width: 767px) {
    #coupon-form {
        margin-bottom: 20px;
    }
}
/** END confirm-class **/

/** payment-options **/
#payment-options {
    h3 {
        margin-bottom: 20px;
        + p {
            margin-bottom: 50px;
        }
    }
    div.payment-gateway {
        position: relative;
        min-height: calc(100% - 30px);
        border: 2px solid #eee;
        padding: 30px 20px 20px;
        margin-bottom: 30px;
        h4 {
            position: absolute;
            top: -10px;
            left: 10px;
            background-color: #fff;
            padding: 0 10px;
            font-size: 18px;
            transition: all .2s;
            -webkit-transition: all .2s;
        }
        form:not(:last-child) {
            margin-bottom: 10px;
        }
        &:hover {
            h4 {
                color: #069faf;
            }
        }
    }
}

#card-element {
    padding: 10px 0 20px;
}
/** END payment-options **/

/** payment-additions **/
#payment-additions {
    padding-top: 20px;
}
/** END payment-additions **/

/** poli-modal **/
#poli-modal {
    .modal-body {
        padding: 0;
        iframe {
            display: block;
            width: 100%;
            height: 100%;
            min-height: 450px;
            border: 0;
            background-color: #fff;
            padding: 0;
            margin: 0;
        }
        button.close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}
/** END poli-modal **/