/** GENERAL **/
@font-face {
  font-family: 'black_diamondregular';
  src: url("../fonts/black-diamond-regular-webfont.woff2") format("woff2"), url("../fonts/black-diamond-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #4C4C4C;
  line-height: 1.2; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 700;
  color: #255684; }

h1, .h1 {
  font-size: 60px;
  line-height: 60px; }

h2, .h2 {
  font-size: 45px; }

h3, .h3 {
  font-size: 36px;
  line-height: 38px; }

h4, .h4 {
  font-size: 27px; }

a, a:hover, a:focus {
  outline: none;
  text-decoration: none; }

a {
  color: #255684; }

img {
  max-width: 100%;
  height: auto; }

ul.menu, ul.menu ul, ul.socials {
  margin: 0;
  padding: 0;
  list-style: none; }

/** END GENERAL **/
/** WP DEFAULT **/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

@media (max-width: 575px) {
  .aligncenter, .alignright, .alignleft, .alignnone,
  .wp-caption.alignnone, .wp-caption.alignleft, .wp-caption.alignright,
  a img.alignright, a img.alignnone, a img.alignleft {
    display: block;
    float: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; } }

/** END WP DEFAULT **/
/** FORMS **/
input, button {
  outline: none;
  box-shadow: none; }
  input:hover, input:focus, button:hover, button:focus {
    outline: none;
    box-shadow: none; }

.button-arrow {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
  outline: none !important;
  transition: all .25s;
  -webkit-transition: all .25s; }
  .button-arrow:before, .button-arrow:after {
    content: '';
    position: relative;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    transition: all .25s;
    -webkit-transition: all .25s; }
  .button-arrow span {
    display: inline-block;
    margin-right: 10px; }
  .button-arrow:not(.fill-white):before {
    display: none; }
  .button-arrow:not(.fill-white):hover:after {
    right: -10px; }
  .button-arrow.fill {
    justify-content: space-between;
    border-radius: 8px; }
    .button-arrow.fill.fill-white {
      background-color: #fff; }
      .button-arrow.fill.fill-white:before {
        position: absolute;
        top: 50%;
        right: 10px;
        opacity: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
      .button-arrow.fill.fill-white.blue:before {
        background-image: url(../images/button-arrow-orange.svg); }
      .button-arrow.fill.fill-white.orange:before {
        background-image: url(../images/button-arrow-blue.svg); }
      .button-arrow.fill.fill-white:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); }
        .button-arrow.fill.fill-white.blue:hover {
          color: #E0CC6B; }
        .button-arrow.fill.fill-white.orange:hover {
          color: #255684; }
        .button-arrow.fill.fill-white:hover:before {
          opacity: 1; }
        .button-arrow.fill.fill-white:hover:after {
          opacity: 0; }
    .button-arrow.fill.fill-orange {
      background-color: #E0CC6B; }
      .button-arrow.fill.fill-orange:hover {
        background-color: #255684; }
    .button-arrow.fill.fill-blue {
      background-color: #255684; }
      .button-arrow.fill.fill-blue:hover {
        background-color: #E0CC6B; }
  .button-arrow.small {
    font-size: 18px;
    padding: 7px 10px 7px 15px; }
    .button-arrow.small:before, .button-arrow.small:after {
      width: 40px;
      height: 34px; }
  .button-arrow.blue {
    color: #255684; }
    .button-arrow.blue:after {
      background-image: url(../images/button-arrow-blue.svg); }
  .button-arrow.orange {
    color: #E0CC6B; }
    .button-arrow.orange:after {
      background-image: url(../images/button-arrow-orange.svg); }
  .button-arrow.white {
    color: #fff; }
    .button-arrow.white:after {
      background-image: url(../images/button-arrow-white.svg); }

div.gform_wrapper {
  margin: 0; }
  div.gform_wrapper ul.gform_fields > li {
    margin: 0 0 20px !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important; }
  div.gform_wrapper div.ginput_container,
  div.gform_wrapper div.gform_footer {
    padding: 0 !important;
    margin: 0 !important; }
  div.gform_wrapper.gf-normal_wrapper {
    margin-top: 20px; }
    div.gform_wrapper.gf-normal_wrapper form ::-webkit-input-placeholder {
      color: #255684; }
    div.gform_wrapper.gf-normal_wrapper form ::-moz-placeholder {
      color: #255684; }
    div.gform_wrapper.gf-normal_wrapper form :-ms-input-placeholder {
      color: #255684; }
    div.gform_wrapper.gf-normal_wrapper form :-moz-placeholder {
      color: #255684; }
    div.gform_wrapper.gf-normal_wrapper form input[type="text"],
    div.gform_wrapper.gf-normal_wrapper form input[type="email"],
    div.gform_wrapper.gf-normal_wrapper form textarea {
      display: block;
      width: 100%;
      border: 3px solid #255684;
      border-radius: 8px;
      background-color: transparent;
      height: 50px;
      padding: 0 20px !important;
      margin: 0 !important;
      font-weight: 700;
      color: #255684;
      outline: none; }
    div.gform_wrapper.gf-normal_wrapper form textarea {
      height: 290px;
      padding: 10px 20px !important;
      resize: vertical; }
    div.gform_wrapper.gf-normal_wrapper ul.gform_fields {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px !important; }
      div.gform_wrapper.gf-normal_wrapper ul.gform_fields > li {
        position: relative;
        width: 100%;
        margin: 0 0 15px !important;
        padding: 0 20px !important; }
    div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox {
      background-color: rgba(157, 159, 161, 0.25);
      border-radius: 8px;
      width: 100% !important;
      padding: 5px 15px; }
      div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox > li {
        position: relative;
        display: flex !important;
        align-items: center;
        min-height: 30px;
        margin: 5px 20px 5px 0 !important;
        overflow: visible; }
        div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox > li input {
          opacity: 0;
          visibility: hidden;
          position: absolute; }
          div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox > li input:checked + label:before {
            background-color: #E0CC6B; }
        div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox > li label {
          position: relative;
          padding-left: 42px;
          max-width: 100%;
          font-size: 15px;
          font-weight: 700;
          color: #255684; }
          div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox > li label:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            border-radius: 8px;
            border: 3px solid #255684;
            background-color: #fff; }
    div.gform_wrapper.gf-normal_wrapper label.gfield_label {
      display: block;
      margin: 0 0 10px;
      font-size: 18px;
      font-weight: 700;
      color: #255684; }

@media (min-width: 575px) {
  div.gform_wrapper.gf-normal_wrapper ul.gfield_checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }

@media (min-width: 768px) {
  div.gform_wrapper.gf-normal_wrapper ul.gform_fields > li.gf_left_half, div.gform_wrapper.gf-normal_wrapper ul.gform_fields > li.gf_right_half {
    width: 50% !important; }
  div.gform_wrapper.gf-normal_wrapper div.ginput_recaptcha {
    position: absolute;
    top: 15px;
    right: 220px; }
  div.gform_wrapper.gf-normal_wrapper div.gform_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start; } }

@media (max-width: 575px) {
  .button-arrow {
    font-size: 18px; }
  .button-arrow:before, .button-arrow:after {
    width: 40px;
    height: 34px; } }

/** END FORMS **/
/** HEADER **/
#site-header {
  position: relative;
  background-color: #fff;
  z-index: 500; }
  #site-header:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 144px;
    background-image: url(../images/shape-1-white.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: 1; }
  #site-header span.border {
    display: block;
    position: relative;
    width: 100%;
    height: 12px;
    background-color: #255684;
    z-index: 2; }
    #site-header span.border:before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 18px;
      background-image: url(../images/line-1.svg);
      background-repeat: no-repeat;
      background-position: bottom left; }
  #site-header button.toggle-menu {
    position: relative;
    width: 36px;
    height: 26px;
    background-color: transparent;
    border: 0;
    padding: 0; }
    #site-header button.toggle-menu span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 6px;
      border-radius: 6px;
      background-color: #255684; }
      #site-header button.toggle-menu span:nth-child(1) {
        top: 0; }
      #site-header button.toggle-menu span:nth-child(2) {
        top: 50%;
        margin-top: -3px; }
      #site-header button.toggle-menu span:nth-child(3) {
        bottom: 0; }
  #site-header div.container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10; }

#site-menu ul.menu li {
  position: relative; }
  #site-menu ul.menu li a {
    display: inline-block;
    font-size: 15px;
    font-weight: 700; }
  #site-menu ul.menu li button.toggle {
    position: absolute;
    border: 0;
    width: 9px;
    height: 15px;
    background-image: url(../images/arrow-right-orange.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    padding: 0; }

#site-menu ul.sub-menu li.menu-item-has-children {
  padding-right: 35px; }

@media (min-width: 1440px) {
  #site-header:after,
  #site-header span.border:before {
    background-size: cover; } }

@media (min-width: 1200px) {
  #site-menu {
    display: block; }
    #site-menu ul.menu li:hover > ul.sub-menu {
      opacity: 1;
      margin-top: 0;
      visibility: visible; }
    #site-menu ul.menu > li > a {
      position: relative;
      padding: 0 25px;
      font-size: 18px;
      line-height: 42px;
      white-space: nowrap;
      transition: all .25s;
      -webkit-transition: all .25s; }
    #site-menu ul.menu > li > button.toggle {
      bottom: 16px;
      left: 6px;
      width: 16px;
      height: 7px;
      background-image: url(../images/arrow-down-orange.svg); }
    #site-menu ul.menu > li:not(.menu-item-has-children) > a:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      height: 6px;
      margin: 0 auto;
      opacity: 0;
      background-image: url(../images/line-5-orange.svg);
      background-repeat: repeat-x;
      background-position: 0;
      transition: all .25s;
      -webkit-transition: all .25s; }
    #site-menu ul.menu > li:not(.menu-item-has-children):hover a:after {
      width: 90%;
      opacity: 1; }
    #site-menu ul.menu > li.menu-item-has-children > a {
      position: relative;
      border-radius: 15px 15px 0 0; }
    #site-menu ul.menu > li.menu-item-has-children:hover > a {
      background-color: #255684;
      color: #E0CC6B; }
    #site-menu ul.sub-menu {
      position: absolute;
      min-width: 240px;
      padding: 10px 0;
      background-color: #255684;
      border-top-right-radius: 15px;
      opacity: 0;
      margin-top: 30px;
      visibility: hidden;
      transition: all .25s;
      -webkit-transition: all .25s; }
      #site-menu ul.sub-menu:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 6px;
        background-image: url(../images/line-5-orange.svg);
        background-repeat: repeat-x;
        background-position: 0; }
      #site-menu ul.sub-menu li a {
        display: block;
        padding: 5px 25px;
        color: #fff; }
      #site-menu ul.sub-menu li button.toggle {
        top: 50%;
        right: 20px;
        margin-top: -7.5px; }
      #site-menu ul.sub-menu li:hover > a {
        color: #E0CC6B; }
      #site-menu ul.sub-menu ul.sub-menu {
        top: 0;
        left: 100%; } }

@media (max-width: 1199px) {
  #site-menu ul.menu {
    padding-top: 15px; }
  #site-menu ul.menu li a {
    display: block;
    padding: 8px 25px 8px 0px; }
  #site-menu ul.menu li button.toggle {
    top: 5px;
    right: 7px;
    background-color: #255684;
    width: 25px;
    height: 25px;
    background-size: 9px auto;
    background-position: center;
    border-radius: 50%; }
  #site-menu ul.sub-menu {
    display: none; }
    #site-menu ul.sub-menu li a {
      color: #fff; }
    #site-menu ul.sub-menu li ul {
      padding-left: 15px; }
    #site-menu ul.sub-menu li button.toggle {
      background-color: #fff; }
  #site-menu ul.menu > li > ul.sub-menu {
    position: relative;
    background-color: #255684;
    padding: 10px 0 10px 20px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px; }
    #site-menu ul.menu > li > ul.sub-menu:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 6px;
      background-image: url(../images/line-5-orange.svg);
      background-repeat: repeat-x;
      background-position: 0; } }

@media (max-width: 575px) {
  #site-header div.container {
    padding-top: 15px;
    padding-bottom: 10px; } }

/** END HEADER **/
/** FOOTER **/
#bottom-photo {
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  #bottom-photo:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #fff;
    transform: skewY(-2deg);
    top: -40px; }

#site-footer {
  position: relative;
  background-color: #255684;
  color: #fff; }
  #site-footer:before {
    content: '';
    position: absolute;
    top: -19px;
    left: 0;
    width: 100%;
    height: 39px;
    background-image: url(../images/line-6-blue.svg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1; }
  #site-footer div.container-fluid {
    position: relative;
    padding: 20px 40px 40px;
    z-index: 10; }
  #site-footer div.gform_wrapper {
    margin-bottom: 80px; }
    #site-footer div.gform_wrapper form ::-webkit-input-placeholder {
      color: #fff; }
    #site-footer div.gform_wrapper form ::-moz-placeholder {
      color: #fff; }
    #site-footer div.gform_wrapper form :-ms-input-placeholder {
      color: #fff; }
    #site-footer div.gform_wrapper form :-moz-placeholder {
      color: #fff; }
    #site-footer div.gform_wrapper form input[type="text"],
    #site-footer div.gform_wrapper form input[type="email"] {
      display: block;
      width: 160px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 6px;
      background-color: transparent;
      padding: 0 20px;
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      outline: none; }
    #site-footer div.gform_wrapper .validation_error,
    #site-footer div.gform_wrapper .gfield_description {
      display: none !important; }
    #site-footer div.gform_wrapper .gform_heading,
    #site-footer div.gform_wrapper .gform_body,
    #site-footer div.gform_wrapper .gform_footer {
      width: auto; }
    #site-footer div.gform_wrapper .gform_heading {
      margin: 0; }
      #site-footer div.gform_wrapper .gform_heading .gform_title {
        width: auto;
        margin: 0 0;
        font-family: 'black_diamondregular';
        font-weight: 400;
        font-size: 60px;
        color: #fff;
        line-height: 1.2;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }
      #site-footer div.gform_wrapper .gform_heading .gform_description {
        width: auto;
        margin: 0 0;
        font-size: 21px;
        color: #E0CC6B;
        font-weight: 700; }
    #site-footer div.gform_wrapper ul.gform_fields {
      display: flex;
      flex-wrap: wrap; }
      #site-footer div.gform_wrapper ul.gform_fields > li {
        width: auto !important;
        max-width: 100% !important;
        margin: 0 15px 0 0 !important; }
  #site-footer div.gform_confirmation_message {
    margin-bottom: 80px;
    font-size: 21px;
    color: #E0CC6B;
    font-weight: 700; }
  #site-footer ul.socials li a img {
    transition: all .25s;
    -webkit-transition: all .25s; }
  #site-footer ul.socials li a:hover img {
    transform: scale(1.1); }

@media (min-width: 768px) {
  #site-footer ul.socials > li {
    margin-left: 5px; } }

@media (min-width: 1200px) {
  #site-footer div.gform_wrapper .gform_heading,
  #site-footer div.gform_wrapper form {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  #site-footer div.gform_wrapper .gform_heading .gform_title,
  #site-footer div.gform_wrapper .gform_heading .gform_description {
    margin-right: 20px; } }

@media (min-width: 1440px) {
  #bottom-photo {
    height: 400px; }
  #bottom-photo:before {
    height: 120px;
    top: -60px; }
  #site-footer:before {
    background-size: cover; }
  #site-footer div.gform_wrapper form input[type="text"],
  #site-footer div.gform_wrapper form input[type="email"] {
    width: 210px; }
  #site-footer div.gform_wrapper .gform_heading .gform_title {
    font-size: 68px; }
  #site-footer div.gform_wrapper .gform_heading .gform_description {
    font-size: 27px; } }

@media (max-width: 1199px) {
  #site-footer div.gform_wrapper .gform_heading .gform_title {
    margin-bottom: 20px; }
  #site-footer div.gform_wrapper .gform_body {
    padding: 20px 0; } }

@media (max-width: 767px) {
  #site-footer div.newsletter .description {
    margin: 0 0 20px; }
  #site-footer ul.socials {
    margin-top: 20px; }
  #site-footer ul.socials > li {
    margin-right: 5px; } }

@media (max-width: 575px) {
  #site-footer div.gform_wrapper ul.gform_fields {
    display: block; }
  #site-footer div.gform_wrapper ul.gform_fields > li {
    margin: 0 0 10px !important; }
  #site-footer div.gform_wrapper form input[type="text"],
  #site-footer div.gform_wrapper form input[type="email"] {
    width: 100%; } }

/** END FOOTER **/
/** compare-box **/
.compare-box {
  position: relative; }
  .compare-box div.row {
    margin: 0; }
    .compare-box div.row > div {
      color: #fff; }
    .compare-box div.row > div:first-child {
      border-radius: 15px 0 0 15px; }
    .compare-box div.row > div:last-child {
      border-radius: 0 15px 15px 0; }
    .compare-box div.row > div:nth-child(even) {
      background-color: #255684; }
    .compare-box div.row > div:nth-child(odd) {
      background-color: #E0CC6B; }
    .compare-box div.row > div:nth-child(2):before,
    .compare-box div.row > div:nth-child(3):before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 10px;
      margin-left: -5px;
      background-image: url(../images/line-2-orange.svg);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      z-index: 3; }
    .compare-box div.row > div:nth-child(3):before {
      transform: rotate(180deg); }

@media (max-width: 767px) {
  #resources div.compare-box div.row > div {
    width: 50%; }
  #resources div.compare-box div.row > div:nth-child(2) {
    border-radius: 0 15px 15px 0; }
  #resources div.compare-box div.row > div:nth-child(3) {
    width: 100%;
    margin-top: 20px;
    border-radius: 15px; } }

/** END compare-box **/
/** list files **/
ul.files li a {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 12px 42px 12px 20px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 700;
  transition: all .25s;
  -webkit-transition: all .25s; }
  ul.files li a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    width: 26px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
  ul.files li a.file:before {
    background-image: url(../images/download-blue.svg); }
  ul.files li a.link:before {
    background-image: url(../images/button-arrow-blue.svg); }
  ul.files li a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

ul.files li:not(:last-child) {
  margin-bottom: 15px; }

ul.files.orange li a {
  color: #E0CC6B; }
  ul.files.orange li a.file:before {
    background-image: url(../images/download-orange.svg); }
  ul.files.orange li a.link:before {
    background-image: url(../images/button-arrow-orange.svg); }

@media (max-width: 575px) {
  ul.files li a {
    padding: 10px 38px 10px 10px;
    font-size: 15px; }
  ul.files li a:before {
    width: 20px;
    height: 20px;
    right: 10px; } }

/** END list files **/
/** filter-menu **/
ul.filter-menu {
  margin-bottom: 80px; }
  ul.filter-menu li {
    margin: 0 15px 10px 0;
    font-weight: 700;
    color: #E0CC6B; }
    ul.filter-menu li a {
      display: block;
      background-color: #E0CC6B;
      border-radius: 8px;
      padding: 12px 15px;
      font-weight: 700;
      color: #fff;
      transition: background-color .25s;
      -webkit-transition: background-color .25s; }
      ul.filter-menu li a.active, ul.filter-menu li a:hover {
        background-color: rgba(37, 86, 132, 0.5); }

@media (min-width: 576px) {
  ul.filter-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }

@media (min-width: 768px) {
  ul.filter-menu li {
    font-size: 22px; }
  ul.filter-menu li a {
    font-size: 18px; } }

@media (max-width: 575px) {
  ul.filter-menu li {
    margin-right: 0; } }

/** END filter-menu **/
/** post-grid **/
.post-grid {
  margin: 0 -10px; }
  .post-grid > div {
    padding: 0 10px 20px; }

/** END post-grid **/
/** post-overlay **/
.post-overlay {
  position: relative;
  top: 0;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  transition: top .2s;
  -webkit-transition: top .2s; }
  .post-overlay:before, .post-overlay:after {
    content: '';
    position: absolute; }
  .post-overlay:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background-color .25s;
    -webkit-transition: background-color .25s; }
  .post-overlay:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: url(../images/line-3-orange.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    z-index: 2; }
  .post-overlay .inner {
    position: relative;
    min-height: 350px;
    padding: 20px 30px 64px;
    z-index: 3; }
  .post-overlay a.link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4; }
  .post-overlay .title {
    margin-bottom: 60px;
    color: #fff; }
  .post-overlay .button-arrow {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    justify-content: space-between;
    padding: 0;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.16); }
  .post-overlay:hover {
    top: -10px; }
    .post-overlay:hover:before {
      background-color: rgba(0, 0, 0, 0.5); }
    .post-overlay:hover .button-arrow {
      right: 20px; }

/** END post-overlay **/
/** post-stack **/
.badge-date {
  width: 72px; }
  .badge-date ul.date {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center; }
    .badge-date ul.date li {
      display: block;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase; }
      .badge-date ul.date li.month {
        color: #E0CC6B;
        font-size: 18px; }
      .badge-date ul.date li.day {
        margin-bottom: 10px;
        color: #255684;
        font-size: 36px; }
      .badge-date ul.date li.wday {
        position: relative;
        background-color: #255684;
        border-radius: 0 0 15px 15px;
        padding: 6px 0;
        color: #fff;
        font-size: 12px; }
        .badge-date ul.date li.wday:before {
          content: '';
          position: absolute;
          top: -4px;
          left: 0;
          width: 100%;
          height: 4px;
          background-image: url(../images/line-3-blue.svg);
          background-repeat: no-repeat;
          background-position: left top;
          background-size: cover; }
      .badge-date ul.date li ul.date {
        margin: 15px 5px 0; }
        .badge-date ul.date li ul.date:before {
          content: '';
          position: absolute;
          top: -12px;
          left: 50%;
          width: 28px;
          height: 12px;
          margin-left: -14px;
          background-image: url(../images/arrow-down-orange.svg);
          background-repeat: no-repeat;
          background-position: 0;
          background-size: contain; }
        .badge-date ul.date li ul.date li.month {
          font-size: 15px; }
        .badge-date ul.date li ul.date li.day {
          margin-bottom: 5px;
          font-size: 27px; }

.post-stack {
  position: relative;
  padding: 0 0 20px 15px; }
  .post-stack:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    background-image: url(../images/line-6-blue.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
    transition: all .25s;
    -webkit-transition: all .25s; }
  .post-stack .photo {
    position: relative;
    top: 0;
    min-height: 250px;
    border-radius: 0 15px 15px 0;
    margin-bottom: 20px;
    margin-left: -15px;
    overflow: hidden;
    transition: all .25s;
    -webkit-transition: all .25s; }
    .post-stack .photo:before {
      content: '';
      position: absolute;
      width: 15px;
      top: 0;
      bottom: 0;
      left: 0;
      background-image: url(../images/line-4-white.svg);
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover;
      z-index: 2; }
    .post-stack .photo .button-arrow {
      position: absolute;
      bottom: 10px;
      right: 15px;
      padding: 0;
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.16); }
    .post-stack .photo .badge-date {
      position: absolute;
      bottom: 10px;
      left: 25px; }
  .post-stack .title {
    margin-bottom: 0; }
    .post-stack .title a {
      color: inherit; }
  .post-stack .time {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #E0CC6B;
    font-weight: 700; }
    .post-stack .time:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 26px;
      height: 26px;
      background-image: url(../images/clock-orange.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain; }
  .post-stack:hover:after {
    opacity: 1; }
  .post-stack:hover .photo {
    top: -10px;
    box-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.08); }
    .post-stack:hover .photo .button-arrow:after {
      right: -10px; }

/** END post-stack **/
/** post-inline **/
.post-list {
  margin-bottom: 60px; }

.post-inline {
  position: relative;
  top: 0;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: all .25s;
  -webkit-transition: all .25s; }
  .post-inline div.photo {
    position: relative;
    height: 100%;
    min-height: 300px; }
    .post-inline div.photo:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover; }
    .post-inline div.photo img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .post-inline p.title {
    margin-bottom: 0; }
  .post-inline p.category {
    margin-bottom: 30px; }
    .post-inline p.category a {
      color: #E0CC6B; }
  .post-inline p.date {
    position: relative;
    padding-left: 34px;
    color: #255684;
    line-height: 28px; }
    .post-inline p.date:before {
      content: '';
      width: 24px;
      height: 28px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/calendar-orange.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain; }
  .post-inline a.button-arrow {
    width: 180px; }
  .post-inline:hover {
    top: -10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16); }

@media (min-width: 768px) {
  .post-inline div.photo:before {
    width: 15px;
    top: 0;
    transform: rotate(180deg);
    background-image: url(../images/line-4-white.svg); }
  .post-inline div.row .col-md-7 {
    position: relative;
    padding: 30px 20px 90px 40px; }
  .post-inline div.meta {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 40px; } }

@media (max-width: 767px) {
  .post-inline div.photo:before {
    width: 100%;
    height: 15px;
    background-image: url(../images/line-3-white.svg); }
  .post-inline div.row .col-md-7 {
    padding: 20px; }
  .post-inline p.date {
    padding-left: 28px;
    font-size: 12px;
    line-height: 24px; }
    .post-inline p.date:before {
      width: 20px;
      height: 24px; }
  .post-inline a.button-arrow {
    width: 140px;
    font-size: 15px; }
    .post-inline a.button-arrow:after {
      width: 30px;
      height: 24px; } }

@media (max-width: 575px) {
  .post-inline div.photo {
    min-height: 250px; } }

/** END post-inline **/
/** gallery-grid **/
.gallery-grid .grid-item {
  padding-bottom: 30px; }
  .gallery-grid .grid-item img {
    display: block;
    width: 100%;
    height: auto; }
  .gallery-grid .grid-item a {
    display: block;
    position: relative; }
    .gallery-grid .grid-item a:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 35px;
      height: 35px;
      background-image: url(../images/zoom-icon.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain;
      transition: all .2s;
      -webkit-transition: all .2s; }
    .gallery-grid .grid-item a:hover:before {
      transform: scale(1.1); }
  .gallery-grid .grid-item p {
    margin: 10px 0 0; }

@media (max-width: 575px) {
  .gallery-grid .grid-item {
    padding: 0 5px 15px; } }

/** END gallery-grid **/
/** pagination **/
nav.pagination {
  display: block;
  border-radius: 0;
  padding: 40px 0 0; }
  nav.pagination .nav-links {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px; }
    nav.pagination .nav-links > a, nav.pagination .nav-links > span {
      display: inline-block;
      margin: 0 5px;
      font-size: 18px;
      color: #4C4C4C;
      font-weight: 700; }
    nav.pagination .nav-links .current,
    nav.pagination .nav-links a:hover {
      color: #255684; }
    nav.pagination .nav-links .prev,
    nav.pagination .nav-links .next {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      margin: 0;
      color: #255684;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
      nav.pagination .nav-links .prev span,
      nav.pagination .nav-links .next span {
        display: inline-block;
        margin: 0 10px; }
    nav.pagination .nav-links .prev:before,
    nav.pagination .nav-links .next:after {
      content: '';
      display: inline-block;
      width: 35px;
      height: 30px;
      background-image: url(../images/button-arrow-blue.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain; }
    nav.pagination .nav-links .prev:before {
      transform: rotate(180deg); }
    nav.pagination .nav-links .prev {
      left: 0; }
    nav.pagination .nav-links .next {
      right: 0; }

@media (max-width: 575px) {
  nav.pagination .nav-links > a,
  nav.pagination .nav-links > span {
    display: 16px; }
  nav.pagination .nav-links .prev:before,
  nav.pagination .nav-links .next:after {
    width: 23px;
    height: 20px; }
  nav.pagination .nav-links .prev span,
  nav.pagination .nav-links .next span {
    margin: 0 5px; } }

/** END pagination **/
/** PAGE CONTENT **/
.page-content {
  margin-bottom: 40px; }
  .page-content > div.container {
    max-width: 890px; }

.entry-content h2, .entry-content h3, .entry-content h4 {
  margin-bottom: 20px; }

.entry-content p {
  margin-bottom: 20px; }
  .entry-content p:last-child {
    margin-bottom: 0; }

.entry-content ul:not([class]) {
  margin: 0 0 20px;
  padding: 0;
  list-style: none; }
  .entry-content ul:not([class]) li {
    position: relative;
    padding: 0 0 5px 20px; }
    .entry-content ul:not([class]) li:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #255684; }

.entry-content form.searchform input[type="text"] {
  height: 50px;
  padding: 0 15px;
  border-radius: 6px;
  border: 3px solid #255684;
  outline: none; }

.entry-content form.searchform input[type="submit"] {
  height: 50px;
  border-radius: 6px;
  background-color: #E0CC6B;
  padding: 0 20px;
  border: 0;
  font-weight: 700;
  color: #fff;
  outline: none; }

/** END PAGE CONTENT **/
/** WELCOME SECTION **/
#welcome {
  position: relative;
  z-index: 200; }
  #welcome h1 {
    font-family: 'black_diamondregular';
    font-weight: 400;
    font-size: 150px;
    color: #fff;
    line-height: 140px; }
  #welcome div.background {
    position: absolute;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: skewY(-2deg);
    overflow: hidden; }
    #welcome div.background:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.29);
      z-index: 2; }
    #welcome div.background div.inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -100px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: skewY(2deg);
      z-index: 1; }
  #welcome div.container {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 10; }
  #welcome div.compare-box {
    width: 600px;
    max-width: 90%;
    z-index: 10; }
    #welcome div.compare-box:after {
      content: '';
      position: absolute;
      top: 10px;
      right: -10px;
      bottom: -10px;
      left: 10px;
      background-color: rgba(157, 159, 161, 0.5);
      border-radius: 15px;
      z-index: 1; }
    #welcome div.compare-box div.row > div {
      padding: 40px 40px 100px;
      z-index: 2; }
      #welcome div.compare-box div.row > div img {
        display: block;
        width: auto;
        height: 80px;
        margin: 0 auto 20px; }
      #welcome div.compare-box div.row > div .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px; }
      #welcome div.compare-box div.row > div .button-arrow {
        position: absolute;
        right: 20px;
        bottom: 20px;
        left: 20px; }
        #welcome div.compare-box div.row > div .button-arrow:hover {
          bottom: 25px; }

@media (min-width: 1200px) {
  #welcome div.container {
    padding-right: 300px; }
  #welcome div.background {
    right: 100px; }
  #welcome div.compare-box {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); } }

@media (min-width: 1440px) {
  #welcome div.background {
    right: 200px; }
  #welcome div.compare-box {
    right: 100px; } }

@media (max-width: 1199px) {
  #welcome div.background {
    bottom: 200px; }
  #welcome div.compare-box {
    margin: 0 auto; } }

@media (max-width: 767px) {
  #welcome h1 {
    font-size: 100px;
    line-height: 100px; } }

@media (max-width: 575px) {
  #welcome h1 {
    font-size: 80px;
    line-height: 80px; }
  #welcome div.container {
    padding-top: 100px;
    padding-bottom: 100px; }
  #welcome div.compare-box div.row > div {
    padding: 20px 10px 80px; }
  #welcome div.compare-box div.row > div .title {
    font-size: 20px;
    margin-bottom: 20px; }
  #welcome div.compare-box div.row > div .button-arrow {
    right: 10px;
    bottom: 10px;
    left: 10px; } }

/** END WELCOME SECTION **/
/** STATIS SECTION **/
#statis {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
  margin-top: -150px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  z-index: 100; }
  #statis:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    transform: skewY(2deg);
    z-index: 10; }
  #statis h2, #statis .h3 {
    color: #E0CC6B; }
  #statis h2 {
    margin-bottom: 60px; }
  #statis .container {
    position: relative;
    padding: 80px 40px;
    background-image: url(../images/statis-inner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 5; }
  #statis .item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
    font-size: 21px;
    font-weight: 700; }
    #statis .item .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%; }
    #statis .item .text {
      width: calc(100% - 30%);
      padding-left: 10px; }
    #statis .item p {
      margin-bottom: 0; }

@media (min-width: 992px) {
  #statis .container {
    padding: 120px 80px; }
  #statis .item:last-child {
    margin-bottom: 0; } }

/** END STATIS SECTION **/
/** latest-news SECTION **/
#latest-news {
  position: relative;
  padding-top: 80px; }
  #latest-news:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(../images/shape-1-orange.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: 1; }
  #latest-news h2 {
    margin-bottom: 30px; }
  #latest-news > div.inner {
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
    z-index: 10; }
    #latest-news > div.inner:before {
      content: '';
      position: absolute;
      top: 200px;
      bottom: -50px;
      left: 0;
      width: 100%;
      background-color: #E0CC6B;
      transform: skewY(-2deg); }
  #latest-news:not(.project-news) {
    margin-top: -330px;
    z-index: 100; }
  #latest-news.project-news {
    background-color: #255684; }
    #latest-news.project-news:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      background-image: url(../images/shape-1-white.svg);
      background-repeat: no-repeat;
      background-position: left bottom; }
    #latest-news.project-news h2 {
      color: #E0CC6B; }

@media (min-width: 1440px) {
  #latest-news:after,
  #latest-news.project-news:before {
    background-size: cover; } }

@media (max-width: 767px) {
  #latest-news > div.inner:before {
    top: 30%; } }

/** END latest-news SECTION **/
/** events SECTION **/
#events {
  padding: 100px 0 20px; }
  #events h2 {
    margin-bottom: 30px; }

/** END events SECTION **/
/** PAGE HEADER SECTION **/
#page-header {
  position: relative;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #page-header .title {
    position: relative;
    background-color: #255684;
    z-index: 5; }
    #page-header .title:before, #page-header .title:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 30px;
      background-color: #255684;
      z-index: 1; }
    #page-header .title:before {
      top: -30px;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
      clip-path: polygon(0 0, 0% 100%, 100% 100%); }
    #page-header .title:after {
      bottom: -30px;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
      clip-path: polygon(0 0, 0% 100%, 100% 0); }
    #page-header .title h1 {
      color: #fff;
      margin: 0; }
    #page-header .title .container {
      position: relative;
      color: #fff;
      z-index: 2; }
      #page-header .title .container:after {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        width: 20px;
        background-image: url(../images/line-2-blue.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover; }

#breadcrumb {
  position: relative;
  background-color: #E0CC6B;
  color: #FFFFFF;
  z-index: 10; }
  #breadcrumb:before, #breadcrumb:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(../images/line-5-orange.svg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    z-index: 1; }
  #breadcrumb:before {
    top: -15px;
    background-position: left top; }
  #breadcrumb:after {
    bottom: -15px;
    background-position: left bottom; }
  #breadcrumb p {
    margin: 0; }
  #breadcrumb a, #breadcrumb span {
    display: inline-block;
    font-weight: 700; }
  #breadcrumb a:hover {
    color: #fff; }
  #breadcrumb span.separator {
    display: inline-block;
    width: 2px;
    height: 11px;
    background-color: #255684;
    margin: 0 6px;
    text-indent: -999px;
    overflow: hidden; }
  #breadcrumb .inner {
    position: relative;
    padding: 15px 0 10px 35px;
    z-index: 10; }
    #breadcrumb .inner:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 25px;
      height: 26px;
      background-image: url(../images/home-blue.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }

@media (min-width: 1200px) {
  #page-header {
    height: 600px;
    margin-bottom: 200px; }
  #page-header .title {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 50%;
    z-index: 10; }
  #page-header .title .container {
    max-width: 550px;
    height: 300px;
    margin: 0;
    padding: 0; }
  #page-header #breadcrumb {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 5; }
  #page-header #breadcrumb .container {
    padding-left: 630px; } }

@media (max-width: 1199px) {
  #page-header {
    padding-top: 250px; }
  #page-header .title:after {
    display: none; }
  #page-header .title .container {
    padding-top: 40px;
    padding-bottom: 60px; }
  #page-header .title .container:after {
    display: none; } }

@media (max-width: 575px) {
  #page-header {
    padding-top: 200px; } }

/** END PAGE HEADER SECTION **/
/** PAGE TITLE **/
#page-title {
  background-color: #255684;
  margin-bottom: 80px; }
  #page-title .title {
    padding: 55px 0 85px; }
    #page-title .title h1 {
      font-family: 'black_diamondregular';
      font-weight: 400;
      font-size: 120px;
      color: #fff;
      line-height: 1.1;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
      transform: rotate(-2deg); }

@media (max-width: 991px) {
  #page-title .title {
    padding: 20px 0 40px; }
  #page-title .title h1 {
    font-size: 60px; } }

@media (max-width: 575px) {
  #page-title .title h1 {
    font-size: 45px; } }

/** END PAGE TITLE **/
/** PAGE INTRO SECTION **/
.page-intro {
  padding-bottom: 60px;
  font-size: 22px; }
  .page-intro h2, .page-intro h3 {
    color: #E0CC6B; }

@media (min-width: 768px) {
  .page-intro h2, .page-intro h3 {
    text-align: right; } }

@media (min-width: 992px) {
  .page-intro .row {
    margin: 0 -40px; }
    .page-intro .row > div {
      padding: 0 40px; } }

/** END PAGE INTRO SECTION **/
/** RESOURCES SECTION **/
#resources {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #resources:before, #resources:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(../images/shape-1-white.svg);
    background-repeat: no-repeat; }
  #resources:before {
    top: 0;
    background-position: left bottom; }
  #resources:after {
    bottom: 0;
    background-position: left top; }
  #resources h2 {
    color: #fff;
    margin-bottom: 30px; }
  #resources div.compare-box h4 {
    color: #fff;
    margin-bottom: 20px; }
  #resources div.compare-box div.row > div {
    padding: 40px; }

@media (min-width: 1440px) {
  #resources:before, #resources:after {
    background-size: cover; } }

@media (max-width: 575px) {
  #resources div.compare-box div.row > div {
    padding: 20px; } }

/** END RESOURCES SECTION **/
/** GALLERY SECTION **/
#gallery {
  padding: 80px 0 0; }
  #gallery h2 {
    color: #255684;
    margin-bottom: 30px; }

/** END GALLERY SECTION **/
/** FEATURED PROJECTS **/
#featured-projects {
  position: relative;
  margin-bottom: -200px;
  z-index: 200; }

#featured-projects .compare-box .col-6 {
  padding: 20px 20px 88px; }
  #featured-projects .compare-box .col-6 .photo {
    margin-bottom: 20px; }
  #featured-projects .compare-box .col-6 .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  #featured-projects .compare-box .col-6 .button-arrow {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px; }

@media (min-width: 768px) {
  #featured-projects .compare-box .col-6 {
    position: relative;
    padding: 30px 20px 90px 160px; }
    #featured-projects .compare-box .col-6 .photo {
      position: absolute;
      top: 50%;
      left: 0;
      width: 160px;
      margin-bottom: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      text-align: center; }
      #featured-projects .compare-box .col-6 .photo img {
        max-width: 70%;
        height: auto; }
    #featured-projects .compare-box .col-6 .button-arrow {
      left: 160px; } }

@media (min-width: 992px) {
  #featured-projects .compare-box .col-6 {
    padding-left: 200px; }
    #featured-projects .compare-box .col-6 .photo {
      width: 200px; }
    #featured-projects .compare-box .col-6 .button-arrow {
      left: 200px; } }

@media (max-width: 575px) {
  #featured-projects .compare-box .col-6 .title {
    font-size: 20px; } }

/** END FEATURED PROJECTS **/
/** WIDGETS **/
.widget h4 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 15px; }

.widget-events ul.menu {
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  margin-bottom: 20px; }
  .widget-events ul.menu > li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    padding: 15px 0; }
    .widget-events ul.menu > li a {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; }
    .widget-events ul.menu > li span {
      display: block;
      font-weight: 700; }
      .widget-events ul.menu > li span.date {
        width: 75px;
        border-right: 1px solid rgba(112, 112, 112, 0.5);
        color: #255684;
        text-align: center;
        text-transform: uppercase;
        line-height: 1; }
      .widget-events ul.menu > li span.day {
        font-size: 18px;
        line-height: 14px; }
      .widget-events ul.menu > li span.month {
        font-size: 27px;
        color: #E0CC6B; }
      .widget-events ul.menu > li span.title {
        width: calc(100% - 75px);
        padding: 0 15px;
        font-size: 21px;
        color: #4C4C4C; }

.widget-news .post-overlay {
  margin-bottom: 20px; }
  .widget-news .post-overlay .inner {
    min-height: 280px;
    padding: 20px 20px 64px; }
  .widget-news .post-overlay .title {
    font-size: 27px;
    line-height: 32px; }

.widget-news .post-overlay:after {
  background-image: url(../images/line-3-white.svg); }

/** END WIDGETS **/
/** SINGLE POST **/
.post-container #page-title .title {
  padding: 20px 0 40px; }
  .post-container #page-title .title h1 {
    font-size: 45px; }

.post-container #page-title .photo {
  position: relative;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 20; }
  .post-container #page-title .photo:before, .post-container #page-title .photo:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1; }
  .post-container #page-title .photo:before {
    height: 15px;
    top: 0;
    background-color: #255684;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%); }
  .post-container #page-title .photo:after {
    height: 30px;
    bottom: 0;
    background-color: #255684;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); }

.post-content .content .subtitle {
  margin-bottom: 40px;
  font-size: 22px;
  color: #E0CC6B;
  font-weight: 700; }

.post-content .content .date {
  position: relative;
  padding-left: 34px;
  margin-bottom: 40px;
  color: #255684;
  line-height: 28px; }
  .post-content .content .date:before {
    content: '';
    width: 24px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/calendar-orange.svg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain; }

@media (min-width: 1200px) {
  .post-container #page-title {
    padding-left: 35%; }
  .post-container #page-title .title,
  .post-container #page-title #breadcrumb {
    padding-left: 20px; }
  .post-container #page-title .container {
    width: auto;
    max-width: 100%; }
  .post-container #page-title .photo {
    position: absolute;
    top: 220px;
    left: 0;
    width: 35%;
    height: 420px; }
    .post-container #page-title .photo:after {
      background-color: #fff; }
  .post-content {
    position: relative;
    padding-left: 35%; }
    .post-content .container {
      width: auto;
      max-width: 100%;
      padding: 0; }
    .post-content .content {
      max-width: 800px;
      padding-left: 35px; }
    .post-content .sidebar {
      position: absolute;
      top: 35%;
      left: 0;
      width: 35%;
      padding: 0 40px; }
      .post-content .sidebar .widget {
        max-width: 500px;
        margin: 0 auto; } }

@media (max-width: 1199px) {
  .post-container #page-title .photo:before {
    display: none; } }

@media (max-width: 767px) {
  .post-container #page-title .photo {
    height: 220px; } }

/** END SINGLE POST **/
/** TRIBE EVENTS **/
.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
  background-color: #255684; }
  .tribe-common .tribe-common-c-btn:hover, .tribe-common .tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:hover, .tribe-common a.tribe-common-c-btn:focus {
    background-color: #E0CC6B; }

.tribe-events .tribe-events-c-ical__link {
  border-color: #255684;
  color: #255684; }
  .tribe-events .tribe-events-c-ical__link:hover, .tribe-events .tribe-events-c-ical__link:focus {
    background-color: #255684; }

.tribe-common .tribe-common-c-svgicon {
  color: #255684; }

div.tribe-events-calendar-list {
  border-top: 1px solid rgba(112, 112, 112, 0.5); }

.tribe-events .tribe-events-calendar-list-nav {
  border: 0; }

.tribe-common .tribe-common-l-container {
  width: auto !important;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  min-height: auto !important; }

div.event-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 20px 15px 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5); }
  div.event-item .date {
    width: 90px;
    border-right: 1px solid rgba(112, 112, 112, 0.5);
    text-align: center; }
    div.event-item .date span {
      display: block;
      font-weight: 700;
      color: #255684;
      text-transform: uppercase;
      line-height: 1; }
      div.event-item .date span.month {
        font-size: 18px; }
      div.event-item .date span.day {
        font-size: 36px;
        color: #E0CC6B; }
  div.event-item .text {
    position: relative;
    width: calc(100% - 90px);
    padding-left: 25px; }
  div.event-item .title {
    margin-bottom: 7px;
    font-size: 21px;
    font-weight: 700; }
  div.event-item .address {
    position: relative;
    padding-left: 25px;
    color: #9D9FA1; }
    div.event-item .address:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 18px;
      height: 24px;
      background-image: url(../images/address-gray.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain; }
  div.event-item .button-arrow {
    position: absolute;
    color: #fff; }

@media (min-width: 992px) {
  div.event-item .text {
    padding-top: 5px;
    padding-right: 200px; }
  div.event-item .button-arrow {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); } }

@media (max-width: 991px) {
  div.event-item .text {
    padding-bottom: 60px; }
  div.event-item .button-arrow {
    bottom: 0;
    left: 25px; } }

@media (max-width: 575px) {
  div.event-item .date {
    width: 70px; }
  div.event-item .date span.day {
    font-size: 30px; }
  div.event-item .text {
    width: calc(100% - 70px);
    padding-left: 15px; }
  div.event-item .button-arrow {
    left: 15px; } }

/** END TRIBE EVENTS **/
/** EVENTS TEMPLATE **/
@media (min-width: 1200px) {
  .event-container .sidebar {
    padding-left: 30px; } }

@media (max-width: 991px) {
  .event-container .content {
    margin-bottom: 30px; } }

/** END EVENTS TEMPLATE **/
/** FAQS **/
div.faq-accordion div.card {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  margin: 0 0 30px;
  overflow: visible; }
  div.faq-accordion div.card div.card-header {
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 0; }
    div.faq-accordion div.card div.card-header button {
      display: block;
      position: relative;
      width: 100%;
      padding: 0;
      background-color: #255684;
      padding: 15px 60px 15px 20px;
      border: 0;
      color: #fff;
      font-weight: 700;
      text-align: left; }
      div.faq-accordion div.card div.card-header button:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 12px;
        background-image: url(../images/line-6-blue.svg);
        background-repeat: no-repeat;
        background-position: top left; }
      div.faq-accordion div.card div.card-header button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        width: 30px;
        height: 26px;
        background-image: url(../images/button-arrow-orange.svg);
        background-repeat: no-repeat;
        background-position: 0;
        background-size: contain;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: right .2s;
        -webkit-transition: right .2s; }
      div.faq-accordion div.card div.card-header button:hover:after {
        right: 15px; }
  div.faq-accordion div.card div.card-body {
    padding: 10 0 0; }

/** END FAQS **/
/** EXTRA **/
/** END EXTRA **/
