/** GENERAL **/
$color1: #405855;
$color2: #AC8D6C;
$color3: #EAE6E2;
$color4: #F2F1F0;

@-webkit-keyframes mouse-scroll {
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}

@-moz-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@-o-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

::-webkit-input-placeholder {
    color: $color2;
}

::-moz-placeholder {
    color: $color2;
}

:-ms-input-placeholder {
    color: $color2;
}

:-moz-placeholder {
    color: $color2;
}

body {
    font-family: "sofia-pro", sans-serif;
    font-size: 18px;
    color: #405855;
    background-color: $color4;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-weight: 500;
}

h1, .h1 {
    font-size: 100px;
}

h2, .h2 {
    font-size: 40px;
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 26px;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul.menu,
ul.menu ul,
ul.socials,
ul.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
}

%btn_arrow {
    content: '';
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
}

%btn_arrow_white {
    @extend %btn_arrow;
    background-image: url(../svg/polygon--white.svg);
}

%btn_arrow_color1 {
    @extend %btn_arrow;
    background-image: url(../svg/polygon--color1.svg);
}

%btn_arrow_color2 {
    @extend %btn_arrow;
    background-image: url(../svg/polygon--color2.svg);
}

%btn_arrow_down {
    transform: rotate(180deg);
}

%btn_arrow_right {
    transform: rotate(90deg);
}

%btn_arrow_left {
    transform: rotate(-90deg);
}

.text {
    &--color1 {
        color: $color1;
    }
    
    &--color2 {
        color: $color2;
    }
    
    &--color3 {
        color: $color3;
    }
    
    &--color4 {
        color: $color4;
    }
}

.bg {
    &--color1 {
        background-color: $color1;
    }
    
    &--color2 {
        background-color: $color2;
    }
    
    &--color3 {
        background-color: $color3;
    }
    
    &--color4 {
        background-color: $color4;
    }
    &--cover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 85vw;
        max-width: 85vw;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1635px;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 14px;
    }

    h2, .h2 {
        font-size: 24px;
    }

    h3, .h3 {
        font-size: 20px;
    }
}
/** END GENERAL **/

/* WP DEFAULT */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

@media (max-width: 575px) {
    .aligncenter, .alignright, .alignleft, .alignnone,
    .wp-caption.alignnone, .wp-caption.alignleft, .wp-caption.alignright,
    a img.alignright, a img.alignnone, a img.alignleft {
        display: block;
        float: none;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
/* END WP DEFAULT */

/** BUTTON **/
a, input, button {
    box-shadow: none;
    outline: none;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.btn {
    &.btn {
        &--border {
            min-width: 133px;
            padding: 5px 15px 8px;
            border: 1px solid transparent;
            border-radius: 25px;
            font-size: 18px;
        }
        &--color1 {
            border-color: $color1;
            color: $color1;
            &:hover,
            &:focus {
                background-color: $color1;
                color: #ffffff;
            }
        }
        &--color2 {
            border-color: $color2;
            color: $color2;
            &:hover,
            &:focus {
                background-color: $color2;
                color: #ffffff;
            }
        }
        &--color3 {
            border-color: $color3;
            color: $color3;
            &:hover,
            &:focus {
                background-color: $color3;
                color: $color1;
            }
        }
        &--color4 {
            border-color: $color4;
            color: $color4;
            &:hover,
            &:focus {
                background-color: $color4;
                color: $color1;
            }
        }
        &--white {
            border-color: #ffffff;
            color: #ffffff;
            &:hover,
            &:focus {
                background-color: $color2;
                border-color: $color2;
                color: #ffffff;
            }
        }
    }
}

.bg--color2 {
    .btn.btn--white {
        &:hover,
        &:focus {
            background-color: $color1;
            border-color: $color1;
        }
    }
}

@media (max-width: 575px) {
    .btn.btn--border {
        min-width: 116px;
        padding: 5px 15px;
        font-size: 16px;
    }
}
/** END BUTTON **/

/** FORM **/
form.searchform {
    input[type="text"] {
        padding: 15px 10px;
        border: 1px solid #AC8D6C;
        outline: none;
    }
}

form.searchform input[type="submit"],
div.gform_wrapper form input[type="submit"] {
    min-width: 157px;
    margin: 0 !important;
    border: 1px solid $color1;
    border-radius: 29px;
    padding: 0 20px;
    background-color: transparent;
    font-size: 25px;
    line-height: 56px;
    text-align: center;
    transition: all .2s;
    -webkit-transition: all .2s;
    &:hover,
    &:focus {
        background-color: $color1;
        color: $color3;
    }
}

div.gform_wrapper {
    margin: 0;
    form {
        input[type="text"],
        textarea {
            width: 100%;
            border: 0 !important;
            border-bottom: 1px solid #AC8D6C !important;
            padding: 15px 0 !important;
            margin: 0;
            background-color: transparent;
            font-size: 20px !important;
            outline: none;
        }
    }
    .gform_heading {
        margin: 0 0 60px;
        .gform_description {
            width: 100%;
            margin: 0;
            font-size: 40px;
            line-height: 50px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    ul.gform_fields {
        > li {
            width: 100% !important;
            max-width: 100% !important;
            margin: 0 0 30px !important;
            padding: 0 !important;
            background-color: transparent !important;
            border: 0 !important;
        }
    }
    div.validation_error {
        margin: 0 0 30px;
        padding: 0;
        border: 0;
        text-align: left;
    }
    div.gfield_description {
        padding: 5px 0 0 !important;
        font-size: 12px;
        font-weight: 500;
    }
    div.ginput_container,
    div.gform_footer {
        margin: 0 !important;
        padding: 0 !important;
    }
    div.gform_footer {
        text-align: right;
    }
}

@media (min-width: 768px) {
    div.gform_wrapper ul.gform_fields > li.gf_left_half,
    div.gform_wrapper ul.gform_fields > li.gf_right_half {
        width: 50% !important;
    }

    div.gform_wrapper ul.gform_fields > li.gf_left_half {
        padding-right: 8px !important;
    }

    div.gform_wrapper ul.gform_fields > li.gf_right_half {
        padding-left: 8px !important;
    }
}

@media (max-width: 767px) {
    div.gform_wrapper .gform_heading {
        margin-bottom: 30px;
    }

    div.gform_wrapper .gform_heading .gform_description {
        font-size: 26px;
        line-height: 30px;
    }
}

@media (max-width: 575px) {
    div.gform_wrapper form input[type="text"], 
    div.gform_wrapper form textarea {
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    div.gform_wrapper ul.gform_fields > li {
        margin-bottom: 20px !important;
    }
}
/** END FORM **/

/** HEADER **/
#site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
}

.site-header {
    &__topbar {
        position: relative;
        background-color: $color2;
        z-index: 10;
        div.container {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .col-7 {
            position: static;
        }
        a.phone {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            line-height: 1;
            white-space: nowrap;
        }
        a.btn {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 15px;
            width: 242px;
            background-color: $color1;
            border: 0;
            border-radius: 0 0 5px 5px;
            padding: 0 35px 0 10px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.08);
            font-size: 20px;
            color: #fff;
            line-height: 64px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            &:after {
                @extend %btn_arrow_white;
                @extend %btn_arrow_down;
                position: absolute;
                top: 50%;
                right: 30px;
                width: 15px;
                height: 13px;
                margin-top: -6.5px;
            }
        }
        button.toggle-menu {
            position: relative;
            width: 22px;
            height: 17px;
            border: 0;
            background-color: transparent;
            padding: 0;
            outline: none;
            span {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #FFFFFF;
                border-radius: 10px;
                transition: all .25s;
                -webkit-transition: all .25s;
            }
            &.collapsed {
                span {
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 50%;
                        margin-top: -1.5px;
                    }
                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
            }
            &:not(.collapsed) {
                span {
                    &:nth-child(1),
                    &:nth-child(3) {
                        top: 50%;
                        margin-top: -1.5px;
                    }
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        ul.menu {
            padding-bottom: 3px;
            > li {
                position: relative;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: uppercase;
                }
                &:not(:first-child) {
                    margin-left: 15px;
                    padding-left: 15px;
                    &:before {
                        content: '';
                        width: 2px;
                        height: 12px;
                        position: absolute;
                        top: 9px;
                        left: -1px;
                        background-color: #fff;
                    }
                }
            }
        }
        ul.socials {
            > li {
                margin-left: 25px;
                a {
                    display: inline-block;
                    img {
                        display: block;
                    }
                }
            }
        }
    }
    &__main {
        position: relative;
        transition: all .25s;
        -webkit-transition: all .25s;
        z-index: 5;
        a.logo {
            position: relative;
            display: inline-block;
            z-index: 5;
            img {
                transition: all .25s;
                -webkit-transition: all .25s;
            }
        }
    }
}

#site-menu {
    ul.menu {
        li {
            position: relative;
            text-align: right;
            a {
                position: relative;
                display: inline-block;
                padding-right: 25px;
                color: #fff;
                text-transform: uppercase;
                transition: all .25s;
                -webkit-transition: all .25s;
                &:after {
                    @extend %btn_arrow_white;
                    width: 14px;
                    height: 13px;
                    position: absolute;
                    top: 10px;
                    right: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.is-sticky {
    #site-header {
        background-color: $color1;
    }

    .site-header__main {
        padding-top: 20px;
        padding-bottom: 20px;
        a.logo img {
            width: 182px;
            height: auto;
        }
    }
}

@media (min-width: 992px) {
    .site-header__topbar div.container {
        padding-right: 297px;
    }

    .site-header__main {
        padding-top: 65px;
    }

    #site-menu {
        div.container {
            width: auto;
            padding: 0;
        }
        ul.menu {
            li {
                a {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            > li {
                padding: 15px 0 15px 50px;
                > a {
                    padding-right: 0;
                    &:after {
                        display: none;
                    }
                }
                &:hover {
                    > a {
                        color: $color2;
                    }
                    > ul.sub-menu {
                        margin-top: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        ul.sub-menu {
            position: absolute;
            top: 100%;
            right: 0;
            min-width: 420px;
            background-color: $color2;
            padding: 80px 30px;
            margin-top: 30px;
            opacity: 0;
            visibility: hidden;
            transition: all .25s;
            -webkit-transition: all .25s;
            > li:not(:last-child) {
                margin-bottom: 60px;
            }
            a:hover {
                opacity: 0.85;
            }
            ul {
                display: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .site-header__topbar a.btn {
        right: 60px;
    }

    .site-header__main {
        padding-top: 45px;
    }

    .site-header__main .col-lg-8 {
        position: static;
    }

    #site-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-color: $color2;
        z-index: 10;
        div.container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        ul.menu {
            li {
                margin-bottom: 20px;
                a {
                    display: block;
                    font-size: 14px;
                    &:after {
                        width: 11px;
                        height: 10px;
                        top: 5px;
                    }
                    &:hover {
                        opacity: 0.85;
                    }
                }
                ul {
                    margin-top: 20px;
                }
                &.menu-item-has-children {
                    > a:after {
                        opacity: 0.11;
                    }
                }
            }
            > li {
                > a {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .site-header__topbar div.container {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .site-header__topbar a.phone {
        font-size: 14px;
    }

    .site-header__topbar a.btn {
        width: 128px;
        padding-right: 25px;
        font-size: 14px;
        line-height: 44px;
    }

    .site-header__topbar a.btn:after {
        width: 11px;
        height: 10px;
        right: 12px;
        margin-top: -5px;
    }

    .site-header__main a.logo img {
        width: 182px;
        height: auto;
    }
}

@media (max-width: 575px) {
}
/** END HEADER **/

/** FOOTER **/
#site-footer {
    position: relative;
    background-color: $color1;
    color: #fff;
    a {
        color: $color2;
        transition: all .2s;
        -webkit-transition: all .2s;
    }
    div.container {
        position: relative;
        padding-top: 100px;
        padding-bottom: 80px;
        &:before {
            content: '';
            position: absolute;
            top: -105px;
            right: 15px;
            width: 200px;
            height: 170px;
            background-image: url(../images/bg-logo-shape.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    .widgets {
        margin-bottom: 40px;
    }
    .widget {
        ul.menu {
            margin-bottom: 15px;
            li {
                a {
                    display: inline-block;
                    color: #fff;
                    text-transform: uppercase;
                    &:hover {
                        color: $color2;
                    }
                }
                &:not(:first-child),
                ul {
                    margin-top: 15px;
                }
            }
            > li {
                > a {
                    font-weight: 700;
                }
            }
        }
    }
    ul.socials {
        margin-bottom: 40px;
        li {
            a {
                opacity: 0.6;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    ul.logos {
        li {
            img {
                opacity: 0.6;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    ul.copyright {
        li {
            position: relative;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            &:not(:last-child) {
                margin-right: 15px;
                padding-right: 15px;
                &:after {
                    content: '';
                    width: 2px;
                    height: 12px;
                    background-color: #fff;
                    position: absolute;
                    top: 9px;
                    right: -1px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #site-footer ul.socials li {
        margin-left: 20px;
    }
}

@media (min-width: 992px) {
    #site-footer .widget {
        margin-right: 50px;
    }

    #site-footer ul.logos li {
        padding-left: 40px;
    }
}

@media (max-width: 991px) {
    #site-footer ul.socials li {
        margin: 0 10px;
    }

    #site-footer ul.logos {
        padding: 20px 0 45px;
    }

    #site-footer ul.logos li {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    #site-footer div.container {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    #site-footer div.container:before {
        width: 120px;
        height: 102px;
        top: -60px;
    }

    #site-footer .widget ul.menu {
        text-align: center;
    }
}

@media (max-width: 575px) {
    #site-footer ul.logos li {
        padding: 0 10px;
        width: 33.333%;
        text-align: center;
    }

    #site-footer ul.copyright li:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
    }

    #site-footer ul.copyright li:not(:last-child):after {
        width: 1px;
        height: 10px;
        top: 7px;
    }
}
/** END FOOTER **/

/** WELCOME SECTION **/
#welcome {
    position: relative;
    height: 100vh;
    z-index: 200;
    .welcome {
        &__slider {
            height: 100%;
            z-index: 1;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 65%;
                background-image: url(../svg/logo-border-shape.svg);
                background-repeat: no-repeat;
                background-position: center right;
            }
            .slick-list,
            .slick-track,
            .slick-slide {
                height: 100%;
            }
            .slick-slide {
                position: relative;
                display: flex;
                align-items: center;
                padding-top: 115px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color1;
                    opacity: 0.75;
                    z-index: 5;
                }
            }
        }
        &__heading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 115px;
            font-size: 26px;
            z-index: 10;
            h1, h2 {
                font-size: 70px;
                margin-bottom: 15px;
            }
            p {
                line-height: 32px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__video {
            position: relative;
            display: block;
            width: 398px;
            max-width: 100%;
            color: #fff;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                right: -10px;
                bottom: -50px;
                width: 84px;
                height: 71px;
                background-image: url(../svg/logo-icon--color2.svg);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
            }
            span {
                position: relative;
                display: block;
                width: 280px;
                padding-left: 64px;
                margin-bottom: 24px;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                }
                &:before {
                    width: 50px;
                    height: 50px;
                    left: 0;
                    border: 3px solid $color2;
                    border-radius: 50%;
                    margin-top: -25px;
                }
                &:after {
                    @extend %btn_arrow_color2;
                    width: 21px;
                    height: 18px;
                    left: 16px;
                    margin-top: -9px;
                    transform: rotate(90deg);
                }
            }
            div.video-wrapper {
                border-radius: 10px;
                overflow: hidden;
            }
        }
        &__scroll {
            position: absolute;
            bottom: 60px;
            left: 0;
            width: 100%;
            z-index: 20;
            a {
                display: inline-block;
                position: relative;
                font-size: 20px;
                font-weight: 500;
                color: #FFFFFF;
                span {
                    display: block;
                    &.text {
                        margin-bottom: 20px;
                    }
                    &.arrow {
                        display: block;
                        margin-bottom: 6px;
                        animation-direction: alternate;
                        animation: mouse-scroll 2s infinite;
                        img {
                            display: block;
                            width: 16px;
                            height: auto;
                            transform: rotate(180deg);
                        }
                        &:nth-child(2) {
                            animation-delay: .2s;
                        }
                        &:nth-child(3) {
                            animation-delay: .4s;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #welcome {
        height: 800px;
    }

    #welcome .welcome__slider:after {
        display: none;
    }

    #welcome .welcome__heading {
        height: auto;
        bottom: -18px;
    }

    #welcome .welcome__video {
        margin-top: 70px;
    }

    #welcome .welcome__video:after {
        width: 66px;
        height: 56px;
        right: 0;
        bottom: -30px;
    }
}

@media (max-width: 575px) {
    #welcome .welcome__heading {
        font-size: 20px;
        h1, h2 {
            font-size: 60px;
        }
        p {
            line-height: 30px;
        }
    }
}
/** END WELCOME SECTION **/

/** EXPERTISE SECTION **/
#expertise {
    position: relative;
    padding-top: 150px;
    z-index: 100;
    .expertise-section {
        position: relative;
    }
    .expertise-box {
        position: relative;
        padding: 80px 45px 160px;
        z-index: 10;
        p.h3 {
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        a.btn {
            position: absolute;
            bottom: 80px;
            left: 45px;
        }
        &.bg--color2 {
            background-color: rgba($color: $color2, $alpha: 0.95);
        }
    }
    .expertise-photo {
        position: relative;
        z-index: 5;
        &.bg--cover {
            position: absolute;
        }
        &:not(.bg--cover) {
            padding-bottom: 56.25%;
            height: 0;
            > img {
                position: absolute;
                top: 0;    
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 576px) {
    #expertise .expertise-box {
        font-size: 20px;
    }
    
    #expertise .expertise-box p:not([classs]) {
        line-height: 24px;
    }
}

@media (min-width: 768px) {
    #expertise .expertise-section--one .expertise-box {
        height: 100%;
    }

    #expertise .expertise-section--two {
        background-color: $color1;
    }

    #expertise .expertise-heading {
        height: 420px;
        padding: 0 45px;
    }

    #expertise .expertise-photo.bg--cover {
        top: 0;
        width: 50%;
        height: 100%;
    }

    #expertise .expertise-photo.expertise-photo--one {
        left: 50%;
    }

    #expertise .expertise-photo.expertise-photo--two {
        left: 0;
    }
}

@media (min-width: 1200px) {
    #expertise .expertise-section--two {
        padding-bottom: 0.05px;
    }

    #expertise .expertise-section--two .expertise-section__inner {
        position: relative;
        margin-bottom: -100px;
    }
}

@media (max-width: 767px) {
    #expertise .expertise-heading {
        margin-bottom: 115px;
    }

    #expertise .expertise-photo.expertise-photo--one {
        top: 85px;
        right: 0;
    }

    #expertise .expertise-photo.expertise-photo--two {
        left: 0;
        right: 0;
    }

    #expertise .expertise-box {
        padding: 70px 30px 120px;
        text-align: center;
    }

    #expertise .expertise-box a.btn {
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    #expertise .expertise-box.expertise-box--three {
        margin-bottom: -70px;
    }
}

@media (max-width: 575px) {
    #expertise {
        padding-top: 130px;
    }

    #expertise .expertise-box {
        padding: 60px 20px 120px;
    }
}
/** END EXPERTISE SECTION **/

/** TEAM SECTION **/
#team {
    position: relative;
    overflow: hidden;
    .team-heading {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .team-slider {
        z-index: 1;
        .slick-slide {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .team-details {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: 10;
        .team-details {
            &__item {
                position: absolute;
                top: 0;
            }
            &__toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 162px;
                height: 162px;
                border-radius: 50%;
                font-size: 30px;
                font-weight: 500;
                text-transform: uppercase;
            }
            &__text {
                width: 320px;
                position: absolute;
                top: -180px;
                padding: 60px 30px;
                color: #fff;
                opacity: 0;
                visibility: hidden;
                p.h3 {
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                .btn-link {
                    position: relative;
                    display: inline-block;
                    padding-right: 35px;
                    margin-top: 20px;
                    color: inherit;
                    font-weight: 500;
                    &:after {
                        @extend %btn_arrow_white;
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -5px;
                        transform: rotate(90deg);
                    }
                }
            }
            &--chris {
                left: 20%;
                .team-details__toggle {
                    border: 1px solid $color2;
                    color: $color2;
                }
                .team-details__text {
                    right: 0;
                    border-radius: 28px 28px 0 28px;
                }
            }
            &--oscar {
                right: 20%;
                .team-details__toggle {
                    border: 1px solid $color1;
                    color: $color1;
                }
                .team-details__text {
                    left: 0;
                    border-radius: 28px 28px 28px 0;
                }
            }
        }
    }
}

#team-modal {
    .modal-content {
        border: 0;
        border-radius: 0;
    }
    .modal-body {
        padding: 0;
        button.close {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 32px;
            color: #fff;
            text-shadow: none;
            opacity: 1;
        }
    }
    .team-details__toggle {
        display: none;
    }
    .team-details__text {
        padding: 60px 30px;
        color: #fff;
        p.h3 {
            margin-bottom: 20px;
        }
        .btn-link {
            position: relative;
            display: inline-block;
            padding-right: 35px;
            margin-top: 20px;
            color: inherit;
            font-weight: 500;
            &:after {
                @extend %btn_arrow_white;
                width: 16px;
                height: 14px;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -7px;
                transform: rotate(90deg);
            }
        }
    }
}

@media (min-width: 992px) {
    #team .team-details .active .team-details__text {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1200px) {
    #team .team-heading {
        top: 200px;
    }

    #team .team-details .team-details__text {
        width: 367px;
        padding: 80px 40px;
        font-size: 20px;
        p.h3 {
            margin-bottom: 35px;
        }
        p:not([class]) {
            line-height: 25px;
        }
    }
}

@media (max-width: 991px) {
    #team .team-details {
        top: 55%;
    }

    #team .team-details .team-details--chris {
        top: 73px;
        left: 43%;
    }

    #team .team-details .team-details--oscar {
        right: 43%;
    }

    #team .team-details .team-details__toggle {
        width: 73px;
        height: 73px;
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    #team .team-heading {
        top: 80px;
    }

    #team .team-details {
        top: 50%;
    }

    #team .team-details .team-details--chris {
        top: 73px;
        left: 32%;
    }

    #team .team-details .team-details--oscar {
        right: 32%;
    }
}

@media (max-width: 575px) {
    #team-modal .team-details__text .btn-link {
        margin-top: 10px;
        padding-right: 25px;
    }

    #team-modal .team-details__text .btn-link:after {
        width: 12px;
        height: 10px;
        margin-top: -5px;
    }
}
/** END TEAM SECTION **/

/** CTA SECTION **/
#cta {
    position: relative;
    border-top: 30px solid $color2;
    background-color: $color1;
    padding: 115px 0 145px;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 90px;
        width: 723px;
        height: 100%;
        background-image: url(../images/bg-logo-shape.png);
        background-repeat: no-repeat;
        background-position: 0;
        z-index: 1;
    }
    div.container {
        position: relative;
        z-index: 10;
    }
    .btn {
        position: relative;
        min-width: 587px;
        padding: 26px 100px 28px 60px;
        border-radius: 79px;
        font-size: 25px;
        font-weight: 500;
        color: $color3;
        text-align: left;
        &:after {
            @extend %btn_arrow_color2;
            @extend %btn_arrow_right;
            width: 20px;
            height: 23px;
            position: absolute;
            top: 50%;
            right: 65px;
            margin-top: -11.5px;
        }
        &:hover,
        &:focus {
            &:after {
                @extend %btn_arrow_color1;
            }
        }
    }
}

@media (max-width: 1199px) {
    #cta:after {
        width: 400px;
        height: 340px;
        top: auto;
        right: -90px;
        bottom: -90px;
        background-size: contain;
    }
}

@media (max-width: 767px) {
    #cta {
        border-top-width: 10px;
    }

    #cta:after {
        width: 200px;
        height: 170px;
        right: -30px;
        bottom: -60px;
    }

    #cta .btn {
        min-width: 100%;
        width: 100%;
        padding-left: 35px;
    }
}

@media (max-width: 575px) {
    #cta {
        padding: 45px 0 80px;
    }

    #cta:after {
        width: 120px;
        height: 102px;
        right: -30px;
        bottom: -35px;
    }

    #cta .btn {
        font-size: 14px;
        padding: 15px 50px 15px 25px;
    }

    #cta .btn:after {
        width: 13px;
        height: 12px;
        right: 28px;
        margin-top: -6px;
    }
}
/** END CTA SECTION **/

/** TESTIMONIALS SECTION **/
#testimonials {
    background-color: $color3;
    padding: 110px 0 0;
    h2 {
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    .testimonial-slider {
        margin-bottom: 110px;
        .slick-list {
            position: relative;
            z-index: 5;
        }
        .slick-track {
            display: flex;
            &:before,
            &:after {
                display: none;
            }
            .slick-slide {
                position: relative;
                padding-bottom: 125px;
                height: 100%;
            }
        }
        .testimonial-slide__text {
            margin-bottom: 40px;
            color: #707070;
            font-style: italic;
            font-weight: 600;
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .testimonial-slide__author {
            position: absolute;
            bottom: 0;
            color: #707070;
            img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                object-fit: cover;
            }
            p {
                line-height: 25px;
                margin-bottom: 0;
            }
        }
        button.slick-arrow {
            position: absolute;
            width: 17px;
            height: 15px;
            border: 0;
            padding: 0;
            background-color: transparent;
            text-indent: -999px;
            overflow: hidden;
            outline: none;
            z-index: 20;
            &:before {
                @extend %btn_arrow_color2;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &.slick-prev {
                &:before {
                    @extend %btn_arrow_left;
                }
            }
            &.slick-next {
                &:before {
                    @extend %btn_arrow_right;
                }
            }
        }
        ul.slick-dots {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            padding: 0 25px;
            z-index: 10;
            li {
                padding: 0 10px;
                button {
                    border: 0;
                    background-color: transparent;
                    padding: 0;
                    font-size: 18px;
                    color: $color2;
                    outline: none;
                }
                &.slick-active {
                    button {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    ul.testimonial-ratings {
        li {
            margin-bottom: 24px;
            text-align: center;
        }
    }
}

@media (min-width: 576px) {
    #testimonials .testimonial-slider .slick-track .slick-slide {
        padding-bottom: 170px;
    }

    #testimonials .testimonial-slider .testimonial-slide__text {
        margin-bottom: 85px;
        font-size: 25px;
    }

    #testimonials .testimonial-slider .testimonial-slide__text p {
        line-height: 30px;
    }

    #testimonials .testimonial-slider .testimonial-slide__author img {
        width: 110px;
        height: 110px;
    }
}

@media (min-width: 768px) {
    #testimonials .testimonial-slider .slick-track .slick-slide {
        padding-bottom: 110px;
    }

    #testimonials .testimonial-slider .testimonial-slide__author {
        height: 110px;
        left: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-left: 138px;
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    #testimonials .testimonial-slider ul.slick-dots {
        right: 0;
        bottom: 40px;
    }

    #testimonials .testimonial-slider button.slick-arrow {
        bottom: 45px;
    }

    #testimonials .testimonial-slider button.slick-arrow.slick-next {
        right: 0;
        left: auto !important;
    }
}

@media (max-width: 767px) {
    #testimonials {
        padding: 60px 0;
    }

    #testimonials h2 {
        text-align: center;
    }
    
    #testimonials .testimonial-slider ul.slick-dots {
        right: 0;
        bottom: -40px;
        left: 0;
        justify-content: center;
    }

    #testimonials .testimonial-slider button.slick-arrow {
        display: none !important;
    }

    #testimonials .testimonial-slider .testimonial-slide__text {
        text-align: center;
    }

    #testimonials .testimonial-slider .testimonial-slide__author {
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        img {
            margin: 0 auto 10px;
        }
    }

    #testimonials ul.testimonial-ratings {
        display: flex;
        flex-wrap: wrap;
    }

    #testimonials ul.testimonial-ratings li {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 0;
    }
}
/** END TESTIMONIALS SECTION **/

/** INSTAGRAM SECTION **/
#instagram {
    padding: 110px 0 160px;
    h2 {
        margin: 0 0 100px;
        font-weight: 400;
        text-transform: none;
        &:before {
            content: '';
            display: block;
            width: 34px;
            height: 34px;
            margin: 0 auto 2px;
            background-image: url(../svg/instagram--color1.svg);
            background-repeat: no-repeat;
            background-position: 0;
            background-size: contain;
        }
    }
    div.container {
        max-width: 1100px;
    }
}
/** END INSTAGRAM SECTION **/

/** quick-contact **/
#quick-contact {
    .modal-body {
        background-color: #EAE6E2;
        padding: 120px 120px 60px;
    }
    button.close {
        position: absolute;
        top: 60px;
        right: 120px;
        border: 0;
        padding: 23.5px 0 0;
        background-color: transparent;
        opacity: 1;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: 400;
        text-shadow: none;
        &:before,
        &:after {
            content: '';
            width: 27px;
            height: 4px;
            position: absolute;
            top: 0;
            left: 50%;
            background-color: #405855;
            border-radius: 10px;
            margin-left: -13.5px;
            transition: background-color .2s;
            -webkit-transition: background-color .2s;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            &:before,
            &:after {
                background-color: #AC8D6C;
            }
        }
    }
}

@media (min-width: 1200px) {
    #quick-contact .modal-body{
        padding: 140px 200px 70px;
    }

    #quick-contact button.close {
        right: 140px;
    }
}

@media (max-width: 767px) {
    #quick-contact .modal-body {
        padding: 90px 30px 60px;
    }

    #quick-contact button.close {
        top: 35px;
        right: 30px;
    }
}
/** END quick-contact **/

/** page-title **/
#page-title {
    position: relative;
    z-index: 10;
    .page-title {
        &__inner {
            position: relative;
            display: flex;
            align-items: flex-end;
            height: 460px;
            background-color: $color1;
            padding-bottom: 70px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &:before {
                background-color: rgba($color: $color1, $alpha: 0.7);
                z-index: 1;
            }
            &:after {
                background-image: url(../svg/logo-border-shape.svg);
                background-repeat: no-repeat;
                background-position: -200px -320px;
                z-index: 5;
            }
            h1 {
                color: $color2;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            div.container {
                position: relative;
                z-index: 10;
            }
            &.has-photo {
                h1 {
                    color: #fff;
                }
            }
        }
        &__breadcrumbs {
            padding-top: 15px;
        }
    }
}

.rank-math-breadcrumb {
    p {
        margin-bottom: 0;
    }
    a, span {
        display: inline-block;
        font-size: 13px;
        color: $color2;
        text-transform: uppercase;
    }
    span.separator {
        display: inline-block;
        width: 1px;
        height: 10px;
        background-color: $color2;
        margin: 0 6px;
        text-indent: -999px;
        overflow: hidden;
    }
    span.last {
        font-weight: 700;
    }
}

@media (max-width: 767px) {
    #page-title .page-title__inner {
        height: 320px;
        padding-bottom: 30px;
    }
}
/** END page-title **/

/** faqs **/
.faqs {
    .faq-item {
        position: relative;
        padding: 22px 0 0;
        margin-bottom: 40px;
        &:before {
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
            background-color: $color2;
        }
        .faq-item__title {
            position: relative;
            padding-right: 80px;
            color: $color2;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transition: opacity .2s;
                -webkit-transition: opacity .2s;
            }
            &:before {
                width: 17px;
                height: 5px;
                right: 20px;
                margin-top: -2.5px;
                border-radius: 10px;
                background-color: #405855;
                opacity: 0;
            }
            &:after {
                @extend %btn_arrow_color2;
                @extend %btn_arrow_down;
                right: 20px;
                width: 17px;
                height: 15px;
                margin-top: -7.5px;
            }
            a {
                display: block;
                color: inherit;
            }
        }
        .faq-item__text {
            max-width: 860px;
            p:last-child {
                margin-bottom: 0;
            }
        }
        &.active {
            &:before {
                background-color: $color1;
            }
            .faq-item__title {
                color: $color1;
                &:before {
                    opacity: 1;
                }
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}
/** END faqs **/

/** CONTACT TEMPLATE **/
body.page-template-page_contact #page-content {
    min-height: 467px;
    padding-bottom: 30px;
}

div.contact-map-container {
    position: relative;
    width: 100%;
    height: 400px;
}

#contact-map {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    body.page-template-page_contact #page-content .entry-content {
        padding-right: 50%;
    }

    div.contact-map-container {
        position: absolute;
        top: -115px;
        right: 0;
        width: 50%;
        height: 552px;
    }
}

@media (max-width: 991px) {
    body.page-template-page_contact #page-content {
        padding-bottom: 0;
    }

    div.contact-map-container {
        padding-top: 40px;
    }
}
/** END CONTACT TEMPLATE **/

/** BLOG TEMPLATE **/
.blog-template {
    padding-top: 275px;
    background-color: $color1;
    background-image: url(../svg/logo-border-shape.svg);
    background-repeat: no-repeat;
    background-position: -100px top;
    background-size: 90% auto;
}

.blog-template + #site-footer {
    border-top: 1px solid $color2;
    div.container:before {
        display: none;
    }
}

.blog-header {
    margin-bottom: 100px;
    h1 {
        margin-bottom: 5px;
        color: $color2;
        text-transform: uppercase;
    }
}

.post-item {
    margin-bottom: 80px;
    p.date {
        margin-bottom: 8px;
    }
    p.title {
        margin-bottom: 40px;
        color: #fff;
        font-weight: 400;
        a {
            color: inherit;
        }
    }
    a.btn {
        color: #fff;
        &:hover,
        &:focus {
            background-color: $color2;
            border-color: $color2;
            color: #fff;
        }
    }
    .post-item__photo {
        display: block;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        img.wp-post-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .post-item__text {
        padding: 30px 20px 0;
    }
    &.post-item {
        &--inline {
        }
        &--stack {
        }
    }
}

.post-title {
    max-width: 900px;
    margin: 0 auto 190px;
    h1 {
        margin: 0;
        color: #fff;
        font-weight: 400;
    }
}

.post-content {
    background-color: $color4;
    padding: 0.1px 0 100px;
    .post-photo {
        position: relative;
        max-width: 750px;
        padding-bottom: 56.25%;
        height: 0;
        margin: -130px auto 60px;
        overflow: hidden;
        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .entry-content {
        max-width: 1088px;
        margin: 0 auto;
        ul:not([class]) li:before {
            position: relative;
            top: auto;
            left: auto;
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
        }
    }
}

@media (min-width: 768px) {
    .post-item.post-item--inline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        .post-item__photo {
            width: 50%;
        }
        .post-item__text {
            width: 50%;
            padding: 40px 0 0 40px;
        }
    }
}

@media (min-width: 992px) {
    .post-item.post-item--inline {
        .post-item__photo {
            height: 510px;
            padding-bottom: 0;
        }
        .post-item__text {
            padding: 70px 0 0 70px;
        }
    }

    .post-content .post-photo {
        height: 510px;
        padding: 0;
    }
}

@media (max-width: 575px) {
    .blog-template {
        padding-top: 220px;
    }
}
/** END BLOG TEMPLATE **/

/** side-photo **/
#side-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    #side-photo {
        position: absolute;
        top: -210px;
        left: 0;
        width: 35%;
        height: 900px;
    }
}
/** END side-photo **/

/** pagination **/
nav.pagination {
    display: block;
    border-radius: 0;
    margin: 0;
    padding: 0 0 80px;
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span, a {
            display: inline-block;
            margin: 0 10px;
            color: $color2;
        }
    }
}
/** END pagination **/

/** ENTRY CONTENT **/
#page-content {
    position: relative;
    padding: 100px 0;
    z-index: 20;
}

.entry-content {
    h2, h3 {
        margin-bottom: 20px;
        color: $color2;
    }
    p {
       margin-bottom: 20px; 
    }
    a:not([class]) {
        color: $color2;
    }
    ul:not([class]) {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        li {
            position: relative;
            padding: 0 0 10px 30px;
            &:before {
                content: '';
                width: 5px;
                height: 5px;
                position: absolute;
                top: 13px;
                left: 0;
                background-color: $color2;
                border-radius: 50%;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
/** END ENTRY CONTENT **/

/** MODAL **/
.modal .modal-dialog-aside { width: 1090px; max-width:80%; height: 100%; margin: 0; transform: translate(0); transition: transform .2s; }
.modal .modal-dialog-aside .modal-content {  height: inherit; border:0; border-radius: 0; }
.modal .modal-dialog-aside .modal-content .modal-body { overflow-y: auto }
.modal.fixed-left .modal-dialog-aside { margin-left:auto; transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside { margin-right:auto; transform: translateX(-100%); }
.modal.show .modal-dialog-aside { transform: translateX(0); }
/** END MODAL **/

/** EXTRA **/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    video, iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.mfp-bg,
.modal-backdrop {
    background-color: #405855;
}

body.page-template-page_contact #site-footer div.container:before,
body.page-template-page_home #site-footer div.container:before {
    display: none;
}

#sb_instagram #sbi_load .sbi_load_btn {
    background-color: $color1;
}

#sb_instagram .sbi_follow_btn a {
    background: $color2;
    box-shadow: none !important;
    &:hover,
    &:focus {
        background: $color2;
    }
}
/** END EXTRA **/