/** FILTER PROJECTS **/
#filter-projects {
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      color: #fcb11e;
      margin: 0 9px 9px 0;
      border: 1px solid #fcb11e;
      border-radius: 50px;
      padding: 7px 15px;
      font-weight: 700;
      cursor: pointer;
      transition: all .25s;
      -webkit-transition: all .25s;
      &:hover,
      &.active {
        background-color: #fcb11e;
        color: #fff;
      }
    }
  }
  form {
    position: relative;
    width: 100%;
    input[type="text"] {
      border-radius: 8px;
    }
    button {
      position: absolute;
      top: 50%;
      right: 15px;
      padding: 0;
      border: 0;
      background-color: transparent;
      font-size: 16px;
      color: #fcb11e;
      outline: none;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
  }
}

@media (min-width: 768px) {
  #filter-projects {
  }

  #filter-projects ul {
  }

  #filter-projects form {
    width: 180px;
  }
}

@media (max-width: 767px) {
  #filter-projects ul li {
    margin-bottom: 10px;
  }
}
/** END FILTER PROJECTS **/

/** LIST PROJECTS **/
#list-projects {
  &.loading {
    opacity: 0.7;
    cursor: wait;
  }
}

.project-item {
  margin-bottom: 20px;
  div.inner {
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.08);
    padding: 10px 10px 10px 107px;
  }
  img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 72px;
    height: 72px;
    object-fit: cover;
  }
  p {
    margin: 0 0 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &.title {
      font-size: 16px;
      font-weight: 700;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &.socials {
      li {
        a {
          display: inline-block;
          background-color: #f6f6f6;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          line-height: 26px;
          text-align: center;
        }
      }
    }
    &.meta {
      li {
        font-size: 12px;
      }
    }
  }
  span.badge {
    display: inline-block;
    background-color: #fcb11e;
    margin-bottom: 5px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
  }
}

@media (min-width: 576px) {
  .list-projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .project-item {
    width: 50%;
    padding: 0 10px;
  }
}

@media (min-width: 768px) { 
}

@media (min-width: 992px) {
  .project-item {
    width: 33.33%;
  }
}

@media (max-width: 575px) {
  .project-item img {
    width: 60px;
    height: 60px;
  }

  .project-item div.inner {
    padding-left: 90px;
  }
}
/** END LIST PROJECTS **/

/** PROJECT CONTENT **/
body.elementor-page-152 .jeg_content,
body.single-project .jeg_content {
  padding-top: 50px;
  background-color: #F6F6F6;
}

#project-header,
#project-content .block {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.08);
  padding: 20px 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

#project-header {
  padding-bottom: 0;
  .brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    img {
      display: inline-block;
      width: 40px;
      height: auto;
      margin-right: 15px;
    }
    p {
      margin: 0;
      font-size: 26px;
      font-weight: 700;
    }
  }
  ul.socials {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px;
    li {
      margin-right: 15px;
    }
  }
  ul.tab-nav {
    li {
      a {
        display: block;
        padding: 10px 0;
        border-bottom: 2px solid transparent;
        font-size: 16px;
        font-weight: 700;
        &.active {
          border-bottom-color: #fcb11e;
        }
      }
    }
  }
}

#project-content {
  .tab-content {
    display: none;
    &.active {
      display: block;
    }
  }
  .block {
    .heading {
      position: relative;
      margin: 0 0 20px;
      font-weight: 700;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #fcb11e;
      }
      span {
        position: relative;
        background-color: #fff;
        padding-right: 20px;
      }
    }
    &.research-block {
      h3 {
        font-weight: 700;
        margin: 0 0 5px;
      }
      p.category {
        position: relative;
        margin: 0 0 15px;
        font-size: 12px;
        font-weight: 700;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: #F6F6F6;
        }
        span {
          position: relative;
          background-color: #F6F6F6;
          padding: 5px 15px;
          border-radius: 6px;
        }
      }
      ul.meta {
        margin: 0 0 20px;
        li {
          font-size: 12px;
        }
      }
      button.more {
        border: 0;
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
      }
      .inner {
        &:not(.show) {
          position: relative;
          height: 320px;
          overflow: hidden;
          &:after {
            content: '';
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 95%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
          }
        }
      }
    }
  }
  .sidebar {
    ul.menu {
      li {
        padding: 6px 0;
        border-bottom: 1px solid #F6F6F6;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  #project-header ul.tab-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  #project-header ul.tab-nav li {
    flex: 1;
  }

  #project-header ul.tab-nav li a {
    text-align: center;
  }
}

@media (min-width: 992px) {
  #project-content {
    .sidebar-content {
      display: flex;
      flex-wrap: wrap;
      .sidebar {
        width: 33.33%;
        padding-right: 20px;
      }
      .content {
        width: 66.66%;
      }
    }
  }
}

@media (max-width: 767px) {
  #project-header ul.tab-nav li a {
    font-size: 14px;
  }
}
/** END PROJECT CONTENT **/

/** COINGECKO WIDGET **/
div.cg-container {
  border-color: transparent !important;
}
/** END COINGECKO WIDGET **/

/** Yield Farming **/
.yf-list {
	.yf-list {
		&__head {
			display: flex;
			flex-wrap: wrap;
			background-color: #191818;
      border-radius: 5px;
			padding: 10px 10px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: 600;
      color: #fcb11e;
		}
		&__items {
		}
	}
	.yf-item {
		display: flex;
		flex-wrap: wrap;
    align-items: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0px 3px 5px rgb(0 0 0 / 8%);
		padding: 10px 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid transparent;
		transition: .25s;
		&__name {
			width: 30%;
			padding-right: 10px;
      img {
        width: 30px;
        height: auto;
        margin-right: 10px;
      }
      span.badge {
        display: inline-block;
        background-color: #fcb11e;
        margin-left: 5px;
        padding: 0 10px;
        border-radius: 10px;
        font-size: 12px;
        color: #fff;
        line-height: 18px;
      }
		}
		&__symbols {
			width: 15%;
			padding-right: 10px;
		}
		&__website {
			width: 15%;
			padding-right: 10px;
		}
		&__token {
			width: 25%;
			padding-right: 10px;
		}
		&__date {
			width: 15%;
		}
		&:hover {
			border-bottom-color: #191818;
			transform: translateY(2px);
		}
    a.button {
      height: auto;
      padding: 0 10px;
      line-height: 30px;
    }
	}

	@media (max-width: 991px) {
		.yf-item {
			&__symbols,
			&__token {
				display: none;
			}
			&__name {
				width: 60%;
			}
			&__website,
			&__date {
				width: 20%;
			}
		}
	}

	@media (max-width: 575px) {
		.yf-item {
			&__date {
				display: none;
			}
			&__name {
				width: 75%;
			}
			&__website {
				width: 25%;
			}
		}
	}
}
/** END Yield Farming **/