/** GENERAL **/
$color_teal: #3e9f9f;
$color_red: #f03600;

@keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

::-webkit-input-placeholder {
	color: #101820;
}

::-moz-placeholder {
	color: #101820;
}

:-ms-input-placeholder {
	color: #101820;
}

:-moz-placeholder {
	color: #101820;
}

body {
	font-family: "canada-type-gibson",sans-serif;
	font-weight: 300;
	color: #101820;
	font-size: 17px;
}

h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 600;
}

h1, .h1 {
	font-size: 44px;
	line-height: 52px;
}

h2, .h2 {
	font-size: 36px;
	line-height: 44px;
}

h3, .h3 {
	font-size: 28px;
	line-height: 36px;
}

p {
	line-height: 25px;
}

img {
	max-width: 100%;
	height: auto;
}

a, a:hover, a:focus {
	color: $color_teal;
	text-decoration: none;
	outline: none;
}

ul.menu,
ul.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.color-teal {
	color: $color_teal;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media (min-width: 1480px) {
}

@media (max-width: 575px) {
	h1, .h1 {
		font-size: 36px;
		line-height: 40px;
	}
}
/** END GENERAL **/

/** BUTTON **/
.btn {
	position: relative;
	border: 1px solid $color_teal;
	border-radius: 25px;
	padding: 12px 28px;
	background-color: transparent;
	font-size: 16px;
	text-transform: uppercase;
	color: $color_teal;
	font-weight: 400;
	overflow: hidden;
	transition: all .3s;
	-webkit-transition: all .3s;
	&:before {
		content: '';
		position: absolute;
		top: -2px;
		right: calc(100% + 2px);
		bottom: -2px;
		left: -2px;
		background-color: $color_red;
		border-radius: 25px;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	span {
		display: inline-block;
		position: relative;
		z-index: 10;
	}
	&:hover {
		border-color: $color_red;
		color: #fff;
		&:before {
			right: -2px;
		}
	}
	&.btn {
		&--arrow {
			span {
				padding-right: 24px;
				&:before,
				&:after {
					content: '';
					width: 12px;
					height: 12px;
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -6px;
					background-repeat: no-repeat;
					background-position: 0;
					background-size: contain;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
				&:before {
					background-image: url(../svg/arrow-down-teal.svg);
				}
				&:after {
					background-image: url(../svg/arrow-down-white.svg);
					opacity: 0;
				}
			}
			&:hover {
				span {
					&:before {
						opacity: 0;
					}
					&:after {
						opacity: 1;
					}
				}
			}
		}
		&--email {
			span {
				padding-left: 34px;
				&:before,
				&:after {
					content: '';
					width: 25px;
					height: 17px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -8.5px;
					background-repeat: no-repeat;
					background-position: 0;
					background-size: contain;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
				&:before {
					background-image: url(../svg/icon-email-teal.svg);
				}
				&:after {
					background-image: url(../svg/icon-email-white.svg);
					opacity: 0;
				}
			}
			&:hover {
				span {
					&:before {
						opacity: 0;
					}
					&:after {
						opacity: 1;
					}
				}
			}
		}
		&--white {
			border-color: #fff;
			color: #fff;
			span {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
			&:hover {
				border-color: $color_red;
			}
		}
	}
}
/** END BUTTON **/

/** FORM **/
button, input {
	box-shadow: none;
	outline: none;
}

div.gform_wrapper {
	margin: 0;
	form {
		input[type="text"],
		textarea {
			display: block;
			width: 100%;
			height: 50px;
			border: 0;
			background-color: #fff;
			border-radius: 25px;
			padding: 0 30px !important;
			font-size: 16px !important;
		}
		textarea {
			resize: vertical;
		}
	}
	ul.gform_fields {
		> li {
			width: 100% !important;
			margin: 0 0 15px !important;
			padding: 0 !important;
			border: 0 !important;
			background: transparent !important;
		}
	}
	ul.gfield_checkbox {
		margin: 0;
		> li {
			&:last-child {
				margin-bottom: 0;
			}
		}
		input {
			margin: 0 6px 0 0 !important;
		}
		label {
			font-size: 14px;
			font-weight: 400 !important;
			margin: 0;
		}
	}
	.ginput_container,
	.gform_footer {
		margin: 0 !important;
		padding: 0 !important;
	}
	.gfield_description {
		padding: 5px 0 0 !important;
		font-size: 12px;
		color: $color_red;
	}
	.validation_error {
		margin: 0 0 30px !important;
		padding: 0 !important;
		border: 0 !important;
		color: $color_red !important;
		text-align: left !important;
	}
}
/** END FORM **/

/** HEADER **/
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	.header__topbar {
		position: relative;
		z-index: 15;
		a.subscribe-link {
			position: relative;
			padding-left: 37px;
			margin-right: 30px;
			font-size: 16px;
			color: #FFFFFF;
			font-weight: 400;
			opacity: 0.7;
			transition: opacity .2s;
			-webkit-transition: opacity .2s;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 27px;
				height: 19px;
				background-image: url(../svg/icon-mail-white.svg);
				background-repeat: no-repeat;
				background-position: 0;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
			&:hover {
				opacity: 0.85;
			}
		}
		div.asx-price {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			background-color: #007771;
			padding: 0 35px 0 55px;
			color: #fff;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 100%;
				background-color: $color_teal;
				background-image: url(../svg/icon-asx.svg);
				background-repeat: no-repeat;
				background-position: center;
			}
			span {
				display: inline-block;
				font-size: 16px;
				line-height: 40px;
				&.amount {
					font-weight: 600;
				}
			}
		}
	}
	.header__main {
		a.logo {
			position: relative;
			display: block;
			width: 280px;
			height: 108px;
			z-index: 20;
			transition: all .4s;
			-webkit-transition: all .4s;
			img {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				transition: all .2s;
				-webkit-transition: all .2s;
				&.sticky {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		button.toggle-menu {
			position: relative;
			width: 30px;
			height: 18px;
			border: 0;
			background-color: transparent;
			padding: 0;
			margin-left: 20px;
			span {
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #fff;
				border-radius: 20px;
			}
			&.collapsed {
				span {
					&:nth-child(1) {
						top: 0;
					}
					&:nth-child(2) {
						top: 50%;
						margin-top: -1px;
					}
					&:nth-child(3) {
						bottom: 0;
					}
				}
			}
			&:not(.collapsed) {
				span {
					&:nth-child(1),
					&:nth-child(3) {
						top: 50%;
						margin-top: -1px;
					}
					&:nth-child(1) {
						transform: rotate(45deg);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}

#menu {
	ul.menu {
		li {
			position: relative;
			a {
				display: inline-block;
				font-size: 16px;
				color: #fff;
				font-weight: 400;
				line-height: 24px;
				transition: all .2s;
				-webkit-transition: all .2s;
			}
		}
	}
	button.toggle-submenu {
		position: absolute;
		top: 12px;
		right: 11px;
		width: 10px;
		height: 10px;
		border: 0;
		padding: 0;
		background-color: transparent;
		display: none;
		&:before,
		&:after {
			content: '';
			width: 10px;
			height: 1px;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -0.5px;
			background-color: #fff;
			border-radius: 10px;
		}
		&:after {
			transform: rotate(90deg);
		}
		&.active:after {
			opacity: 0;
		}
	}
}

.is-sticky {
	#header {
		background-color: #101820;
		.header__topbar {
			display: none !important;
		}
		.header__main {
			margin-top: 0;
			padding: 10px 0;
			a.logo {
				width: 56px;
				height: 60px;
				img.sticky {
					opacity: 1;
					visibility: visible;
				}
				img:not(.sticky) {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
}

#header.show-menu {
	background-color: #101820;
}

@media (min-width: 1200px) {
	#header {
		.header__main {
			position: relative;
			margin-top: -20px;
			> div.container {
				max-width: 100%;
				padding: 0 60px;
			}
		}
	}
	#menu {
		position: absolute;
		top: 50%;
		right: 0;
		width: 100%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		z-index: 10;
		ul.sub-menu {
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 165px;
			background-color: #101820;
			margin-top: 20px;
			opacity: 0;
			visibility: hidden;
			transition: all .2s;
            -webkit-transition: all .2s;
			li {
				a {
					display: block;
					padding: 8px 15px;
					white-space: nowrap;
				}
				&:not(:first-child) {
					border-top: 1px solid #9B9B9B;
					transition: border-color .2s;
            		-webkit-transition: border-color .2s;
				}
				&:hover {
					border-top-color: transparent;
					> a {
						background-color: #007771;
					}
					+ li {
						border-top-color: transparent;
					}
				}
			}
			ul.sub-menu {
				top: 0;
				left: 100%;
			}
		}
		ul.menu {
			li:hover {
				> ul.sub-menu {
					margin-top: 0;
					opacity: 1;
					visibility: visible;
				}
			}
			> li {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 2px;
					background-color: $color_red;
					transition: all .2s;
            		-webkit-transition: all .2s;
				}
				> a {
					padding: 15px 0;
				}
				&:not(:last-child) {
					margin-right: 60px;
				}
				&:hover,
				&.current-menu-item {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}

@media (min-width: 1660px) {
	#menu {
		> div.container {
			max-width: 100%;
			padding: 0 230px;
		}
	}
}

@media (max-width: 1199px) {
	#menu {
		button.toggle-submenu {
			display: block;
		}
		ul.menu {
			padding-top: 10px;
			li {
				a {
					display: block;
					padding: 8px 0;
				}
			}
		}
		ul.sub-menu {
			display: none;
			border-left: 1px solid #9B9B9B;
			padding-left: 20px;
		}
	}
}

@media (max-width: 767px) {
	#header {
		.header__topbar {
			a.subscribe-link {
				display: none;
			}
			div.asx-price {
				padding: 0 20px 0 46px;
				&:before {
					width: 36px;
					background-size: 22px auto;
				}
				span {
					font-size: 14px;
					line-height: 36px;
				}
			}
		}
	}
}
/** END HEADER **/

/** PAGE SECTION **/
section {
	padding: 160px 0;
}
/** END PAGE SECTION **/

/** SECTION HEADING **/
.section-heading {
	padding-left: 100px;
	margin-bottom: 45px;
	h2 {
		margin-bottom: 0;
	}
	p {
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	span.dots {
		position: absolute;
		top: 4px;
		left: -70px;
		span {
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50%;
			opacity: 0;
			animation-name: fadeIn;
			animation-duration: 2s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			&:nth-child(1) {
				width: 15px;
				height: 15px;
				background-color: #A4C5C2;
				margin-bottom: 4px;
			}
			&:nth-child(2) {
				width: 12px;
				height: 12px;
				background-color: $color_teal;
				margin-bottom: 6px;
				animation-delay: 0.5s;
			}
			&:nth-child(3) {
				width: 8px;
				height: 8px;
				background-color: $color_red;
				animation-delay: 1s;
			}
		}
	}
	.inner {
		position: relative;
	}
}

@media (max-width: 575px) {
	.section-heading {
		span.dots {
			left: -30px;
		}
	}
}
/** END SECTION HEADING **/

/** WELCOME **/
#welcome {
	position: relative;
	padding: 200px 0 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/circle-overlay.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		opacity: 0.18;
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 10;
		&:before {
			content: '';
			position: absolute;
			bottom: 18px;
			left: -130px;
			width: 230px;
			height: 231px;
			background-image: url(../images/circle-cluster.png);
			background-repeat: no-repeat;
			background-size: contain;
			opacity: 0.4;
			z-index: 1;
		}
	}
	.welcome__text {
		position: relative;
		max-width: 600px;
		font-size: 20px;
		z-index: 10;
		h1 {
			margin-bottom: 50px;
		}
		p {
			margin-bottom: 60px;
			line-height: 28px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a.logo {
		margin-left: -53px;
	}
}

@media (min-width: 1200px) {
	#welcome {
		display: flex;
		align-items: center;
		min-height: 100vh;
	}
}

@media (min-width: 1480px) {
}

@media (max-width: 575px) {
}
/** END WELCOME **/

/** ABOUT **/
#about {
	.btn {
		margin-top: 30px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

@media (min-width: 992px) {
	#about .row > div:nth-child(1) {
		padding-right: 100px;
	}
}
/** END ABOUT **/

/** section-text-photo **/
.section-text-photo {
	position: relative;
	min-height: 700px;
	display: flex;
	align-items: center;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 65%;
		height: 100%;
		background-color: #101820;
		z-index: 1;
	}
	div.container {
		position: relative;
		z-index: 10;
	}
	div.text {
		width: 45%;
		padding-left: 100px;
		color: #fff;
		.section-heading {
			margin-left: -100px;
		}
		.btn {
			margin-top: 20px;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	div.photo {
		position: absolute;
		top: 50%;
		right: -250px;
		left: calc(50% + 15px);
		height: 550px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
}
/** END section-text-photo **/

/** MODAL **/
.modal {
	.modal-content {
		border: 0;
	}
	.modal-body {
		padding: 40px;
		font-size: 18px;
		button.close {
			position: absolute;
			top: 15px;
			right: 15px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}
/** END MODAL **/