/** GENERAL **/
$color_teal: #3e9f9f;
$color_red: #f03600;

@keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	50% {opacity:1;}
}

::-webkit-input-placeholder {
	color: #101820;
}

::-moz-placeholder {
	color: #101820;
}

:-ms-input-placeholder {
	color: #101820;
}

:-moz-placeholder {
	color: #101820;
}

body {
	font-family: "canada-type-gibson",sans-serif;
	font-weight: 300;
	color: #101820;
	font-size: 20px;
}

h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 600;
}

h1, .h1 {
	font-size: 52px;
	line-height: 60px;
}

h2, .h2 {
	font-size: 36px;
	line-height: 44px;
}

p {
	line-height: 28px;
}

img {
	max-width: 100%;
	height: auto;
}

a, a:hover, a:focus {
	color: $color_teal;
	text-decoration: none;
	outline: none;
}

ul.menu,
ul.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.color-teal {
	color: $color_teal;
}

.container {
	padding-left: 80px;
	padding-right: 80px;
}

@media (min-width: 1200px) {
	.container {
		padding-left: 160px;
		padding-right: 160px;
	}
}

@media (min-width: 1480px) {
	.container {
		max-width: 1440px;
		padding-left: 230px;
		padding-right: 230px;
	}
}

@media (max-width: 575px) {
	h1, .h1 {
		font-size: 36px;
		line-height: 40px;
	}

	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
}
/** END GENERAL **/

/** BUTTON **/
.btn {
	position: relative;
	border: 1px solid $color_teal;
	border-radius: 25px;
	padding: 12px 30px;
	background-color: transparent;
	font-size: 16px;
	text-transform: uppercase;
	color: $color_teal;
	font-weight: 400;
	overflow: hidden;
	transition: all .3s;
	-webkit-transition: all .3s;
	&:before {
		content: '';
		position: absolute;
		top: -2px;
		right: calc(100% + 2px);
		bottom: -2px;
		left: -2px;
		background-color: $color_red;
		border-radius: 25px;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	span {
		display: inline-block;
		position: relative;
		z-index: 10;
	}
	&:hover {
		border-color: $color_red;
		color: #fff;
		&:before {
			right: -2px;
		}
	}
	&.btn {
		&--arrow {
			span {
				padding-right: 22px;
				&:before,
				&:after {
					content: '';
					width: 12px;
					height: 12px;
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -6px;
					background-repeat: no-repeat;
					background-position: 0;
					background-size: contain;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
				&:before {
					background-image: url(../svg/arrow-down-teal.svg);
				}
				&:after {
					background-image: url(../svg/arrow-down-white.svg);
					opacity: 0;
				}
			}
			&:hover {
				span {
					&:before {
						opacity: 0;
					}
					&:after {
						opacity: 1;
					}
				}
			}
		}
		&--email {
			span {
				padding-left: 34px;
				&:before,
				&:after {
					content: '';
					width: 25px;
					height: 17px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -8.5px;
					background-repeat: no-repeat;
					background-position: 0;
					background-size: contain;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
				&:before {
					background-image: url(../svg/icon-email-teal.svg);
				}
				&:after {
					background-image: url(../svg/icon-email-white.svg);
					opacity: 0;
				}
			}
			&:hover {
				span {
					&:before {
						opacity: 0;
					}
					&:after {
						opacity: 1;
					}
				}
			}
		}
		&--white {
			border-color: #fff;
			color: #fff;
			span {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
			&:hover {
				border-color: $color_red;
			}
		}
	}
}
/** END BUTTON **/

/** FORM **/
button, input {
	box-shadow: none;
	outline: none;
}

div.gform_wrapper {
	margin: 0;
	form {
		input[type="text"],
		textarea {
			display: block;
			width: 100%;
			height: 50px;
			border: 0;
			background-color: #fff;
			border-radius: 25px;
			padding: 0 30px !important;
			font-size: 16px !important;
		}
		textarea {
			resize: vertical;
		}
	}
	ul.gform_fields {
		> li {
			width: 100% !important;
			margin: 0 0 15px !important;
			padding: 0 !important;
			border: 0 !important;
			background: transparent !important;
		}
	}
	ul.gfield_checkbox {
		margin: 0;
		> li {
			&:last-child {
				margin-bottom: 0;
			}
		}
		input {
			margin: 0 6px 0 0 !important;
		}
		label {
			font-size: 14px;
			margin: 0;
		}
	}
	.ginput_container,
	.gform_footer {
		margin: 0 !important;
		padding: 0 !important;
	}
	.gfield_description {
		padding: 5px 0 0 !important;
		font-size: 12px;
		color: $color_red;
	}
	.validation_error {
		margin: 0 0 30px !important;
		padding: 0 !important;
		border: 0 !important;
		color: $color_red !important;
		text-align: left !important;
	}
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label {
	font-weight: 400 !important;
}

label#label_1_5_1 {
	color: #fff;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}
/** END FORM **/

/** SECTION HEADING **/
.section-heading {
	position: relative;
	margin-bottom: 45px;
	margin-top: -30px;
	h2 {
		margin-bottom: 0;
	}
	p {
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin-bottom: 13px;
	}
	span.dots {
		position: absolute;
		top: 35px;
		left: -70px;
		span {
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50%;
			opacity: 0;
			animation-name: fadeIn;
			animation-duration: 2s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			&:nth-child(1) {
				width: 15px;
				height: 15px;
				background-color: #A4C5C2;
				margin-bottom: 4px;
			}
			&:nth-child(2) {
				width: 12px;
				height: 12px;
				background-color: $color_teal;
				margin-bottom: 6px;
				animation-delay: 0.5s;
			}
			&:nth-child(3) {
				width: 8px;
				height: 8px;
				background-color: $color_red;
				animation-delay: 1s;
			}
		}
	}
}

@media (max-width: 575px) {
	.section-heading span.dots {
		left: -30px;
	}
}
/** END SECTION HEADING **/

/** WELCOME **/
#welcome {
	padding: 60px 0 120px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	.container {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: 100px;
			left: 15px;
			width: 230px;
			height: 231px;
			background-image: url(../images/bg-dots.png);
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
		}
	}
	.welcome {
		&__text {
			position: relative;
			max-width: 750px;
			padding-top: 90px;
			z-index: 10;
			h1 {
				margin-bottom: 60px;
				span {
					color: $color_red;
				}
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
			.text {
				max-width: 590px;
				margin-bottom: 60px;
			}
		}
	}
	a.logo {
		margin-left: -53px;
	}
}

@media (min-width: 1200px) {
	#welcome {
		display: flex;
		align-items: center;
		min-height: 100vh;
	}

	#welcome .container:before {
		left: 70px;
	}
}

@media (min-width: 1480px) {
	#welcome .container:before {
		left: 140px;
	}
}

@media (max-width: 575px) {
	#welcome a.logo {
		margin-left: -20px;
	}

	#welcome .welcome__text {
		padding-top: 60px;
	}
}
/** END WELCOME **/

/** ABOUT **/
#about {
	padding: 200px 0 160px;
	.btn {
		margin-top: 30px;
	}
}

@media (min-width: 992px) {
	#about .row > div:nth-child(1) {
		padding-right: 100px;
	}
}
/** END ABOUT **/

/** CONTACT **/
#contact {
	background-color: #101820;
	padding: 160px 0 50px;
	color: #fff;
	p.copyright {
		font-size: 14px;
		color: #9B9B9B;
		padding-top: 100px;
	}
	.contact {
		&__text {
			background-image: url(../images/bg-dots.png);
			background-repeat: no-repeat;
			background-position: bottom right;
			font-size: 18px;
		}
	}
}

@media (min-width: 992px) {
	#contact .contact__form {
		padding-left: 100px;
	}
}
/** END CONTACT **/

/** MODAL **/
.modal {
	.modal-content {
		border: 0;
	}
	.modal-body {
		padding: 40px;
		font-size: 18px;
		button.close {
			position: absolute;
			top: 15px;
			right: 15px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}
/** END MODAL **/


/* MOBILE VIEW */
@media (max-width: 575px) {
	.section-heading span.dots {
		left: -30px;
	}
	
	#about, #contact {
		padding: 100px 0 60px;
	}
	h2, .h2 {
		font-size: 30px;
        line-height: 38px;
	}
}